﻿ a:link,a:active,a:visited{color:#2a83c9;}
a:hover{text-decoration:underline;}
.shadow{box-shadow:5px 5px 5px #ccc;-moz-box-shadow:5px 5px 5px #ccc;-webkit-box-shadow:5px 5px 5px #ccc;padding:12px;border:1px solid #EEE;}
.input_full{margin:3px;}
.input_label{float:left;width:23%;text-align:right;font-weight:bold;}
.input_label label{font-weight:bold;margin:3px;}
.input_text{float:left;width:77%;}
.input_error{float:left;width: 100%;color:red}

.dashboarddivheader { font-size:16px;font-weight:700;
}


body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .8em;
}

a:link, a:active, a:visited {
    color: #2a83c9;
}

.clearFloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

a:hover {
    text-decoration: none;
}

#header {
    width: 980px;
    margin: 0 auto 10px auto;
}

    #header .cufon {
        float: left;
        font-size: 25px;
        color: #0d58a6;
        margin: 10px 0;
    }

    #header .setup {
        background: #FFF;
        padding: 10px;
        float: right;
        margin: 10px 0;
        color: #CCC;
        font-size: .9em;
    }

        #header .setup a {
            text-decoration: none;
        }

#footer {
    font-size: .8em;
    width: 980px;
    margin: 0 auto;
    border-top: 1px #EEE solid;
    padding-top: 5px;
}

#footerLeft {
    float: left;
}

#footerRight {
    float: right;
}

#content {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 10px;
}

    #content #nav {
        width: 800px;
    }

        #content #nav a.active, #content #nav a.inactive {
            display: block;
            float: left;
            padding: 5px 10px;
            text-decoration: none !important;
            background: #fff;
            color: #000;
            font-weight: bold;
            margin-right: 3px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            font-size: 12px;
            border: 1px #2a83c9 solid;
            border-bottom: 0;
        }

        #content #nav a.inactive {
            background: #a6cef8;
            color: #000;
            font-weight: bold;
        }

        #content #nav a:hover {
            background: #fff;
            color: #000;
        }

    #content #tabContent {
        background: #FFF;
        float: left;
        width: 788px;
        border-top: 2px #2a83c9 solid;
        min-height: 350px;
        padding: 1px;
    }

    #content #quickLinks {
        float: right;
        width: 170px;
    }

        #content #quickLinks h4 {
            padding: 5px;
            background: #EEE;
            color: #000;
            margin: 0;
            width: 170px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-align: center;
        }

        #content #quickLinks ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 170px;
        }

            #content #quickLinks ul li {
                padding: 4px 0 4px 5px;
                border-bottom: 1px #EEE solid;
                text-align: left;
                width: 170px;
                margin-left: 3px;
                padding-left: 7px;
            }

                #content #quickLinks ul li a {
                    text-decoration: none !important;
                }

#tabContent table {
    width: 100%;
    border: 1px #a6cef8 solid;
}

    #tabContent table th {
        color: #000;
        background: #EEE;
        padding: 3px;
        text-align: left;
    }

    #tabContent table td {
        color: #000;
        padding: 3px;
    }

#tabContent .default_style tr td table {
    max-width: 70px;
    min-width: 60px;
    border-style: none;
}

    #tabContent .default_style tr td table tr td {
        background-color: #f5f5f5;
    }

        #tabContent .default_style tr td table tr td span {
            color: #000;
            font-size: 18pt;
            padding: 3px;
            font-weight: bolder;
        }

        #tabContent .default_style tr td table tr td a {
            color: #000;
            font-size: 14pt;
            text-decoration: none;
            padding: 3px;
        }

#tabContent .odd {
    background: #f5f5f5;
}

#tabContent table .empty {
    text-align: center;
    font-weight: bold;
}

#tabContent .search {
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 5px 15px;
    font-weight: bold;
}

#tabContent .tableLabel {
    white-space: nowrap;
    width: 1%;
    text-align: right;
}

#tabContent #search input, #tabContent #search select {
    width: 200px;
}

#tabContent #search {
    border: 0;
    width: 35%;
    margin: 0 auto;
}

    #tabContent #search td {
        padding: 5px;
        border: 0;
    }

#tabContent .lefttable input, #tabContent .lefttable select {
    width: 200px;
}

#tabContent .lefttable {
    border: 0;
}

    #tabContent .lefttable td {
        padding: 5px;
        border: 0;
    }

.searchSubmit {
    text-align: center;
}

#searchServices {
    width: 300px !important;
    width: 330px;
    margin: 0 auto;
}

.searchSubmitServices {
    float: right;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 15px;
}

    .searchSubmitServices:hover {
        float: right;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 15px;
        color: #FFF;
        cursor: pointer;
    }

.searchSubmitApp {
    float: right;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 15px;
}

    .searchSubmitApp:hover {
        float: right;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 15px;
        color: #FFF;
        cursor: pointer;
    }

.searchSubmitApp2 {
    float: left;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 15px;
}

    .searchSubmitApp2:hover {
        float: left;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 15px;
        color: #FFF;
        cursor: pointer;
    }

.searchSubmitClients {
    float: right;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 15px;
}

    .searchSubmitClients:hover {
        float: right;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 15px;
        color: #FFF;
        cursor: pointer;
    }

.searchSubmitLocation {
    float: right;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 15px;
}

    .searchSubmitLocation:hover {
        float: right;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 15px;
        color: #FFF;
        cursor: pointer;
    }

.deleteSubmit {
    float: left;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 3px;
}

    .deleteSubmit:hover {
        float: left;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 3px;
        color: #FFF;
        cursor: pointer;
    }

.submitServices {
    float: left;
    background: #FFF;
    border: 1px #0d58a6 solid;
    padding: 3px 3px;
}

    .submitServices:hover {
        float: left;
        background: #a6cef8;
        border: 1px #0d58a6 solid;
        padding: 3px 3px;
        color: #FFF;
        cursor: pointer;
    }

.searchTextServices {
    float: left;
    width: 200px;
    padding: 3px;
}

#sep {
    width: 100%;
    height: 1px;
    background: #FFF;
    margin: 7px 0;
}

.shadow {
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    padding: 12px;
    border: 1px solid #EEE;
}
/*
    NormalMessage
*/
.normalMessage {
    display: inline-block;
    width: 80%;
    font-size: 14px;
    font-family: inherit;
    margin: 10px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    float: left;
}

    .normalMessage.success {
        color: #2f7f33;
        background-color: #c7e6c8;
        border-color: #a4d6a5;
    }

    .normalMessage.info {
        color: #000;
        background-color: #fefefe;
        border-color: #f9f9f9;
    }

    .normalMessage.warning {
        color: #f06c00;
        background-color: #ffe0b3;
        border-color: #ffcc80;
    }

    .normalMessage.error {
        color: #c72929;
        background-color: #ffccd1;
        border-color: #ff99a3;
    }


/*
    Buttons
*/

.normalButton,
.simpleButton,
.textButton {
    vertical-align: middle;
}

    .normalButton a,
    .simpleButton a,
    .textButton a,
    a.normalButton,
    a.simpleButton,
    a.textButton {
        text-decoration: none !important;
    }

.normalButton {
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
    display: inline-block;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 2rem;
    color: white;
}

    .normalButton.small {
        font-size: 1.2rem;
        padding: 0.6rem 1.5rem;
        margin: 0.4rem 0.7rem;
    }

    .normalButton.primary {
        background: hsl(90, 46%, 58%);
        background-image: linear-gradient(to right, hsl(105, 46%, 58%), hsl(85, 46%, 58%));
    }

        .normalButton.primary:hover,
        .normalButton.primary:active {
            background: hsl(90, 46%, 58%);
        }

    .normalButton.secondary {
        background: hsl(198, 89%, 68%);
        background-image: linear-gradient(to right, hsl(208, 89%, 68%), hsl(188, 89%, 68%));
    }

        .normalButton.secondary:hover,
        .normalButton.secondary:active {
            background: hsl(198, 89%, 68%);
        }

    .normalButton.success {
        background: hsl(122, 39%, 49%);
        background-image: linear-gradient(to right, hsl(144, 39%, 49%), hsl(100, 39%, 49%));
    }

        .normalButton.success:hover,
        .normalButton.success:active {
            background: hsl(122, 39%, 49%);
        }

    .normalButton.info {
        background: hsl(207, 90%, 54%);
        background-image: linear-gradient(to right, hsl(217, 90%, 54%), hsl(197, 90%, 54%));
    }

        .normalButton.info:hover,
        .normalButton.info:active {
            background: hsl(207, 90%, 54%);
        }

    .normalButton.warning {
        background: hsl(36, 100%, 50%);
        background-image: linear-gradient(to right, hsl(30, 100%, 50%), hsl(42, 100%, 50%));
    }

        .normalButton.warning:hover,
        .normalButton.warning:active {
            background: hsl(36, 100%, 50%);
        }

    .normalButton.destructive,
    .normalButton.error {
        background: hsl(4, 90%, 58%);
        background-image: linear-gradient(to right, hsl(0, 90%, 58%), hsl(12, 90%, 58%));
    }

        .normalButton.destructive:hover,
        .normalButton.destructive:active,
        .normalButton.error:hover,
        .normalButton.error:active {
            background: hsl(4, 90%, 58%);
        }

.simpleButton {
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background: hsl(0, 0%, 94%);
    cursor: pointer;
    padding: 0.7rem 2rem;
    display: inline-block;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 2rem;
    color: hsl(0, 0%, 30%);
}

    .simpleButton:hover,
    .simpleButton:active {
        background: hsl(0, 0%, 82%);
    }

    .simpleButton.small {
        font-size: 1.2rem;
        padding: 0.6rem 1.5rem;
        margin: 0.4rem 0.7rem;
    }

    .simpleButton.primary {
        color: hsl(90, 46%, 58%);
    }

    .simpleButton.secondary {
        color: hsl(198, 89%, 68%);
    }

    .simpleButton.success {
        color: hsl(122, 39%, 49%);
    }

    .simpleButton.info {
        color: hsl(207, 90%, 54%);
    }

    .simpleButton.warning {
        color: hsl(36, 100%, 50%);
    }

    .simpleButton.destructive,
    .simpleButton.error {
        color: hsl(4, 90%, 58%);
    }

.textButton {
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background: transparent;
    cursor: pointer;
    padding: 0.7rem 2rem;
    display: inline-block;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    transition: all 0.3s;
    color: hsl(0, 0%, 30%);
    border-radius: 0.3rem;
}

    .textButton:hover,
    .textButton:active {
        background: hsl(0, 0%, 88%);
    }

    .textButton.small {
        font-size: 1.2rem;
        padding: 0.6rem 1.5rem;
        margin: 0.4rem 0.7rem;
    }

    .textButton.primary {
        color: hsl(90, 46%, 58%);
    }

    .textButton.secondary {
        color: hsl(198, 89%, 68%);
    }

    .textButton.success {
        color: hsl(122, 39%, 49%);
    }

    .textButton.info {
        color: hsl(207, 90%, 54%);
    }

    .textButton.warning {
        color: hsl(36, 100%, 50%);
    }

    .textButton.destructive,
    .textButton.error {
        color: hsl(4, 90%, 58%);
    }