/******************
Template: Wave 
Author: Adam Robinson
Date: December 2009
*******************/

* {margin: 0; padding: 0;}

body{
	background:#fff;
	text-align:center;
	font-family:'trebuchet ms', arial, sans-serif;
	font-size:62.5%;
}

h1, h2, h3, h5{
	font-size:3em;
	font-family:'myriad pro', 'trebuchet ms',  arial,  sans-serif;
	line-height: 1.15em;
	color:#313131;
	margin:0 0 0.2em 0;
	letter-spacing:-1px;
}

h2 {
	font-size:2.7em;
	padding:0 0 0 0px;
	margin:0 0 0.4em 0;
	letter-spacing:-1px;
}

h3 {
	font-size:2.2em;
	margin:0 0 0.3em 0;
	letter-spacing:0px;
}

h4{
	font-family:'trebuchet ms', arial, helvetica, sans-serif;
	font-size:1.8em;
	color:#3e3e3e;
	font-weight:bold;
	margin:1.4em 0 0.5em 0;
}

h5{
	font-size:1.4em;
	color:#4e4e4e;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:0px;
}

p{
	font-size:1.3em;
	line-height:1.8em;
	margin:0 0 1.2em 0;
}

blockquote{
	font-size:1.0em;
	line-height:1.8em;
	background: #eee;
	padding:10px 10px 0;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:20px 0;
}

/*Special Cases*/

#top-left h1 {
		margin:0 0 0.7em 0;
}

p.posted-by{
	color:#434343;
	margin-bottom:0.5em;
}

.side-bar-section h3{
		margin:0 0 0.6em 0;
	}






/*-----------------
  Fixed Divs
-----------------*/

#black-header-wrap{
	width:100%;
	height:85px;
	background:#303030;/*1c1c1c;*/
}


#header-970{
	width:970px;
	margin:0 auto;
}

#logo{
	margin:30px 0 0 0;
	float:left;
}

.wrap-970{
	width:970px;
	margin:0px auto 0;
	text-align:left;
	border:0px solid #000;
	position:relative;
	border:0px solid #000;
	display:block;
}

#top-left{
	width:245px;
	background: url(../images/site/top-left-bg.jpg) no-repeat bottom right;
	padding:30px 25px 24px 0;
	height:205px;
	overflow:hidden;
}
	
#main-column{
	width:635px;
	background:url(../images/site/main-content-bg.png) no-repeat left -70px ;
	float:right;
	padding:0px 35px 30px 35px;
	text-align:left;
	margin:-376px 2px 0 0px;
	min-height:600px;
}

#strip, #strip-fullwidth{
	height:145px;
	width:100%;
	background:#96A9FF;/*147baf;*/
	margin:1px 0 0 0;
}

#strip-fullwidth{
	margin:205px 0 0 0;
}

#attention-buttons{
	width:270px;
	text-align:left;
	height:122px;
	background: url(../images/blue-theme/strip-shadow1.jpg) top right no-repeat;
	padding:23px 0 0 0;
}

#lower-content-wrap{
	width:100%;
	background: url(../images/site/lower-bg.jpg) repeat-x;
	margin-top:1px;
}

#side-bar-wrap{
	width:255px;
	float:left;
	padding-bottom:30px;
}

	.side-bar-section, .side-bar-ads{
		display:block;
		padding:30px 0px 5px 0;
		width:245px;
		margin:0 0 35px 0;
	}

	
	.side-bar-ads{
		width:255px;
	}


#pre-footer{
	width:100%;
	background:#eee;
	border-top:1px solid #cacaca;
	text-align:left;
}

.pre-footer-col, .pre-footer-col-last{
	width:175px;
	float:left;
	display:block;
	margin:30px 23px 30px 0;
	border:0px solid #000;
}

.pre-footer-col-last{
	margin-right:0px;
}

#black-footer{
	height:40px;
	background:#000;
	width:100%;
	color:#fff;
	padding:20px 0 0 0;
	font-size:0.9em;
}


#image-main, .blog-image{ 	
	padding:4px; 
	height: 220px; 
	width:625px; 
	background:#eee; 
	position:relative; 
	margin:0 0 25px 0; 
	border:1px solid #ddd;
}

.blog-image {height:150px; display:block; margin:0 0 10px 0;}
.blog-post{display:block; margin:0 0 50px 0;}
.blog-comments{ margin-bottom:50px;}

.web-address{
	display:block;
	font-size:1.3em;
	padding:7px 0 0 20px;
	float:left;
}


#fullwidth{
	width:900px;
	background:url(../images/site/fullwidth-bg.png) no-repeat;
	margin:-350px auto 0 auto;
	padding:40px 35px 30px 35px;
}

/*------ 
   lists
----------*/
ul, ol { 
	line-height:1.8em;
	margin:0 0 1.8em 15px;
}

ol{ 	margin:0 0 1.8em 20px;}

li {
	font-size:1.3em;
	margin:0 0 0em;
	line-height:1.8em;
}

ul.sidebar, ol.sidebar{
	list-style:none;
	margin: 0;
}

ul.sidebar li{
	margin:0 0 1.8em 0;
}

ul.sidebar li.blog-cat{
	margin:0 0 0.2em 0;
	padding:0 0 0 15px;
	background: url(../images/site/footer-li-bg.png) no-repeat center left;
}

ul.features{
	list-style:none;
	margin:0;
}

ul.features li, ul.features li.col-right{
	width:232px;
	display:block;
	float:left;
	margin:25px 48px 30px 0;
	position:relative;
	padding-left:60px;
}

ul.features li.col-right{
	margin-right:0;
}

ul.features li h4{font-size:1.3em; margin:0 0 0.5em; }

.pre-footer-col ul, .pre-footer-col-last ul { 
	list-style:none; margin:0;
}
.pre-footer-col ul li, .pre-footer-col-last ul li { 
	margin:0 0 0.4em 0;
}
.pre-footer-col ul li a, .pre-footer-col-last ul li a{
	padding:0 0 0 15px;
	background: url(../images/site/footer-li-bg.png) no-repeat center left;
	font-weight:normal;
	color:#929292;
}

.pre-footer-col ul li a:hover, .pre-footer-col-last ul li a:hover{
	color:#4e4e4e;
	text-decoration:none;
}

ul#pagination{
	list-style:none;
	margin:0;
}
ul#pagination li{
	display:inline;
}
ul#pagination li a{
	float:left;
	padding:0 5px;
	margin:0 5px 0 0;
	background:#c7c7c7 url(../images/site/pagination-bg.png) repeat-x;
	color:#000;
	font-weight:normal;
	border:1px solid #b3b3b3;
	text-transform:uppercase;
	font-size:0.9em;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	
}

ul#pagination li a:hover, ul#pagination li a.active{
	background:#3aa5e0;
	border:1px solid #3aa5e0;
	color:#fff;
	text-decoration:none;
}
ul#pagination li a.prev{
	margin:0 15px 0 0;
}
ul#pagination li a.next{
	margin:0 5px 0 10px;
}




/*--------
 Navigation
-----------*/

ul#nav{
	width:690px;
	display:block;
	margin:0 0 0 138px;
	padding:44px 0 0 0px;
	float:left;
}

ul#nav li{
	display:inline;
	font-size:1.2em;
}

ul#nav li a{
	float:left;
	margin:0 10px 0 0;
	padding:0 15px;
	line-height:40px;
	height:40px;
	outline:0;
	font-size:1.2em;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

ul#nav li a.active{
padding:0 14px;
	background:#fff url(../images/site/nav-active.jpg) repeat-x;
	border:1px solid #fff;
	border-bottom:0px;
	color:#000;
}

ul#nav li a:hover{
	color:#dedede;
}

ul#nav li a.active:hover{
	color:#000;
}




/*------
  Links
---------*/

a{ color:#3aa5e0; text-decoration:none; font-weight:bold; outline:0;}
a:hover{ text-decoration:underline;}
span.text-main a:hover{
	text-decoration:none;
	color:#fff;
}



/*--------
 Image Links
----------*/
a img{
	border:0;
	outline:0;
}

a.choose-account{
	width:131px;
	height:32px;
	display:block;
	text-indent:-9999px;
	margin:0 auto;
	background: url(../images/site/choose-account-btn.png) no-repeat top left;
}

a.choose-account:hover{
	background: url(../images/site/choose-account-btn.png) no-repeat bottom left;
}

a.signup, a.tour{
	width:245px;
	height:43px;
	background: url(../images/site/signup-btn.png) no-repeat top left;
	display:block;
	text-indent:-9999px;
	margin:0 0 15px 0;
}

a.signup:hover{
	background: url(../images/site/signup-btn.png) no-repeat bottom left;
}

a.tour{
	background: url(../images/site/quicktour-btn.png) no-repeat top left;
}

a.tour:hover{
		background: url(../images/site/quicktour-btn.png) no-repeat bottom left;
}

a.read-more{
	width:116px;
	height:23px;
	background: url(../images/site/readmore-btn.png) no-repeat top left;
	display:block;
	color:#000;
	font-weight:normal;
	text-transform:uppercase;
	font-size:0.9em;
	padding:0px 5px 0 15px;
	margin:15px 0 0;
	}
a.read-more:hover{
	text-decoration:none;
		background: url(../images/site/readmore-btn.png) no-repeat bottom left;
}



/*---- 
Images
--------*/

#attention-buttons img{
	margin:0 0 15px 0;
}

img.split{
	margin:0;
}


ul.features li img{
	position:absolute;
	top:-5px;
	left:-5px;
	
}


img.center, img.left, img.right{
	
	padding:4px;
	 background:#eee;
	border:1px solid #ddd;
	margin:0 0px 15px 0;
}

img.right{
	float:right;
	margin:0 0px 15px 15px;
}

img.left{
	float:left;
	margin:0 15px 15px 0;
}


/*-------
 Classses and spans
--------*/

.clear{ clear:both; height:0px;}

.themecolor {
	color:#3aa5e0;
}

.media{
	display:block;
	font-style:italic;
	text-align:right;
	margin:0px 0 30px 0;
	color:#000;
	font-weight:bold;
}

.right{
	float:right;
}

.date{
	display:block;
	padding-left: 15px;
	background: url(../images/site/footer-li-bg.png) no-repeat left center;
	color:#000;
	font-weight:bold;
}

.rss{ font-size:1.2em;  background: url(../images/site/rss.png) no-repeat left center; padding:4px 0 4px 30px;}

span.text-main{
	position:absolute;
	font-family: 'myriad pro', 'trebuchet ms';
	bottom:4px;
	left:4px;
	font-size:2.1em;
	font-weight:bold;
	background:#000;
	color:#fff;
	padding:10px 5px 10px 10px;
	opacity:0.85;
	line-height:1.1em;
	width:440px;
	text-align:left;	
	
}

span.sub-heading{
	display:block;
	font-size:0.6em;
	margin-top:-5px;
	letter-spacing:0px;
}

span.comment-name{
	display:block;
	font-weight:bold;
}



/*------
 forms
------*/
fieldset{
	border:0;
	margin:20px 0 0;
}

label{
	font-size:1.3em;
	font-weight:bold;
	margin:0 0 2px 0;
		clear:left;
}

input, textarea{
	width:200px;
	padding:8px 5px;
	margin:0 0 20px 0;
	font-size:1.2em;
	background: url(../images/site/inputbg.png) repeat-x;
	border:1px solid #a7a7a7;
	font-family: 'trebuchet ms', arial, sans-serif;
	font-size:13px;
}

textarea{
	width:400px;
	height:100px;
}

input.username{ float:left;}
input.small{ width:50px;}

input.submit{
	background:#c7c7c7 url(../images/site/pagination-bg.png) repeat-x;
	color:#000;
	font-weight:normal;
	border:1px solid #b3b3b3;
	text-transform:uppercase;
	font-size:1.2em;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	width:auto;
	cursor:pointer;
	clear:both;
}

input.submit:hover{
		background:#3aa5e0;
	border:1px solid #3aa5e0;
	color:#fff;
	text-decoration:none;
}



/*form validation*/
.success, .bademail, .badserver{
	display:block;
	color:#000;
	font-weight:bold;
	overflow:hidden;
}
.success p, .bademail p, .badserver p{
	padding:7px 0 0 0;
}


.success img, .bademail img, .badserver img{
	border:0;
	float:left;
	padding:0 5px 0 0;
	margin:0;
}


/*------
 tables
------*/
table.funky{  border:0px solid #000; font-size:1.2em; color:#fff; margin:10px auto 10px;}
table.funky th{  width:159px; font-weight:bold; text-align:center; height:60px; background: url(../images/site/table-th.png) no-repeat center top; color:#000; padding:10px 0 0 0; font-size:1.2em;}
table.funky th.active{ width:159px; background: url(../images/blue-theme/table-blue-th-active.png) no-repeat top center; color:#fff; padding:0px 0 0 0;}
table.funky th.blank, table.funky td.blank{ background:none;}
table.funky td{ border:0px solid #000; height:50px;  background: url(../images/site/table-td.png) no-repeat top center; text-align:center; color:#000;}
table.funky td.active{ background: url(../images/blue-theme/table-blue-td-active.png) no-repeat; font-weight:bold; color:#fff;}
table.funky td.feature{  background: url(../images/blue-theme/table-td-feature.png) no-repeat center top; color:#fff; font-weight:bold; font-size:1.1em;}



table.classic {border:1px solid #aaa; width:100%; margin:10px 0 10px;}
table.classic th{ font-weight:bold; text-align:center; height:60px; background:#ddd; font-size:1.4em; color:#000;}
table.classic td{ height:60px; text-align:center; border-bottom:1px solid #ddd; font-size:1.2em}
table.classic td.feature { width:160px; font-weight:bold; font-size:1.3em; }
table.classic th.blank, table.classic td.blank{ background:none;}
