body{letter-spacing:1px;}
a {
    color:#000;
    text-decoration: none;
}
.ptrn_a .main_content {
background-image:none;
}
.row-fluid {
/* width: 95%;*/
}
.calendarDatePickerButtonDefault {
    padding-bottom: 10px;
}
.main_content {
padding: 25px 20px 20px;
background: #fff;
border-left: 1px solid transparent;
margin-left: 240px;
}
.title_integration
{
    font-weight:bold;
    font-size:1.1em;
 }
#maincontainer #contentwrapper #ContentPlaceHolder1_ctl00_panel_default .span3{
margin-left:2px;

}


#ContentPlaceHolder1_ctl01_r_tab_link_tab_5,
#ContentPlaceHolder1_ctl01_r_tab_link_tab_6,
#ContentPlaceHolder1_ctl01_r_tab_link_tab_7,
#ContentPlaceHolder1_ctl01_r_tab_link_tab_8,
#ContentPlaceHolder1_ctl01_r_tab_link_tab_9
{
    background-color:#fff;
     color:#404040 ;
     /*text-shadow: 1px 0px #2582b5;*/
border: 1px solid #404040;
border-top-left-radius: 5px 7px;
/* border-bottom-right-radius: 10% 5%; */
border-top-right-radius: 5px 8px;
    }
 a.identity {
  font-weight: 500;
  font-size: 1.2em;
}

.wpm_myreservations .shortcuts ,
.wpm_cashreceit .shortcuts ,
.wpm_validatelist  .shortcuts ,
.wpm_talenttocome  .shortcuts {
  margin-top: 0;
  text-align: left;
  margin-bottom: 17px;
}
.wpm_myreservations .label,
.wpm_cashreceit .label,
.wpm_validatelist .label,
.wpm_talenttocome  .label {
  padding: 8px 4px;
}

.wpm_myreservations .label-inverse a,
.wpm_cashreceit .label-inverse a,
.wpm_validatelist .label-inverse a,
.wpm_talenttocome  .label-inverse a {
  font-size:1.2em;
}


.wpm_talenttocome .header-title h2 {
  width: 80%;
  float: left;
}
.wpm_myreservations .header-title h2{
  width: 76%; 
  float: left;
 }
.wpm_myreservations .label-success , 
.wpm_talenttocome .label-success {
  font-size:1.2em;
} 
.wpm_myreservations .label-success a,
.wpm_talenttocome .label-success a {
  color:White;
}


.print{
  font-size:1.3em;
  font-weight: bold;
  color:blue;
}



.dw_myschedule_address{ font-weight:bold; font-style:italic}

.zonegroup{font-weight:700;text-transform:uppercase;letter-spacing:0.2em;color:#fff;background:#404040;padding-left:10px;}
.company_prefered_services{clear:both;margin-left:8%;}

.error_password{font-size:12px;font-weight:500;color:#2189B4; padding-bottom:10px; clear:right;max-width:300px;}
.locale{url(blue-arrow.png) no-repeat right center;}
.cols60{float:left;width:60%;padding:0px 2px;}
.cols40{float:left;width:38%;padding:0px 2px;}
 .form {background-color:#fff;padding:0px;font-size:0.9em;}
 .form h1,h2,h3,h4,h5{text-transform:uppercase;color:#808080;font-size:0.9em;}
.form  li a{line-height: 15px;color:blue;text-transform:lowercase;list-style-type: none;}
.form table{min-width:320px;}
.form .col20{float:left;width:19%;}
.form .col25{float:left;width:24%;}
.form .col30{float:left;width:29%;}
.form .col40{float:left;width:39%;}
.form .col50{float:left;width:49%;}
.form .col60{float:left;width:59%;}
.form .col80{float:left;width:79%;}

.form .game-one-third{border:1px solid #f1f1f1;margin:3px;}
.form .game-two-third{border:1px solid #f1f1f1;margin:3px;}
.form .game-three-third{border:1px solid #f1f1f1;margin:3px;}
.form .game-confirm{background:blue;color:white}
.form .game-delete{background:red;color:white}
.form .preferable-width{padding:10px;background:#C6E7FF;}
.form .locale-check{text-transform:uppercase;color:Blue;padding:0px 4px;}
.form .locale-strike{text-transform:uppercase;color: red;text-decoration:line-through;padding:0px 4px;}
                   
/******GLOBAL**********/
.navbar.navbar-fixed-top  div  div  ul li.dropdown  a  span{color: #f1f1f1;font-weight: bold;font-style: italic;text-shadow: 1px 1px #000;}
.form  label[for*="cb_player"]{font-size:0.8em;font-weight:normal;color:#000;}
.form .message{padding:15px;letter-spacing:0.15em;text-align:left;font-size:1.3em;margin:10px 0px; background:#FFE0E0;border-radius:5px;color:#721616;}
.form .message a{text-decoration:underline;color:blue;}
.form .message a:hover{text-decoration:none;color:#404040;}
.form .message .attention{text-transform:uppercase;font-weight:bolder;font-size:1.2em;color:#991910;font-style:normal;}
.form .message .item{text-transform:capitalize;color:#991910;font-weight:bold;}

.form .standing-league{float:left;width:100%;text-transform:uppercase;font-weight:700;text-align:center;}
.form .standing-categ {float:left;width:50%;text-align:right;text-transform:uppercase;}
.form .standing-level {float:left;width:40%;text-align:left;margin-left:1em;text-transform:uppercase;}
.form .standing-division{float:left;width:100%;text-align:left;text-transform:uppercase;}

.form .stats-scoresheet h3{float:left;width:98%;font-size:1.7em;margin-top:10px;font-weight:bolder;color:#3399ff;background:#fff;}
.form .stats-scoresheet .title{float:left;width:98%;font-size:0.9em;font-weight:bolder;text-transform:uppercase;} 
.form .stats-scoresheet .block{float:left;width:98%;font-size:1.3em;}
.form .stats-scoresheet .item{float:left;margin:2px 5px 0px 0px;padding:2px 2px 2px 2px;background:#f1f1f1;border-radius:10px;}
.form .stats-scoresheet .key{font-size:0.9em;font-style:oblique; color:#404040;}
.form .stats-scoresheet .numbers{padding:0px;margin:5px;width:40px;color:#404040;border:1px solid #e3f0f2;text-align:center;}
.form .section-title{font-size:2em; t:2px 2px #ccc;}

.rounded{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
ul.nav a.support{font-weight: 700;text-shadow: 1px 1px #000;color:#fff;text-transform:lowercase;font-style:italic;background:#FF6C23;padding:4px 10px 4px 8px; margin : 5px 0px 0px 0px;}
ul.nav a.support:hover{background:#9e4242;}
.obout{font-size:0.8em;}
.beta{font-style:normal;font-size:0.85em;float: left;}
.beta a {
  font-weight: 100;
  color: #404040;
  letter-spacing: 0.055em;
  font-size: 1.3em;
  padding-left: 7px;
}
.beta .title{color:#707070;}
.beta .comming{color:Red;font-size:0.9em;}
.beta ul{margin:0px 0px;padding:0px;width:250px;}
.beta span, .beta li a{color:#606060;font-style:italic;font-size:1.15em;font-weight:bold;}
form .row-fluid + .row-fluid {
    margin-top: 2px !important;
}
.beta label{font-size:none;color:#808080;}
.beta li{line-height:5px;background:yellow}
.dash-title{text-transform:uppercase;font-size:0.8em;color:#808080;font-weight:bolder;padding:0px 10px 0px 10px ;letter-spacing:0.2em;}
.form .link-remove{color:white;margin-left:65px;color:red}
.form .link-modify{padding:3px;margin-left:15px;text-decoration:underline;color:blue;}
.form .team{padding:5px;font-weight:bold; font-size:1.6em;}
.form .right-record{float:left;width:98%;padding:10px;margin:10px 0px 10px 0px;border-radius:10px;background:#f9f9f9;}
.form .right-title{float:left;width:100%;margin:5px;padding:5px;}
.form .right-object{float:left;width:100%;margin:5px;padding:5px;}
.form .right-modify{text-transform:uppercase;font-size:1.2em;border-radius:10px;background:green;color:white;font-weight:bold;padding:10px;}
.form .right-modify:hover{opacity:0.3;text-decoration:none;}
.form .img{width:200px;}
/*.form select {padding:0px;margin:3px 2px 3px 15px;background-color:#fff;border-color:#f1f1f1;padding:3px 0px 0px 0px;}
 */#uc_adm_lmenu2_ddlEmpZone{margin:21px 0px 5px 2px;padding-left: 6px;  width: 90%;}
 
.form textarea{width:98%;height:140px;}
/*.form select,input{border:1px solid #909090;}*/
.form label{font-weight:bold;font-size:1em;font-weight:bold;text-transform:capitalize;color:#1C5889; display:inline-block}  
.form .roster .game{text-align:center;background:#E0E6FF;border-radius:5px;}
.form .roster .title{font-size:1.3em;font-weight:bold;}  
.form .roster .status{float:left;width:95%;text-transform:uppercase;background:#f9f9f9;font-weight:bold;font-size:1.1em;}
.form .roster .min-player{float:left;width:80%;}
.form .roster .scoresheet{float:left;width:20%;}
.form .roster .team span{float:left;width:98%;padding:5px 0px;text-align:center;font-size:1em;font-weight:bold;text-transform:uppercase;color:#404040}
.form .roster td label{font-weight:normal;font-size:1em;color:blue;}
.form .roster .btn-addroster{font-size:0.8em;background:#f9f9f9;width:100px;}
.form .roster .btn-removeroster{float:left; font-size:0.8em;background:red;color:White;width:80px;}
.form .roster .remove{float:right;width:97%;background:#CCE8FF;}
.form .roster .remove-player{float:left;font-size:0.8em;background:#FFE9E5;}
.form .roster .submit-roster{float:left;width:98%;text-align:center;}
.form .roster .in{float:left;width:98%;min-height:30px;}
.form .roster .out{float:left;width:98%;}
.form .roster button{border-radius:10px;}
.form .profile{float:left;width:100%;text-align:left;margin:5px 0px 5px 0px;}
.form .profile a{text-decoration:underline;margin-right:10px;}
.form .profile a:hover{text-decoration:none;}
.form .head{float:left;width:100%}
.form .body{float:left;width:100%; /*border-bottom: 1px solid #dbdbdb;border-left: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;*/}
.form .record{float:left;width:100%;margin:10px 0px 0px 0px;}
.form .header{float:left;width:17%;text-align:right;}
.form .object{float:left;width:82%;}
.form .error{float:left;width:100%;text-align:left;}
.form .validation{float: left;margin-left: 22%;text-align: left;width: 20%;}
.form .submit{float:left;width:100%;text-align:center;}
.form .sub_title{font-size: 1.4em;color: rgb(153, 153, 153);font-weight: 100;letter-spacing: 2px;padding-right: 6px;padding-left: 6px;padding-top: 4px;}}
.form .first-col{text-align:right;}
.form input[type="text"], .form input[type="image"], 
.form input[type="radio"],.form input[type="checkbox"]{/*height:15px;*/}
 .form input[type="submit"],   input[type="button"]{ width:120px;font-weight:bold;font-size:1.1em;text-transform:uppercase;border: 0px;}
/*kaypic news*/
.form .kaypic-news{margin:20px 0;width:80%;padding:6px;color:#404040; border-radius:5px;font-size:0.9em ;background:#F7FAFF;border:1px solid #C1D9FF; }
.form .kaypic-news p.title{font-weight:bold;font-size:2.5em;font-weight:700;text-shadow:1px 1px #404040;text-transform:capitalize;font-weight:500;letter-spacing:2px;color:#FF6A00;}
.form .kaypic-news p.desc{text-align:left;}

/*kaypic news*/

 .subdomain-title{font-family:Georgia;font-size:2em;text-align:center;}
.form .form_title{font-size: 2em;color: rgb(153, 153, 153);font-weight: 100;text-transform:uppercase;letter-spacing: 2px;padding: 20px 5px 10px 5px;}
/*breadcrumbs*/
.form .breadcrumbs{float:left;width:100%;font-size:1.2em;font-weight:400;text-transform:lowercase;font-style:italic;background:#fff;border-bottom:1px solid #ccc;padding:2px; }
.form #bcrumb li {display: inline;text-transform:lowercase;font-style:italic;}
.form #bcrumb li:after {content: ' >> ';color:#338dff;font-size:0.8em;}
.form #bcrumb li:last-child:after {content: none;color:#ccc;}
/*breadcrumbs*/

 /*coach*/
.coach .form .body  .league{float:left;width:100%;padding:5px;text-align:center;background:#f7f7f7;color:#404040;font-size:2em;text-transform:uppercase;}
.coach .form .body  .category{float:left;width:100%;padding:5px;color:#404040;font-size:1.5em;text-transform:uppercase;}
.coach .form .body  .level{float:left;width:100%;padding-left:25px;font-style:italic;color:#808080;font-size:2em;text-transform:uppercase;display:block;}
.coach .form .body  .team{float:left;width:100%;padding-left:50px;color:#808080;font-size:2em;text-transform:uppercase;display:block;}

.coach .form .body {float:left;width:100%;background:#fff;margin-top:15px;display:block;}
.coach .form .body .record{float:left;width:150px;}
.coach .form .body img{width:70px;height:70px;}

.form .coach {float:left;width:100%;}
.form .coach .record{width:120px;height:190px;}
.form .coach .league{font-weight: bold;float: left;width: 100%;font-size: 2em;padding: 5px;text-shadow: 2px 2px #f7f7f7;background: #dbdbdb;text-transform: uppercase;text-align: center;}
.form .coach .categ{font-weight: bold;float: left;width: 50%;padding: 5px;text-align: right;background: #f1f1f1;font-size: 1.5em;text-transform: uppercase;}
.form .coach .level{font-weight: bold;float: left;width: 40%;padding: 5px;padding-left: 10px;background: #f3f3f3;text-align: left;font-size: 1.5em;text-transform: uppercase;}
.form .coach .team { font-weight: bold;float: left;width: 100%;padding: 5px;background: #f7f7f7;text-align: left;text-transform: uppercase;font-size: 1.4em;clear: both;}                     

/*schedule*/
.form .league{background:#fff;font-weight:bold;font-size:2em;}
 .form .category{background:#fff;font-weight:bold;font-size:1.4em;}
 .form .level{background:#fff;font-weight:bold;font-size:1.3em;}
 .form .division{background:#fff;font-weight:bold;font-size:1.2em;text-align:left;text-transform:uppercase;padding-top:10px;}

/*menu*/
.form .menu {border-bottom: 1px solid #f1f1f1;float: left;margin: 0;padding: 3px 0;text-align: left;width: 100%;}
.form .tab{background-color:#fff;color:#404040;font-size:1em;/*text-shadow:1px 0px #2582b5;*/font-weight:300;text-transform:uppercase;letter-spacing:0.1px;padding:6px 6px 4px 6px;margin:0px 0px 0px 0px; border:1px solid #808080;border-top-left-radius: 5px 7px;/*border-bottom-right-radius: 10% 5%;*/border-top-right-radius: 5px 8px;}
.form .tab:hover{background-color:#fff;color:#808080;border:1px solid #2582b5;text-decoration:none;}
.form .tab_box{border-bottom:1px solid rgb(153, 153, 153);}
 
 .activesftlink{background-color:#404040;color:#fff;font-size:1em;/*text-shadow:1px 0px #2582b5;*/font-weight:300;text-transform:uppercase;letter-spacing:0.1px;padding:6px 6px 4px 6px;margin:0px 0px 0px 0px;border:1px solid #000;border-top-left-radius: 5px 7px;/*border-bottom-right-radius: 10% 5%;*/border-top-right-radius: 5px 8px;}


/*menu*/
/*tag*/
.tag_view {float:left;width:100%;text-align:left;}
.form .link_league, .form  .link_categ,.form  .link_level,.form  .link_team{float:left;margin:5px 5px 5px 0px;}
.form .tag_site,.form  .tag_league,.form  .tag_categ,.form  .tag_level,.form  .tag_team{padding:4px 7px 4px 7px;text-align:center;font-style:italic;text-transform:lowercase;font-size:0.9em;margin:0px;}
.tag_league{background-color:#ccc}
.tag_categ{background-color:#a8fcaf}
.tag_level{background-color:#ffd800}
.tag_team{background-color:#aec6fe}

/*tag*/
.form .lang-dropdown{width:20%}
.form .lang-dropdown select{float:left;width:100%}
.form .lang-status {float:left;width:70%}
.form .form_links {}
.form .form_message{}
.form .lang{width:40px;}
.form .day, .form .month, .form year{width:50px;}
.form .mandatory{color:red;text-align:center;font-size:1.5em;vertical-align:middle;}
.form .locale{margin-right:5px;width:15px;height:20px;Background:url(http://localhost:64830/i/general/local.png) no-repeat; }
.form .error{color:red;}
.form .object_title{float:left;margin:2px;font-style:italic;padding:3px;color:#404040;font-size:0.8em;}
.round{border-radius:5px;}
.form .shadow{box-shadow: 5px 5px 3px #888888;}/*
.form .menu{font-size:1.3em;margin:0px 10px 0px 0px;text-align:right;}
.form .menu_list{margin:0px 20px 0px 0px;font-size:1.3em;color:#404040;}
.form hr{border: #f9f9f9;width:80%;margin:5px 0px 5px 0px;}*/
/*season*/
.form .table-list{width:100%;border:1px solid #f1f1f1;font-size:1em;}
.form .table-list th{font-weight:bold;text-align:left;text-transform:uppercase;font-size:1.2em;color:#808080;}
.form .table-list tr:nth-child(even) {background: #f1f1f1;padding:4px;border-collapse: collapse;border-spacing: 0;}
.form .table-list tr:nth-child(odd) {background: #FFF;padding:4px;border-collapse: collapse; border-spacing: 0;}
/*season*/
.bg_orange{background-color:#ffd800}
.bg_blue{background-color:#aec6fe}
.bg_grey{background-color:#f6f6f6}
.bg_green{background-color:#a8fcaf}
.link_to_scrum{font-style:italic;}
.purple{color:purple}
.blue{color:blue}
.form .localized_lang_blank {border:1px solid #ccc;padding:5px;color:blue;}
.form .localized_lang_filled {border:1px solid #ccc;padding:5px;background-color:blue;color:#fff;}
.form breadcrumb{background-color:#f9f9f9;}

.form .firstcol{float:left;width:200px;margin:0px 5px;}
.form .secondcol{float:left;width:250px;margin:0px 5px;border-left:1px solid #808080;border-right:1px solid #808080}
.form .thirdcol{float:left;width:300px;background-color:yellow;}

/*game*/
.form .game .calendar{width:98%;width:400px;font-size:0.8em;}
.circle{float:left;border-radius:8px;border:2px solid #f1f1f1;text-shadow:1px 2px #404040; background:#08c;color:#f8f8f8;font-size:1.8em;padding:6px;text-align:center;margin:0px;}
.step_title {float:left; font-size: 1em;color: blue;font-weight:normal;}
th{font-weight:bold;text-align:left;}
 
.list .table th, .table td {
     padding: 3px;
    }
.list th{font-weight:bold;text-align:left;}
.list tr:nth-child(even) {background: #fff}
.list tr:nth-child(odd) {background: #FFF}


.form .locale-button {float:left; padding:3px;text-align:center;font-size:1em;text-transform:uppercase;/*text-shadow:1px 1px #000;*/}
.form .locale-button div.primary{background:blue;font-weight:300;box-shadow: 1px 1px 1px #404040; }
 
.form .locale-button div.primary a{font-size:1.1em;color:#fff;text-decoration:none;padding:5px}
.form .locale-button div.primary a:hover{opacity:0.50;text-decoration:underline}
.form .locale-button div.secondary{background:#fff;font-weight:300;box-shadow: 1px 1px 1px #404040;}
.form .locale-button div.secondary a{ color:#CE0000;text-decoration:none;padding:5px;text-decoration:line-through;}
.form .locale-button div.secondary a:hover{opacity:0.50;text-decoration:underline}

.btn-upload{background:#a8fcaf;padding:5px;font-size:1em;font-weight:bold;text-transform:uppercase;}

.page-title
{color:#338DFF;
font-size: 1.5em;
font-weight: 100;text-transform:capitalize;
letter-spacing: 2px;
padding-right: 6px;
padding-left: 0px;
padding-top: 4px;
text-shadow:1px 1px #404040;
     }
.overview_title{font-size: 2em;
color: rgb(153, 153, 153);
font-weight: 100;text-transform:uppercase;
letter-spacing: 2px;
padding-right: 6px;
padding-left: 6px;
padding-top: 4px;}

.overview_title_desc{color: rgb(102, 102, 102);
    padding: 5px 6px;
}

.overview_subtitle {
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 11px;
color: #6699CB;
font-weight: bold;
padding-top: 10px;
} 
.red{color:red;}
.bold{font-weight:bold;}
label{display:inline;}
.form .record-bg{float:left;width:320px;padding:5px;margin:5px;border:1px solid #dbdbdb;/*background:#f7f7f7;padding:0px 0px 20px 0px;*/}
 
.content .col1{float:left;width:33%;}
.content .col2{float:left;width:33%;}
.content .col3{float:left;width:33%;}
 .content .colbox{float:left;width:160px;padding:5px; background:none;margin:5px;border:0px solid #dbdbdb;}
 
/*.content .important{background:yellow;padding:2px;} 
.content .bg_red{background:red;font-size:0.8em;margin:5px;color:white;font-weight:bold;text-align:center;padding:5px;}
.content .bg_green{background:green;font-size:0.8em;margin:5px;color:white;font-weight:bold;text-align:center;padding:5px;}
.content .bg_orange{background:orange;font-size:0.8em;margin:5px;color:white;font-weight:bold;text-align:center;padding:5px;}
*/
.content .bg_red{background:none;}
.content .bg_green{background:none;}
.content .bg_orange{background:none;}
.form .full{width:100%;}
.form .left{text-align:left;}
.form .right{text-align:right;}
.form .bordered{border:2px solid #f8f8f8;margin:4px;}
.form .upper{text-transform:uppercase;}
.form .phone-size{width:98%;}
.icon-facebook{width:50px;height:50px; background-image: url('/images/icons/fb.png');margin-top:-30px;} 
.icon-twitter{width:50px;height:50px; background-image: url('/images/icons/twitter.jpg');margin-top:-30px;} 
.icon-youtube{width:50px;height:50px; background-image: url('/images/icons/youtube.jpg');margin-top:-30px;} 
.icon-picasa{width:50px;height:50px; background-image: url('/images/icons/picasa.jpg');margin-top:-30px;} 

.form .bg-red{background:red;color:White;}
.form .box-primary{float:left;width:30%;border:1px solid #f1f1f1;margin:5px;}
.form .box-secondary{float:left;width:67%;}
.form .box-league{float:left;width:45%;min-height:130px;border:1px solid #f1f1f1;margin:5px;}
.form .box-playoff{float:left;width:45%;border:1px solid #f1f1f1;margin:5px;}

.form .box .box-header{background:#f8f8f8;text-align:center;text-transform:uppercase;color:blue;font-weight:bolder;}
.form .box .box-body a{font-size:1.1em;  position:relative;color:#707070;text-transform:capitalize;text-decoration:underline;} 
.form .box li{ list-style-type:none; }
.shortcuts{margin-top:3%;text-align:right;font-size:0.9em;}
.shortcuts a {
  margin: 0px 5px;
  color: #ffffff;
  /* font-style: italic; */
  text-decoration: blink;
  /* background: #f7f7f7; */
  padding: 4px;
  /* text-decoration: underline; */
}
.shortcuts a:hover {text-decoration:underline;}
.service-title {font-size: 1.25em;line-height: 12px;letter-spacing: 5px;text-transform: uppercase;font-weight: 700;color: #404040;margin-bottom: 30px;}
.service-title .section{font-size: 0.8em;line-height: 12px;letter-spacing: 2px;text-transform: uppercase;font-weight: 700;color: #404040;}

.notempty{color:blue !important;font-style:italic;}
.empty{color:#f3f3f3 !important;font-style:italic;} 

/*bill */

.bill_creation{font-weight:bold}

#ContentPlaceHolder1_ctl00_lbl_order_id {
    font-size:1.5em;
}
    
/*wpm*/
.wpm{background:#ccc;}
.wpm .record{float:left;width:100%;margin:8px 0px;}
.wpm .record .header{float:left;width:30%;text-align:right;}
.wpm .record .header label{font-weight:bold;padding:2%;margin:3%;background:#f6f6f6;}

.wpm .record .object{float:left;width:67%;text-align:left;}
.top-company{ font-weight: 700;color:#ccc;line-height: 40px;color:#fff;font-style:italic;font-size:1.2em;}
.top-company label{font-size:0.8em;margin-right:0.5%;}


.message-wpm{float:left;font-size:0.95em;width:90%;border-radius:5px;padding:5px;border:3px solid #f1f1f1;margin-bottom:20px;}
.message-wpm h2{font-weight:700;font-size:1.4em;color:#505050;}
.message-wpm span{letter-spacing:0.1em;}

.header-title{display:block;text-transform:uppercase;margin:10px 0px;}
.header-title h2{font-size:1.5em;font-weight:700;letter-spacing:0.2em;border-bottom:1px solid #f8f8f8;}
.btn-order{float:left;width:100%;margin-top:10px;}
.btn-more{margin-right:5%;} 
.tax-no{font-style:italic;font-size:0.9em;color:#606060;margin-right:3%;}
   
.order-preview table   thead  tr   th:nth-child(4){text-align:right;}

#tps_tvq{
    float:left;
    padding-left:33%;
}
.order-totals > div.order-taxes > div.row-fluid {
    width:392px;
}
.order-totals > div.order-taxes > div.btn-order {
    max-width:456px;
}
#ContentPlaceHolder1_ctl00_btn_payment {
    margin-top: 10px;
    margin-right: 25px;
}
.person_lname {
    text-transform:uppercase;
}
.person_fname {
    text-transform:capitalize;
}

#container > div > div > h4,
#ContentPlaceHolder1_ctl00_uc_staff_schedule_update_btn_update,
#container  div > div > div:nth-child(4) > div,/*offre de servive*/
#container  div > div > div:nth-child(7){/*disponibilite*/
 	margin-left:15%;
}


#ContentPlaceHolder1_ctl00_uc_staff_schedule_update_btn_update {
    margin-left:35%;
}
#ContentPlaceHolder1_ctl00_btn_activate {
    margin-left:22%;
}

.cv .viewcv {
    font-weight:600;
    font-size:1.2em;
}
.title2 {
  float: left;
  width: 100%;
  color: blue;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  border-top: 0px solid #7745FF;
  border-bottom: 0px solid #7745FF;
  margin-bottom:10px;
}

.label a {color:#fff;}
#ContentPlaceHolder1_ctl01_link_request,
#ContentPlaceHolder1_ctl01_link_waiting,
#ContentPlaceHolder1_ctl01_link_confirmed,
#ContentPlaceHolder1_ctl01_link_cancelled,
#ContentPlaceHolder1_ctl00_uc_wpm_shifttocome_div_shorcuts > div > span.label{
padding: 9px 4px;
}

@media screen and (max-width : 480px) {
.top-company{display:block;text-align:center;}

}

#ContentPlaceHolder1_ctl00_menu_wpm > button,
#printable > div.row12 > button{
    float:right;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.membership-adm #top{height:20px;background:black;color:#fff;font-size:0.83em;}
.membership-adm #top a{color:#fff;}
.membership-adm nav{float:left;width:100%;}
.membership-adm .form-control .row{margin:5px 0px;}
.membership-adm .row.form label{line-height:30px;text-align:right;}
.membership-adm .row.submit{margin:0px auto;background:red;width:100%}
.membership-adm .cb-zone{width:100%;}
.membership-adm .cb-group input, .cb-zone label{display:inline;float:left;font-size:0.8em;font-weight:200;}
.membership-adm .cb-group input{background:red;}
.membership-adm .fcs {background:red;letter-spacing:0.05em;}
.membership-adm .fcs  li{float:left;width:45%;list-style-type:none;min-height:200px;border:2px solid #ccc;border-radius:5px;padding:5px;margin:5px;}
.membership-adm .fcs li span{font-size:0.87em;font-style:italic;}
.membership-adm .fcs li  .button{width:100%; text-align:center;margin-top:20px;}
.membership-adm .fcs li  .button a{padding:10px; }
.membership-adm .fcs .check{width:100%;background:#808080;padding-left:5px;margin-bottom:10px;color:#fff;letter-spacing:0.1em;line-height:20px}
.membership-adm .fco{margin-left:auto;margin-right:auto;width:90%; padding:10px 0px; }
.membership-adm .fco .form-group .fco-ddl{  text-align:right;margin:0px 0px 20px 0px;}
.membership-adm .fco select{padding:5px;font-size:1.1em;font-weight:700;color:#404040;}
.membership-adm .fco .personalized-go{color:#00ff00;}
.membership-adm .fco .form-group label{min-width:100px;}
.membership-adm .fco .group-create{background:#fff;padding:5px;border-radius:6px;color:#101010;}
.membership-adm .fco .group-available{background:#fff;padding:5px;border-radius:6px;color:#101010;}
.membership-adm .fco .btn-select-company{text-align:center;}
.membership-adm .fee-group, .credit-group{width:46%;float:left;margin:5px;border:1px solid #ccc;border-radius:10px; }

.membership-adm #ContentPlaceHolder1_ctl00_ddl_fc_fee_operator_action li,
.membership-adm #ContentPlaceHolder1_ctl00_ddl_fc_credit_operator_action li{list-style-type:none; display:inline;width:40%;}
.membership-adm .error{color:red;}
.membership-adm .cbl input{margin:5px 4px;}
.membership-adm .cbl label{font-weight:200;font-size:0.75em;line-height:3px;}
.membership-adm h1{text-transform:uppercase;letter-spacing:0.1em;font-weight:600;font-family:georgia;font-size:2em;background-color:#ccc;color:#404040;}
.membership-adm fieldset{padding:4px;border-radius:10px;border-bottom:none;margin-bottom:20px;}
.membership-adm legend{font-size:1.4em;letter-spacing:0.1em;color:#0800cc;font-weight:500;border-bottom:4px inset #dbdbdb;}
.membership-adm .form-group .time-label{float:left;}
.membership-adm .form-group .time-group{float:left;}
.membership-adm .form-group .time-hour-min,.form .time-date{float:left;display:inline;}

.membership-adm .form-group .fc{float:left;width:100%; }
.membership-adm .form-group .fc-tb{float:left; margin-left:10px; }
.membership-adm  .form-group fc-list td{float:left; background:yellow;}
 .membership-adm span.new-group{font-size:0.6em;padding:0px;line-height:30px; font-style:italic;letter-spacing:0px;}

 .time-hour-min input{width:40px;}