﻿body {
      letter-spacing:0.1em;
      font-size: 0.84em;
}
/*global*/
.button{padding: 7px;border-radius: 4px;font-size: 1.3em;}
.order {padding: 5px;}
.order .current-time,.order .step strong,
.order .duration .value{
    color: #f6610b;
}
select{width:300px;padding: 5px 2%;border: 1px solid #000;color: #000;}
#ddlWorkplace {
  width: auto;
}
.wizard .current,   
 .btn-authorize, .button-next, btn-primary{
    background:#f6610b;
}
.header_rate{visibility:hidden;}
.order .rate,
.order .rate-value {display:none;}
.order .staff-needed{font-size:1.4em;font-weight:700;white-space:nowrap;}

 input[id*='r_job_once_tbx_rates_'],
 #ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(4) > table > tbody > tr:nth-child(1) > th:nth-child(3)
{display:none;}
.order #ContentPlaceHolder1_ctl00_dl14 > dt{text-align:left;}

 .order .company{margin:20px 0px;font-weight:700;line-height:40px;font-size:2.4em;letter-spacing:0.1em;}
 
#ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(4) > table > tbody > tr:nth-child(1) > th {
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform:uppercase;
    min-width: 150px;text-align:left;
}

.order .wizard{text-decoration:none;}
  
.order .step-title{font-size:1.7em;font-weight:700;text-align:center;text-transform:uppercase;margin:10px 0px;}
.order .step{font-weight:700;font-size: 1.5em;letter-spacing: 0.1em;  }
  
#ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(6){margin-top:25px;}
.order .current-time {
    font-weight: 700;
    font-size: 1.3em;
}


                     
#ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(2),
#ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(6)
{background:#fcf2de ;padding:0px 4px;}
#ContentPlaceHolder1_ctl00_dl14 > dt{text-align:right;text-transform:none;}
 
.culture{font-style:italic;font-size:0.75em;color:#fff !important;text-transform:lowercase !important;}
#ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(16){text-align:right;}

.order #ContentPlaceHolder1_ctl00_dl2 > dd:nth-child(16){text-align:left;}

html body.sidebar_right form#form1 div#maincontainer.clearfix header div.navbar.navbar-fixed-top div.navbar-inner div.container-fluid ul.nav.user_menu.pull-right li.dropdown a.dropdown-toggle span{text-transform:none;}

.login_page .top_b {
background:#151515;
color:#fff;
}
.login_page .top_b a{
    color:#ccc;
}
.alert-info {
    background-color: #f2f2f2;
    border-color:#f1f1f1;
    color:#000;
    font-weight:500;
    text-align:center;
    letter-spacing:0.1em;
    padding:1%;
}
.alert-info span{font-weight:bold;font-size:1.1em;color:#ef8605}
.login_page .links_b span a {
    color: #606060 !important; 
}
.nav-list>li>a {
  padding: 0;
}

.primary-color, .primary-bgcolor{color:#000 !important;}
.secondary-color, .secondary-bgcolor{color:#ef8605 !important}
.third-color, .third-bgcolor{color:#fcf2de !important}
.table tr th {
background:#fcf2de !important;
}
.table tr th strong{color:#000 !important;
                    font-size:0.8em; 
text-transform:uppercase;
}
html body.sidebar_right form#form1 div#maincontainer.clearfix div.sidebar div.sidebar_inner div.antiScroll div.antiscroll-inner div.antiscroll-content div.sidebar_inner{
    background:#fff;
}
.sidebar .accordion-group a:before  {
   content:"- ";
   color: #404040;
}
.message-wpm{display:none}
.header-title h2{text-shadow:1px 1px #404040;}
.sidebar .accordion-inner {
background: #fff;
}
.accordion-inner {
    padding: 10px 15px;
}
.sidebar .accordion-group .accordion-heading a:before {
    content: "+";
}
.wizard .current {
    color: #000;
    text-decoration:none;
}

.sidebar .accordion-group .accordion-heading a {
 
font-size:0.8em;
}
.sidebar .accordion-heading a:hover {
color: #b5802c;
}
.sidebar .accordion-heading {
    font-weight:700;
    text-shadow:none;
    text-transform:uppercase;
  /*  background: #ccc;*/
}
.wizard a {
    background: #f9f9f9;
}
 .wizard .current {
    background: none repeat scroll 0 0 #f6610b !important;
    color: #fff;
}
 .wizard .current:after {
    border-left-color: #f6610b !important;
}
 
 .btn-authorize:hover, .btn-next:hover{background:#703306}
.error {
    color:red;
    font-weight:600;
}
/* employee payment*/
.diff_frombenning {
     font-weight:600;
     color:blue;
}

.diff_payment,.diff_frombenning {
     font-weight:600;
     color:blue;
     font-size:1.3em;
}
.wpm_update {
    display:block;
    clear:both;
    margin-left: 4%;
}
.wpm_update_profile {
    display:block;
    clear:both;
    margin-left: 0;
}
.location {
  float: left;
  display: inline-block;
}

.location_image {
  width: 38%;
  float: left;
  display: inline-block;
}

.wpm_update select,
.location select,
.comp_location select {
  width: 221px;
}

.comp_location {
 float: left;
  display: inline-block;
}

.location_image_dw {
  width: 48%;
  margin-left:27%;
  float: left;
  display: inline-block;
}



/*   BOOKING*/

.booking .employee_photo,.booking .employee_info {
    float:left;display:inline-block;
}

.booking .employee_name {
    margin-left:5px;
}

.booking .employee_email{
    margin-left:5px; font-size:0.9em;font-weight:600; font-style:initial;
}
.booking .employee_cell{
    margin-left:5px; font-size:0.9em;font-weight:600;
}


.confirm .login_page .login_box {
    width: 50%;
}

/*ORDER*/
.order{max-width: 900px;}
.order-title, .order-time{display: none;}
.order-totals { 
    text-align: right;
}
.order .tps-title,.order .tvq-title,.order .gst-title, .order .pst-title,.order .hst-title{text-transform: lowercase;font-size:0.8em;font-style: italic;font-weight: normal;color: #404040;}
.order .tps-percent, .order .tvq-percent, .order .gst-percent, .order .pst-title, .order .hst-percent, .subtotal-title , .order .total-amount,    .order .total-title{color: #000;font-weight: bolder;margin-left: 20px;text-align: right;}
 .order .tps-amount, .order .tvq-amount, .order .gst-amount, .order .pst-amount, .order .hst-amount, .subtotal-amount{margin-left:50px;font-weight:700;color: #000;}

.order-taxes .total-title, .order .total-amount{font-size: 1.2em;}
.btn-order {
    /*margin-top: 50px;*/
}
#ContentPlaceHolder1_panel_order > table > tbody > tr  > td:nth-child(4),
#ContentPlaceHolder1_panel_order > table > thead > tr > th:nth-child(4)
{text-align: right;}

#span_tps,#span_tvq{display: none;}

.nav-list {
  padding-left: 10px;
  padding-right: 7px;
}

.shift-submit {float: left;width: 98%;
    text-align: right;
}
.button-back{color: #000;background: #fff;border: none;padding: 0px;padding-top: 30px;}
 .button-next{color: #fff;} 
/*form*/
.form .header{font-weight: 700;}
.order .form .record{ }
.order .form .header{float: left;width: 15%; line-height: 32px;margin: 3px;}
.order .form .object{float: left;width: 43%; margin: 3px;}
.order .form .validation{float: left;width: 40%; margin: 3px;}
.order .form .jobs{margin-top: 10px;}
.order .form .jobs th{text-transform: uppercase;font-size: 1em;letter-spacing: 0.1em;border-bottom: 2px solid #404040;}
.order .form .jobs select{width: 60px;margin-top: 10px;}
.order .order-date{height: 20px;margin-bottom: 0px;width:100px;}
.order .calendarDatePickerButtonDefault{padding-bottom: 0px;}
.order .duration .value{font-weight: 700;font-size: 1.5em;margin-top: 7px;}

#btn_back_shift{padding:0;}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.menulist{
  padding: 5px;
  background :#FCF2DE;
  border: 1px solid #000000;
  margin-right : 10px;
  
}

.menuactive{
  background :#FFFFFF;
  
}

.login_page .login_box {
  margin-top:0;
}

#ContentPlaceHolder1_panel_membership > div.membership > ul > li > div.title {
  font-size: 2.5em;
  padding-bottom: 10px;
}
#ContentPlaceHolder1_panel_membership > div.membership > ul > li > div.fee{
  font-size: 1.5em;
}
#ContentPlaceHolder1_panel_membership > div.membership > ul {
  list-style-type: none;
}
#ContentPlaceHolder1_ctl00_customButton{
    border-radius: 5px;
    border: 2px solid #42B96B;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 20px;
    text-decoration: none;
    color: #42B96B;
}

#ContentPlaceHolder1_ctl00_link_skip
{
    border: 1px solid #523E3E;
    padding: 6px;
    text-decoration:none;
}
#ContentPlaceHolder1_ctl00_upgradesubscribe{
    font-size:18px;
}
#ContentPlaceHolder1_ctl00_lbl_plan .submitupgrade a{
    color:blue;
    font-weight:700;
    text-decoration:none;
}


