/*
 * SINFOPOINTMENT CSS
 ********************************/

body {
	margin: 0;
	padding: 0;
	background: #EEE;
	font-family: Arial, Helvetica, sans-serif;	
}

a:link, a:active, a:visited {
	color: #A6CEF8;
}

a:hover {
	text-decoration: none;	
}

#logo {
	color: #0D58A6;	
	width: 533px;
	margin: 20px auto;
	font-size: 25px;
	text-align: center;
}

.logoRed {
	color: #F00 !important;	
}

#loginBlock {
	background: url(../images/login-bg.png);
	width: 533px;
	height: 244px;
	padding: 42px;
	margin: 20px auto;	
}

#loginBlock #ulContainer {
	width: 458px;
	margin: auto;
}

#loginBlock ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#loginBlock ul li {
	margin-bottom: 10px;	
}

#loginBlock label, #loginBlock .info {
	font-weight: bold;
	font-size: 12px;
	color: #0D58A6;
	letter-spacing: -1px;	
}

#loginBlock label {
	display: block;
	color: #A6CEF8;
}

#loginBlock .info {
	text-align: right;	
}

#loginBlock .text {
	width: 450px;
	padding: 2px;
	font-size: 14px;
}

.loginSubmit {
	float: right;
	background: #EEE;
	border: 1px #F1CAB5 solid;
	padding: 5px 15px;	
}

.loginSubmit:hover, .signup:hover {
	background: #F1CAB5;
	cursor: pointer;
}

.clearFloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.signup {
	display: block;
	float: left;
	background: #EEE;
	color: #000 !important;
	border: 1px #F1CAB5 solid;
	padding: 4px 15px;	
	text-decoration: none !important;
	letter-spacing: 0 !important;
	font-family: Verdana, Geneva, sans-serif;
}

#loginBlock .info select {
	float: left;	
}
