﻿
.mm-menu {
    background: #fff;
    text-decoration: none;
}
.mm-menu.mm-offcanvas.mm-current {
    border: 1px solid #000000;
}
.mm-menu .mm-listview {
    border-color: #000000;
}
.header {
    position:fixed;
    top:0;
    z-index:200;
}

.btn_mobile{
    -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
    background-color: #42b96b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #42b96b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 10px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.centerlogo{
	height:auto;
	position:absolute;
	left:50%;
	top:50%;
    margin:-75px 0 0 -135px;
}

.sessionendedbck{
    background: #c1efaa;
}


/* 
Generic Styling, for Desktops/Laptops 
*/
 .wpm_table table { 
    width: 100%; 
    border-collapse: collapse; 
}



/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
 .wpm_table table, .wpm_table thead, 
 .wpm_table tbody, .wpm_table th,
 .wpm_table td, .wpm_table  tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
 .wpm_table tr th,
 .wpm_table table thead tr th { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.wpm_table table { 
    /* Behave  like a "row" */
    border: 0; 
}

 .wpm_table tr { 
    /* Behave  like a "row" */
    border-bottom: 3px solid #eee; 
}
 .wpm_table td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%; 
}

 .wpm_table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

/*
Label the data
*/
 .wpm_table td:nth-of-type(1):before { font-weight:600; }
 .wpm_table td:nth-of-type(2):before { font-weight:600; }
 .wpm_table td:nth-of-type(3):before { font-weight:600; }
 .wpm_table td:nth-of-type(4):before { font-weight:600; }
 .wpm_table td:nth-of-type(5):before { font-weight:600; }
 .wpm_table td:nth-of-type(6):before { font-weight:600; }
 .wpm_table td:nth-of-type(7):before { font-weight:600; }
 .wpm_table td:nth-of-type(8):before { font-weight:600; }




 /* Force table to not be like tables anymore */
 .talent_table table, .talent_table thead, 
 .talent_table tbody, .talent_table th,
 .talent_table td, .talent_table  tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
 .talent_table tr th,
 .talent_table table thead tr th { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.talent_table table { 
    /* Behave  like a "row" */
    border: 0; 
}

 .talent_table tr { 
    /* Behave  like a "row" */
    border-bottom: 3px solid #eee; 
}
 .talent_table td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%; 
}

 .talent_table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

/*
Label the data
*/
 .talent_table td:nth-of-type(1):before { font-weight:600; }
 .talent_table td:nth-of-type(2):before { font-weight:600; }
 .talent_table td:nth-of-type(3):before { font-weight:600; }
 .talent_table td:nth-of-type(4):before { font-weight:600; }
 .talent_table td:nth-of-type(5):before { font-weight:600; }
 .talent_table td:nth-of-type(6):before { font-weight:600; }
 .talent_table td:nth-of-type(7):before { font-weight:600; }
 .talent_table td:nth-of-type(8):before { font-weight:600; }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px) {
    body .wpm_table,
    body .talent_table { 
        padding: 0; 
        margin: 0; 
        width: 320px; }
}

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body .wpm_table,
        body .talent_table { 
            width: 495px; 
        }
    }


    @media   only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {
         
        #ContentPlaceHolder1_ctl00_btn_order_list,
        #ContentPlaceHolder1_ctl00_btn_create_order{
            width:95%;
            margin-top: 10px;
        }

        .header-title,
        #ContentPlaceHolder1_ctl00_div_shorcuts > div > span.label.lbl_archive,
        #ContentPlaceHolder1_ctl00_uc_wpm_shifttocome_div_shorcuts .label.lbl_archive{
            display:none;
        }
        .shortcuts {
           text-align: left; 
           display: block;
           margin: 0 auto;
         }

        .lbl_reserve_talent,
        span.label.lbl_tocome,
        span.label.lbl_workedhours,
        span.label.lbl_bills{
           font-size: 14px;
            padding: 9px 0;
            width:95%;
            text-align: center;
            display: block;
            margin: 5px auto;
        }
        
    }

   #ContentPlaceHolder1_panel_validate > hr,
   #ContentPlaceHolder1_panel_billing > hr,
   #ContentPlaceHolder1_ctl00_panel_default > hr{margin: 8px 0;}