/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

#slider-wrap							{ padding:4px; background:#eee; margin-bottom:25px;}

.anythingSlider                         { width: 625px;  height: 220px; position: relative; margin: 0 auto 0px; }
.anythingSlider .wrapper                { width: 625px; overflow: auto; height: 220px; margin: 0 0px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 99999px; list-style: none; position: absolute; top: 0; left: 0; background: #eee;  margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 317px; width: 680px; margin: 0; }
.anythingSlider .arrow                  { display: none; height: 200px; width: 67px; background: url(../images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 65px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0 0; right: -20px; }
.anythingSlider .back                   { background-position: -67px 0; left: -20px; }
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }

#thumbNav                               { position: absolute; top: 190px; right:0; }
#thumbNav a                             { 	-moz-border-radius:15px;
											-webkit-border-radius:15px;
											font-size:11px; color: black; 
											display: inline-block; 
											padding:3px 7px;
										
											margin: 0 5px 0 0; 
											background:#1c1c1c;
											color:#fff; 
											text-align: center;  }
#thumbNav a:hover                       { background-image: none; text-decoration:none; }
#thumbNav a.cur                         { background: #3aa5e0; }


/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }