body  {
	font: 10px Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}
a { color: #000; }
a:hover { color:#000; }

input,select,textarea
{
border: 1px solid #ccc;
}

#container
{
    margin: 0px auto;
    width:850px;
    background:#ffffcc;
    background-image:url('/i/bg_cont_banner.gif');
    background-repeat:repeat-x;
    border: 1px solid #999999;
}

#lang
{float:left;
    margin: 0px 10px 0px 0px;
    width:100%;
    text-align:right;
}

#banner
{
  float:left;   
  height:125px;
  width:100%;
  text-align:left;
  font: 30px Georgia, sans-serif ;
}
#banner
{
float:left;
width:100%;
background:#ccc;
}
#sidebar
{
float:left;
width:150px;
height:100%;
padding-top:40px;
background:#999999;
padding-left:9px;
border-left: 1px solid #000;
}
#footer
{
float:left;
height:20px;
width:100%;
background:red;
 }
#body
{
    float:left;
    width:690px;
    background:#e7e7e7;
    text-align:left;
}
.table_main_border
{
width:700px;
border-color:#cccccc;
background-color:#fff;
border-collapse:collapse;
border-style: solid;
border-width: 0px 0px 0px 0px;
padding:10px;


font-family:80% Arial, Tahoma, Verdana;

}

.banner
{
  background: #fff;
  padding:0px;
  /*width: 850px;*/
  height: 50px;
  /*background-image: url(/i/bg_banner.gif);*/
  background-repeat: repeat-x;
}

.menu
{
  background: #000;
  padding:0px;
  /*width: 850px;*/
  height: 30px;
  background-image:url(/i/bg_menu.gif);
  background-repeat: repeat-x;
}
.table_menu_module 
{
width:100%;
PADDING-LEFT: 14px; 
PADDING-TOP: 4px; 
border-color:#A1B3C6;
background-color:#ffffff;
border-collapse:collapse;
border-style: solid;
border-width: 1px 1px 1px 1px;
padding:12px;
    
}
.table_menu_module_150
{
width:150px;
border-color:#A1B3C6;
background-color:#ffffff;
border-collapse:collapse;
border-style: solid;
border-width: 1px 1px 1px 1px;
padding:12px;
    
}

.table_menu_module_500
{
width:150px;
border-color:#A1B3C6;
background-color:#ffffff;
border-collapse:collapse;
border-style: solid;
border-width: 1px 1px 1px 1px;
padding:12px;   
}


.rule {
width: 100%;
height: 1px;
}


.title_menu_module
{
width:100%;
background-color:#ffffff;
height:25px;
text-align:;
background-image:url(/i/bg_table_title_menu.gif);
background-repeat:repeat-x;
font-family:Arial, Tahoma, Verdana;
font-size:large;
text-align:center;
}
.bg_link_menu
{
background-image:url(/i/bg_link_menu.gif);
background-repeat:repeat-x;

}


/*
.small_name
{
    FONT-FAMILY: arial,verdana,verdana;
    FONT-SIZE: 8pt;
    FONT-VARIANT: none;
    TEXT-DECORATION: none;
}
.name
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: small-caps;
    TEXT-DECORATION: none;
}
.name:hover
{
    BACKGROUND: #fcca03
}
.darkrednu10
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: small-caps;
    TEXT-DECORATION: none;
	color:#CC0000;
}
.darkrednu10:hover
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: small-caps;
    TEXT-DECORATION: underline;
	color:#CC0000;
}
.darkbluenu10
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: small-caps;
    TEXT-DECORATION: none;
	color:#000066;
}
.darkbluenu10:hover
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: small-caps;
    TEXT-DECORATION: underline;
	color:#000066;
}
.nameb
{
    COLOR:  #0000FF;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bolder
; text-decoration: none}

.letter_bold
{
    COLOR:  #000000;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bolder
; text-decoration: none}
.letter
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none;
    color: #000000
}

.sname
{
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline;
    color: #0000FF
}
.sname:hover
{
    font-family: arial,verdana; 
    font-size: 11px; text-decoration: none; color: #ABB0BA}
.titlelist
{
    COLOR: #FF0033;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 12px;
    FONT-VARIANT: small-caps;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: lowercase; font-style: normal
}
.mtitle
{
    COLOR: white;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 9pt;
    FONT-VARIANT: small-caps;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: underline
}
.mstitle
{
    COLOR: white;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
.mstitle:hover
{       FONT-FAMILY: arial,verdana;
	FONT-SIZE: 8pt;
	COLOR: #000000;
    BACKGROUND: #FFFFFF
}
.title
{
    COLOR: #666666;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 13pt;
    FONT-STYLE: normal;
    FONT-VARIANT: small-caps;
    FONT-WEIGHT: bolder
}
.letter
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 8pt
}
div 
{ 
   COLOR: #000000;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 10pt
 }
.address
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana;
    FONT-SIZE: 7pt
}
.smallred { COLOR: #cc0000; FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-TRANSFORM: none}
.mtitlebold { COLOR: #FFFFFF; FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; text-decoration: none}
.mtitleboldi { COLOR: #FFFFFF; FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-STYLE: italic; FONT-VARIANT: normal; FONT-WEIGHT: bolder }
.snamenu { FONT-FAMILY: arial,verdana; FONT-SIZE: 11px; FONT-VARIANT: normal; TEXT-DECORATION: none; color: #0000FF; font-style: normal }
.namebnu { COLOR: #0000FF; FONT-FAMILY: arial,verdana; FONT-SIZE: 13px; FONT-WEIGHT: bolder ; text-decoration: none}
.small10blacknu { FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; TEXT-DECORATION: none; color: #000000}
.12boldnu { COLOR: #000000; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px; FONT-WEIGHT: bolder ; text-decoration: none }
.small8blacknu { FONT-FAMILY: arial,verdana; FONT-SIZE: 8px; FONT-VARIANT: normal; TEXT-DECORATION: none; color: #000000; font-style: normal }
.snamebright { FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-VARIANT: normal; TEXT-DECORATION: underline; color: #0000FF; font-style: normal ; font-weight: normal}
.snamebright:hover { FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-VARIANT: normal; TEXT-DECORATION: none; color: #0000FF; font-style: normal }
.snamebrightnu { FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-VARIANT: normal; TEXT-DECORATION: none; color: #0000FF; font-style: normal ; font-weight: normal}
.snamedarknu { FONT-FAMILY: arial,verdana; FONT-SIZE: 10px; FONT-VARIANT: normal; TEXT-DECORATION: none; color: #0000FF; font-style: normal }
.titlelistnu { COLOR: #cc0000; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px; FONT-VARIANT: small-caps; FONT-WEIGHT: bolder; TEXT-TRANSFORM: lowercase; font-style: normal ; text-decoration: none}
.titlelistnuorange { COLOR: #FF9900; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px; FONT-VARIANT: small-caps; FONT-WEIGHT: bolder; TEXT-TRANSFORM: lowercase; font-style: normal ; text-decoration: none }
.titlelistnuorange:hover { COLOR: #0000FF; FONT-FAMILY: arial,verdana; FONT-SIZE: 12px; FONT-VARIANT: small-caps; FONT-WEIGHT: bolder; TEXT-TRANSFORM: lowercase; font-style: normal ; text-decoration: none }
.mtitlebold8 { COLOR: white; FONT-FAMILY: arial,verdana; FONT-SIZE: 8pt; FONT-VARIANT: normal; FONT-WEIGHT: bolder; font-style: normal}
*/