﻿.banner_title {
PADDING-LEFT: 4px; 
PADDING-TOP: 4px;
font: 200% Arial, Tahoma, Verdana;
COLOR: #2A0A80; 
TEXT-DECORATION: none;
 /* font-size:40px;
  font-family:Arial,verdana;
  color:#630707;
  text-align:center;
*/
}

.rule {
width: 500px;
height: 1px;
}

.banner_photo
{
width:71px;
/*height:100px;*/
background-image:url(/i/logo.gif);  
background-repeat:repeat-x;
}
  .letter_small
{
/*PADDING-LEFT: 4px; 
PADDING-TOP: 4px; */
font: 80% Arial, Tahoma, Verdana;
color: #000000;
text-decoration:none;
}
 .letter
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
font: 80% Arial, Tahoma, Verdana;
COLOR: #000000;
text-decoration:none;
}
/*.letter:hover
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
FONT-SIZE: 12px; 
COLOR: #000000;
font-family:Arial, Tahoma, Verdana;
text-decoration : underline;
}
*/
 .top_menu_link
{
font-weight:bold; 
COLOR: #0D0B1E;
font: 80% Arial, Tahoma, Verdana;
text-decoration:none;
}
.top_menu_link:hover
{
font-weight:bold;
COLOR: red;
font: 80% Arial, Tahoma, Verdana;
text-decoration : underline;
width:100%;
}


.letter_bold
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
COLOR: #000000;
font: 80% Arial, Tahoma, Verdana;
font-weight:bolder;
}

.letter_red
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
COLOR: #FF0000;
font: 80% Arial, Tahoma, Verdana;
}
.letter_small_blue
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
COLOR: blue;
font: 80% Arial, Tahoma, Verdana;
text-decoration:underline;
}

.letter_small_blue:hover
{
PADDING-LEFT: 4px; 
PADDING-TOP: 4px; 
COLOR: red;
font: 80% Arial, Tahoma, Verdana;
text-decoration:none;
}
