body  {
	font: 11px Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

table
{
   
}


td
{
     border-bottom : 1px; 
    border-bottom-color: #D3D3D3 ;
}

hr 
{
    width:100%;
    
  border:1px solid ;
  border-color :Black;
 
}

a {font:14px Arial, Helvetica, sans-serif; color: #000; }
a:hover {font:14px Arial, Helvetica, sans-serif; color:#000; }

input,select,textarea,textbox
{
border: 1px solid #ccc;
font: 11px Arial, Helvetica, sans-serif;
    height: 18px;
}

.rule {
width: 500px;
height: 5px;
background-color :Fuchsia
}



#container
{   float:left;
    margin: 0px 0px 0px 0px;
    width:980px;
    background:#ffffff;
    /*background-image:url('/i/bg_cont_banner.gif');
    background-repeat:repeat-x;*/
     
}

#lang
{float:left;
    margin: 0px 10px 0px 0px;
    width:100%;
    text-align:right;
    background:#ffffff;
   /*  background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
}

#banner
{
  float:left;
  height:100px;
  width:100%;
  text-align:left;
  background:#fff;
   background-image:url('/i/bg_banner.gif');
    background-repeat:no-repeat;
 
}
#menu
{
float:left;
width:100%;
height:25px;
text-align:left;
vertical-align:middle;
background:#EAEAEA;
padding-left:10px;
margin-bottom:10px;
    /* background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
}
#sidebar
{
float:left;
width:150px;
height:100%;
text-align:left;
padding-top:20px;
background:#FFF;
padding-left:9px;
}

#body
{
    float:left;
    width:750px;
    background:#fff;
    text-align:left;
    border-left: 1px dotted #000;
    padding:20px 0px 5px 40px;
   
}
#footer
{
float: left;
height:30px;
width:100%;
text-align:center;
background:#fff;
margin-top:40px;
/*     background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
 }

 .top_link{font:14px Arial, Helvetica, sans-serif; color: #ffffff; }
 .footer_link{font:12px Arial, Helvetica, sans-serif; color: #cccccc; 
   text-decoration:none;
    }
 .footer_link:hover{font:12px Arial, Helvetica, sans-serif; color: #000; 
   text-decoration:none}
 
 .table_footer
   {
   width:50%;
   border-top:1px dotted #999999;
   text-align:center;
    }
    
   
.lang
{
    font:10px Arial, Helvetica, sans-serif; color: #999;
 background:#F7F7F7;
 border: 1px solid #ccc;
    }