/*
 * SINFOPOINTEMENT APP CSS
 ******************************/

body {
	margin: 0;
	padding: 0;

	background: #FFF;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;

        color: #000000;		
}

a:link, a:active, a:visited {

	color:  #2A83C9 ;
}

.clearFloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
   	font-size: 1px;
    	line-height: 0px;
}

a:hover {
	text-decoration: none;	
}

#header {
	width: 775px;
	margin: 0 auto 10px auto;	
}

#header .cufon {
	float: left;
	font-size: 25px;
	color: #0D58A6;
	margin: 10px 0;
}

#header .setup {
	background: #FFF;
	padding: 10px;
	float: right;
	margin: 10px 0;
	color: #CCC;
	font-size: 0.9em;
	
}

#header .setup a {
 text-decoration:none;
	
}

#footer {
	font-size: 0.8em;
	width: 775px;
	margin: 0 auto;
	border-top: 1px #EEE solid;
	padding-top: 5px;
}

#footerLeft {
	float: left;	
}

#footerRight {
	float: right;	
}

#content {
	width: 775px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#content #nav {
	width: 770px;
}

#content #nav a.active, #content #nav a.inactive {
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none !important;
	
        background: #FFF;

	color: #FFF;

	font-weight:bold;
	margin-right: 3px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	font-size: 12px;

	border: 1px #2A83C9 solid;

	border-bottom: 0;
}

#content #nav a.inactive {

	background: #ffff00 ;

	color: #FFF;

        font-weight:bold;
}

#content #nav a:hover {

	background: #FFF ;

	color: #FFF;
}


#content #tabContent {
	background: #FFF;
	float: left;
	width: 773px;

	border-top: 2px #2A83C9 solid;

	min-height: 350px;
	padding: 1px;
}

#content #quickLinks {
	float: right;
	width: 170px;
}

#content #quickLinks h4 {
	padding: 5px;
	background: #EEE;
	color: #000;
	margin: 0;
	width: 170px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

#content #quickLinks ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 170px;
}

#content #quickLinks ul li {
	padding: 4px 0 4px 5px;
	border-bottom: 1px #EEE solid;
	text-align: left;
	width: 170px;
	margin-left: 3px;
	padding-left: 7px;
}

#content #quickLinks ul li a {
	text-decoration: none !important;
}


#tabContent .odd {
	background: #F5F5F5;
}

#tabContent table .empty {
	text-align: center;
	font-weight: bold;	
}

#tabContent .search {
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 5px 15px;	
	font-weight: bold;
}

#tabContent .tableLabel {
	white-space: nowrap;
	width: 1%;
	text-align: right;
}



#tabContent .default_style tr td table{max-width:70px;min-width:60px;border-style:none;}
#tabContent .default_style tr td table tr td{background-color:#EEE;}
#tabContent .default_style tr td table tr td span{color:#000;font-size:18pt;padding:3px;font-weight:bolder;}
#tabContent .default_style tr td table tr td a{color:#000;font-size:14pt;text-decoration:none;padding:3px;}


#tabContent .default_style2 tr td table{max-width:70px;min-width:60px;border-style:none;}
#tabContent .default_style2 tr td table tr td{background-color:#EEE;border-style:none;}
#tabContent .default_style2 tr td table tr td span{color:#000;font-size:18pt;padding:3px;font-weight:bolder;border-style:none;}
#tabContent .default_style2 tr td table tr td a{color:#000;font-size:14pt;text-decoration:none;padding:3px;border-style:none;}


#tabContent #search input, #tabContent #search select {
	width: 200px;	
}

#tabContent #search {
	border: 0;
	width: 35%;
	margin: 0 auto;	
}

#tabContent #search td {
	padding: 5px;
	border: 0;
}

.searchSubmit {
	text-align: center;	
}

#searchServices {
	width: 300px !important;
	width: 330px;
	margin: 0 auto;	
}

.searchSubmitServices {
	float: right;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;		
}

.searchSubmitServices:hover {
	float: right;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;
	color: #FFF;
	cursor: pointer;		
}


.searchSubmitApp {
	float: right;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;		
}

.searchSubmitApp:hover {
	float: right;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;
	color: #FFF;
	cursor: pointer;		
}

.searchSubmitClients{
	float: right;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;		
}

.searchSubmitClients:hover {
	float: right;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;
	color: #FFF;
	cursor: pointer;		
}


.searchSubmitLocation {
	float: right;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;		
}

.searchSubmitLocation:hover {
	float: right;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 15px;
	color: #FFF;
	cursor: pointer;		
}



.deleteSubmit {
	float: left;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 3px;		
}

.deleteSubmit:hover {
	float: left;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 3px;
	color: #FFF;
	cursor: pointer;		
}

.submitServices {
	float: left;
	background: #FFF;
	border: 1px #0D58A6 solid;
	padding: 3px 3px;		
}

.submitServices:hover {
	float: left;
	background: #A6CEF8;
	border: 1px #0D58A6 solid;
	padding: 3px 3px;
	color: #FFF;
	cursor: pointer;		
}

.searchTextServices {
	float: left;
	width: 200px;
	padding: 3px;	
}

#sep {
	width: 100%;
	height: 1px;
	background: #FFF;
	margin: 7px 0;	
}



.shadow {
  box-shadow: 3px 3px 3px #ccc;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;

  padding:12px; border:1px solid #EEE;

}