/*
 * SINFOPOINTEMENT APP CSS
 ******************************/

body {
	background: #FFF;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;

        color: #000000;		
}

a:link, a:active, a:visited {

	color:  #2A83C9 ;
        text-decoration: none
}

.quickLinks h4 {
    padding: 5px;
    background: #ffff00 ;
    color: #000;
    margin: 0;
    width:98%;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
}
.quickLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 170px;
}
 .quickLinks ul li {
    padding: 4px 0 4px 5px;
    border-bottom: 1px #EEE solid;
    text-align: left;
    width: 170px;
    margin-left: 3px;
    padding-left: 7px;
}
.quickLinks ul li a { text-decoration: none !important }