﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/mp_property_manager.master" AutoEventWireup="true" CodeFile="rent_default.aspx.cs" Inherits="manager_rent_rent_default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table>
<tr><td colspan="2"><h1>RENT</h1></td></tr>
<tr><td><h2>Rent payment</h2></td><td>Enable you to commit rents paid monthly by tenants.</td></tr>
<tr><td><h2>Untreated rent</h2></td><td>Enable you to view a list of unpaid tenant's rent.</td></tr>
<tr><td><h2>Delinquant tenant</h2></td><td>Enable you a list of tenants who's not paid their rent on time.</td></tr>
 </table>
</asp:Content>

