﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ip_restriction.aspx.cs" Inherits="tiger_ip_restriction" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
     Current Host : <asp:Label ID="lbl_host" runat="server"></asp:Label> <br />
     Current IP : <asp:Label ID="lbl_ip" runat="server"></asp:Label> <br />
     Current IP restriction :
        <asp:Label ID="lbl_ip_restriction" runat="server"></asp:Label>
    
        <br />
        <br />
        Set IP restriction
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="btn_iprestriction_on" runat="server" Text="ON" 
            onclick="btn_iprestriction_on_Click" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="btn_iprestriction_off" runat="server" Text="OFF" 
            onclick="btn_iprestriction_off_Click" />
    
    </div>
    </form>
</body>
</html>
