﻿<%@ Page Title="" Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="numberofuser.aspx.cs" Inherits="tiger_numberofuser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br /><br /><br />
THE NUMBER OF VALID LOGGED IN SESSIONS :&nbsp;&nbsp;<asp:Label ID="Label1" runat="server"
        Text="Label"></asp:Label>
</asp:Content>

