<%@ Page Language="C#" MasterPageFile="~/mp_public.master" AutoEventWireup="true" CodeFile="activate_account.aspx.cs" Inherits="create_account" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <asp:Label ID="message" runat="server" />
 
</asp:Content>

