﻿<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="ajaxtest.aspx.cs" Inherits="ajaxtest" Title="Untitled Page" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <cc1:TabContainer ID="TabContainer1"   runat="server">
    <cc1:TabPanel ID="tab1" HeaderText="tab..............1" runat="server">
    <ContentTemplate>
    jhjkhdshfjkhfjkhfjk<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </ContentTemplate>
    </cc1:TabPanel>
   
    <cc1:TabPanel ID="tab2" HeaderText="tab..............2" runat="server">
     <ContentTemplate>
    jhjkhdshfjkhfjkhfjk<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </ContentTemplate>
    </cc1:TabPanel>
    </cc1:TabContainer>

</asp:Content>

