<%@ Page Language="C#" MasterPageFile="~/mp_public.master" AutoEventWireup="true" CodeFile="contact.aspx.cs" Inherits="contact" Title=tiger real estate project --contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<table>
<tr><td>General Information</td></tr>
<tr><td><a mailto:info@tigerproject.com> info@tigerproject.com</a></td></tr>
<tr><td>Support Information</td></tr>
<tr><td><a mailto:support@tigerproject.com> support@tigerproject.com</a></td></tr>

</table>


</asp:Content>

 