<%@ Page Language="C#" MasterPageFile="~/manager/MasterPage3.master" AutoEventWireup="true" CodeFile="create_account.aspx.cs" Inherits="create_account" Title="Untitled Page" %>

<%@ Register Src="uc/uc_create_acount.ascx" TagName="uc_create_acount" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <table class="table_menu_module"><tr class="title_menu_module"><td colspan="2">Create Account</td></tr>
     <tr><td align="center"><asp:Button ID="thirty" text="30 days Free trial" runat="server" OnClick="thirty_Click" /> </td>
     
     <td><asp:Button ID="full" runat="server" text="Paid administrator Account" OnClick="full_Click"/></td></tr>
     </table>
</asp:Content>

