﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="default.aspx.cs" Inherits="_default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div style="min-height:460px;">
<div class="row-fluid">
						<div class="span12">
							
						</div>
					</div>
<asp:Panel style="min-height:460px;" ID="panel_event"  runat="server" />

					

                
            
 </div>
</asp:Content>

