﻿<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="emailtest.aspx.cs" Inherits="emailtest" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
EMAIL TEST
<br /><br />


    <asp:Button ID="Button1" runat="server" Text="SEND EMAIL" 
        onclick="Button1_Click" />
</asp:Content>

