<%@ Page Language="C#" MasterPageFile="~/manager/MasterPage3.master" AutoEventWireup="true" CodeFile="enable_account.aspx.cs" Inherits="enable_account" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <asp:Label ID="message" runat="server" />
</asp:Content>

