<%@ Page Language="C#" AutoEventWireup="true" CodeFile="forgot_password.aspx.cs" Inherits="forgot_password" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <br /><br /><br /><br /><br />
    <div>
    
        Access code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox1" runat="server" />
        <br />
    
    <br />
    
    Please type your username:
        <asp:TextBox ID="txt_user_name" runat="server" />
 <asp:RequiredFieldValidator runat="server" Display="dynamic" ID="safa" ControlToValidate="txt_user_name" Text="<%$ Resources:resource, iv_required %>" />
         <asp:RegularExpressionValidator runat="server" Display="dynamic" ID="reg_user_name" ControlToValidate="txt_user_name" Text="<%$ Resources:resource, iv_invalid_email %>" />  
           
        <br />
           
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:Button ID="btnSend" OnClick="btnSend_Click"  runat="server" Text="Button" />
        <asp:Label ID="lbl_success" runat="server" ></asp:Label>
    </div>
    </form>
</body>
</html>
