<%@ Page Language="C#" MasterPageFile="~/mp_public.master" AutoEventWireup="true" CodeFile="login_old.aspx.cs" Inherits="login_old" Title="Untitled Page"  %>

<%@ Register Src="uc/uc_login.ascx" TagName="uc_login" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  
  
  <table><tr><td align="center" style="font-size: x-small">
    <uc1:uc_login id="Uc_login1" runat="server">
    </uc1:uc_login>
    </td></tr></table>
     
  <br /><br />

  <b><asp:Label ID="Label1" runat="server" ></asp:Label></b>  <br />
   <b><asp:Label ID="Label2" runat="server" ></asp:Label></b> 
   <br /> 
   <%=DateTime.Now %><br />
   <%=DateTime.Now.ToString( "dd MMM \\'yy" )%> ok
      <br /><br />
</asp:Content>

