<%@ Master Language="C#" AutoEventWireup="true" CodeFile="mp_public.master.cs" Inherits="mp_public"     %>
<%@ Register Src="uc/uc_menu.ascx" TagName="uc_menu" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

       <link rel="stylesheet" type="text/css" href="http://cdn.sinfocatiger.com/styles.css" />     
       <link  rel="stylesheet" type="text/css" href="http://cdn.sinfocatiger.com/manager.css"  />

 <link href="http://cdn.sinfocatiger.com/filemanager/styles/style_custom/style.css" rel="stylesheet" type="text/css" />
    <title>Untitled Page</title>
  
           <style type="text/css">
           body
           {
           font-size:80%;
           margin:0;
           padding:0;
           background:#1a3b69;
           height:100%;
           }
           input,select,textarea
           {
           margin:1px;
           border:1px solid #ccc;
           }
           a{
           font-size:100%;
           text-decoration:underline;
           }
           a:hover
           {
           font-size:100%;
           text-decoration:underline;

           }
           
           
           
               #top
               {
               float:left;
               width: 100%;
               height:40px;
               font-size:150%;
               /*background-image:url(../i/top.gif);
               background-repeat:repeat-x;
               */
     margin-bottom:15px;              
               }
                #container
               {
               width:80%;
               margin:0pt auto;
               background:#fff;
              /* border-left:3px solid #fff;
               border-right:3px solid #fff;  */
                text-align:center;
                
               }
               #container2
               {
               width:80%;
               margin:0pt auto;
               background:#1a3b69;
               border-left:3px solid #fff;
               border-right:3px solid #fff;  
                text-align:center;
                
               }
               #menu2
               {
               width:100%;
               background:#fff; 
               text-align:left;
               margin-bottom:15px;
                      }
                
              #content2
              {
               
               width:100%;
               align-text:center;
               background:#fff;
               }
               #footer2
               {
               width:100%;
               background:#fff;
               text-align:right;
               margin-right:40px;
               }
     .title2
    {
    font-size:10%;
    font-weight:bold;
    font-family: Arial, Sans-Serif;
    }
           </style>
      <script  src="http://cdn.sinfocatiger.com/rounded.js"></script>
<meta http-equiv="refresh" content="0">
           </head>
<body  >
       <form id="form1" runat="server"> 
   <div id="container">
  <!-- Begin Header -->
       <div id="top"><asp:Label ID="lbl_project_name" runat="server" 
            Text="<%$ Resources:Resource, lbl_project_name %>"  CssClass="title2"/>
       
       <div style="width:100%; text-align:right;">
                <asp:DropDownList ID="Language" runat="server" CssClass="lang" AutoPostBack="True">
            <asp:ListItem Value="en-US">English (US)</asp:ListItem>
            <asp:ListItem Value="fr-FR">Francais</asp:ListItem> 
        </asp:DropDownList> 
       
       </div>
       </div>
    <!-- End Header -->
   
   
<div id="container2"  >
          
     <div id="menu2">
        
                  <uc1:uc_menu ID="uc_menu" runat="server" />
  </div>
          
       <div id="content2">   
          <div style="width:90%;margin:opt auto; background-color:#f5f5f5;" class="rounded">
 
                 <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
                    </asp:ContentPlaceHolder>
          </div> 
   </div>
  <!-- Begin Footer -->
   <div id="footer2">
   <hr align="left" color="#0000FF" noshade width="100%" />
   <asp:HyperLink ID="dsa" runat="server" NavigateUrl="/forget_pwd.aspx" Text="Contact"/>

    </div>
   <!-- End Footer -->
   
</div>

    
   
    
    </div>
 
 </form>
     <script type="text/javascript">
Rounded('rounded', 16, 16);
</script>
 </body>
</html>

