<%@ Page Language="C#" MasterPageFile="~/mp_public.master" AutoEventWireup="true" CodeFile="select_account_a.aspx.cs" Inherits="select_account_a" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table width="500"><tr><td>Select Account</td></tr>
<table width="100%"><tr><td><a href="create_account_30.aspx">30 days trial</a></td><td><a href="create_account.aspx">Create account 1 year membership</a></td></tr>
 
</table>

</table>
</asp:Content>

