<%@ Page Language="C#" %>
<%@ Register TagPrefix="obspl" Namespace="OboutInc.Splitter2" Assembly="obout_Splitter2_Net" %>
                case "property_list.aspx":
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
       /* string temp_pass = "stan";
        string temp_salt = security.Sec.createSalt(30);
        */
        Label1.Text = "User ip: " + HttpContext.Current.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
        Label1.Text += "<br/><br/>" + HttpContext.Current.Request.UserHostAddress.ToString();
        //+"<br/><br/>PASSWORD: " + temp_pass + "--SALT: " + temp_salt + "   <br/>" + security.Sec.createPasswordHash(temp_pass, temp_salt);
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label><br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" /> 
     
   
    </div>
    
    <obspl:Splitter runat="server" StyleFolder="../../styles/default_light">
    <LeftPanel>
        <Content>
        
            ... Left Panel content here ...
            
        </Content>
    </LeftPanel>
    <RightPanel>
        <Content>
        
            ... Right Panel content here ...
            
        </Content>
    </RightPanel>
</obspl:Splitter>   
    </form>
</body>
</html>

