﻿<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="tinymce.aspx.cs" Inherits="tinymce" Title="Untitled Page" %>
<%@ Register TagPrefix="cc" Namespace="MyWebSite" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



<script type="text/javascript" src="tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript">
function myCustomCleanup(type, value)
{   if (type == "insert_to_editor")
     {   value = value.replace(/&lt;/gi,"<");
          value = value.replace(/&gt;/gi,">");
     }
     return value;
}
function myCustomSaveContent(element_id, html, body)
{   html= html.replace(/</gi,"&lt;");
     html= html.replace(/>/gi,"&gt;");
     return html;
}

</script>


<!-- /TinyMCE -->

	
	<cc:TextEditor runat="server" ID="txt2" Width="600px" Mode="custom">Hello World!</cc:TextEditor>





</asp:Content>

