<%@ Page Language="C#" MasterPageFile="~/mp_public.master" AutoEventWireup="true" CodeFile="view_account.aspx.cs" Inherits="view_account" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table class="table_menu_module">
<tr><td colspan="2" class="title_menu_module" >View Account</td></tr>

</table>
</asp:Content>

