﻿<%@ Page Title="" validateRequest=false Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="xss.aspx.cs" Inherits="xss" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    CROSS SITE SCRIPTING AND HTML TEST<br />
    <br />
    <br />
    <asp:TextBox ID="TextBox1" runat="server" Height="71px" TextMode="MultiLine" 
        Width="460px"></asp:TextBox>
    <br />
    <br />
    <br />
&nbsp;<asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
        Text="Button" />
    <br />
    <br />
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    
    <br />
    <hr />
    <br />
    <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    
</asp:Content>

