﻿<%@ Page Language="C#" MasterPageFile="~/user/mp_property_manager.master" AutoEventWireup="true" CodeFile="lease_res_old_add_1_tmp.aspx.cs" Inherits="manager_lease_lease_res_old_add_1_tmp" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">
      <asp:View ID="View1" runat="server">
       



<div>
                &nbsp;&nbsp;
                <br /><center>RESIDENTIAL <asp:Label ID="lbl_create_lease_1" runat="server" Text="<%$ Resources:Resource, lbl_create_lease_1 %>"/>
                </center><br />
        <br />
        <table >
            <tr>
                <td>
      <asp:Label ID="lbl_property" runat="server" Text="<%$ Resources:Resource, lbl_property %>"/>
                </td>
                <td>
       <asp:DropDownList ID="ddl_home_id" DataValueField="home_id" DataTextField="home_name"   runat="server" autopostback="true" OnSelectedIndexChanged="ddl_home_id_SelectedIndexChanged" />
    
    
    
    
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;</td>
                <td>
      &nbsp;<asp:Label ID="lbl_begin" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_begin %>"/>
                </td>
                <td>
                    <asp:DropDownList ID="ddl_from_m" runat="server">
                    <asp:ListItem Text="<%$ Resources:Resource, txt_month %>" Value="0"></asp:ListItem>
                    <asp:ListItem Text="<%$ Resources:Resource, txt_january %>" Value="1"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_february %>" Value="2"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_march %>" Value="3"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_april %>" Value="4"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_may %>" Value="5"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_june %>" Value="6"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_july %>" Value="7"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_august %>" Value="8"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_september %>" Value="9"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_october %>" Value="10"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_november %>" Value="11"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_december %>" Value="12"></asp:ListItem>
                    </asp:DropDownList>
&nbsp;/
                    <asp:DropDownList ID="ddl_from_d" runat="server">
                         <asp:ListItem Text="<%$ Resources:Resource, txt_day %>"  Value="0"></asp:ListItem>
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                        <asp:ListItem>3</asp:ListItem>
                        <asp:ListItem>4</asp:ListItem>
                        <asp:ListItem>5</asp:ListItem>
                        <asp:ListItem>6</asp:ListItem>
                        <asp:ListItem>7</asp:ListItem>
                        <asp:ListItem>8</asp:ListItem>
                        <asp:ListItem>9</asp:ListItem>
                        <asp:ListItem>10</asp:ListItem>
                        <asp:ListItem>11</asp:ListItem>
                        <asp:ListItem>12</asp:ListItem>
                        <asp:ListItem>13</asp:ListItem>
                        <asp:ListItem>14</asp:ListItem>
                        <asp:ListItem>15</asp:ListItem>
                        <asp:ListItem>16</asp:ListItem>
                        <asp:ListItem>17</asp:ListItem>
                        <asp:ListItem>18</asp:ListItem>
                        <asp:ListItem>19</asp:ListItem>
                        <asp:ListItem>20</asp:ListItem>
                        <asp:ListItem>21</asp:ListItem>
                        <asp:ListItem>22</asp:ListItem>
                        <asp:ListItem>23</asp:ListItem>
                        <asp:ListItem>24</asp:ListItem>
                        <asp:ListItem>25</asp:ListItem>
                        <asp:ListItem>26</asp:ListItem>
                        <asp:ListItem>27</asp:ListItem>
                        <asp:ListItem>28</asp:ListItem>
                        <asp:ListItem>29</asp:ListItem>
                        <asp:ListItem>30</asp:ListItem>
                        <asp:ListItem>31</asp:ListItem>
                    </asp:DropDownList>
&nbsp;/
                    <asp:DropDownList ID="ddl_from_y" runat="server">
                    <asp:ListItem Text="<%$ Resources:Resource, txt_year %>"  Value="0"></asp:ListItem>
                    <asp:ListItem>1980</asp:ListItem>
                    <asp:ListItem>1981</asp:ListItem>
                    <asp:ListItem>1982</asp:ListItem>
                    <asp:ListItem>1983</asp:ListItem>
                    <asp:ListItem>1984</asp:ListItem>
                    <asp:ListItem>1985</asp:ListItem>
                    <asp:ListItem>1986</asp:ListItem>
                    <asp:ListItem>1987</asp:ListItem>
                    <asp:ListItem>1988</asp:ListItem>
                    <asp:ListItem>1989</asp:ListItem>
                    <asp:ListItem>1990</asp:ListItem>
                    <asp:ListItem>1991</asp:ListItem>
                    <asp:ListItem>1992</asp:ListItem>
                    <asp:ListItem>1993</asp:ListItem>
                    <asp:ListItem>1994</asp:ListItem>
                    <asp:ListItem>1995</asp:ListItem>
                    <asp:ListItem>1996</asp:ListItem>
                    <asp:ListItem>1997</asp:ListItem>
                    <asp:ListItem>1998</asp:ListItem>
                    <asp:ListItem>1999</asp:ListItem>                    
                    <asp:ListItem>2000</asp:ListItem>
                    <asp:ListItem>2001</asp:ListItem>
                    <asp:ListItem>2002</asp:ListItem>
                    <asp:ListItem>2003</asp:ListItem>
                    <asp:ListItem>2004</asp:ListItem>
                    <asp:ListItem>2005</asp:ListItem>
                    <asp:ListItem>2006</asp:ListItem>
                    <asp:ListItem>2007</asp:ListItem>
                    <asp:ListItem>2008</asp:ListItem>
                    <asp:ListItem>2009</asp:ListItem>
                    <asp:ListItem>2010</asp:ListItem>
                    <asp:ListItem>2011</asp:ListItem>
                    <asp:ListItem>2012</asp:ListItem>
                    <asp:ListItem>2013</asp:ListItem>
                    <asp:ListItem>2014</asp:ListItem>
                    <asp:ListItem>2015</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td>
      <asp:Label ID="lbl_unit" runat="server" Text="<%$ Resources:Resource, lbl_unit %>"/>
                </td>
                <td>
        <asp:DropDownList ID="ddl_unit_id" DataValueField="unit_id" DataTextField="unit_door_no"   runat="server" />
    
    
    
    
                </td>
                <td>
                    &nbsp;</td>
                <td>
      <asp:Label ID="lbl_end" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_end %>"/>
                </td>
                <td>
                    <asp:DropDownList ID="ddl_to_m" runat="server">
                    
                    <asp:ListItem Text="<%$ Resources:Resource, txt_month %>" Value="0"></asp:ListItem>
                    <asp:ListItem Text="<%$ Resources:Resource, txt_january %>" Value="1"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_february %>" Value="2"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_march %>" Value="3"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_april %>" Value="4"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_may %>" Value="5"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_june %>" Value="6"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_july %>" Value="7"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_august %>" Value="8"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_september %>" Value="9"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_october %>" Value="10"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_november %>" Value="11"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_december %>" Value="12"></asp:ListItem>
                    
                    </asp:DropDownList>
&nbsp;/
                    <asp:DropDownList ID="ddl_to_d" runat="server">
                        <asp:ListItem Text="<%$ Resources:Resource, txt_day %>"  Value="0"></asp:ListItem>
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                        <asp:ListItem>3</asp:ListItem>
                        <asp:ListItem>4</asp:ListItem>
                        <asp:ListItem>5</asp:ListItem>
                        <asp:ListItem>6</asp:ListItem>
                        <asp:ListItem>7</asp:ListItem>
                        <asp:ListItem>8</asp:ListItem>
                        <asp:ListItem>9</asp:ListItem>
                        <asp:ListItem>10</asp:ListItem>
                        <asp:ListItem>11</asp:ListItem>
                        <asp:ListItem>12</asp:ListItem>
                        <asp:ListItem>13</asp:ListItem>
                        <asp:ListItem>14</asp:ListItem>
                        <asp:ListItem>15</asp:ListItem>
                        <asp:ListItem>16</asp:ListItem>
                        <asp:ListItem>17</asp:ListItem>
                        <asp:ListItem>18</asp:ListItem>
                        <asp:ListItem>19</asp:ListItem>
                        <asp:ListItem>20</asp:ListItem>
                        <asp:ListItem>21</asp:ListItem>
                        <asp:ListItem>22</asp:ListItem>
                        <asp:ListItem>23</asp:ListItem>
                        <asp:ListItem>24</asp:ListItem>
                        <asp:ListItem>25</asp:ListItem>
                        <asp:ListItem>26</asp:ListItem>
                        <asp:ListItem>27</asp:ListItem>
                        <asp:ListItem>28</asp:ListItem>
                        <asp:ListItem>29</asp:ListItem>
                        <asp:ListItem>30</asp:ListItem>
                        <asp:ListItem>31</asp:ListItem>
                    </asp:DropDownList>
&nbsp;/
                    <asp:DropDownList ID="ddl_to_y" runat="server">
                    <asp:ListItem Text="<%$ Resources:Resource, txt_year%>"  Value="0"></asp:ListItem>
                    <asp:ListItem>1980</asp:ListItem>
                    <asp:ListItem>1981</asp:ListItem>
                    <asp:ListItem>1982</asp:ListItem>
                    <asp:ListItem>1983</asp:ListItem>
                    <asp:ListItem>1984</asp:ListItem>
                    <asp:ListItem>1985</asp:ListItem>
                    <asp:ListItem>1986</asp:ListItem>
                    <asp:ListItem>1987</asp:ListItem>
                    <asp:ListItem>1988</asp:ListItem>
                    <asp:ListItem>1989</asp:ListItem>
                    <asp:ListItem>1990</asp:ListItem>
                    <asp:ListItem>1991</asp:ListItem>
                    <asp:ListItem>1992</asp:ListItem>
                    <asp:ListItem>1993</asp:ListItem>
                    <asp:ListItem>1994</asp:ListItem>
                    <asp:ListItem>1995</asp:ListItem>
                    <asp:ListItem>1996</asp:ListItem>
                    <asp:ListItem>1997</asp:ListItem>
                    <asp:ListItem>1998</asp:ListItem>
                    <asp:ListItem>1999</asp:ListItem>                    
                    <asp:ListItem>2000</asp:ListItem>
                    <asp:ListItem>2001</asp:ListItem>
                    <asp:ListItem>2002</asp:ListItem>
                    <asp:ListItem>2003</asp:ListItem>
                    <asp:ListItem>2004</asp:ListItem>
                    <asp:ListItem>2005</asp:ListItem>
                    <asp:ListItem>2006</asp:ListItem>
                    <asp:ListItem>2007</asp:ListItem>
                    <asp:ListItem>2008</asp:ListItem>
                    <asp:ListItem>2009</asp:ListItem>
                    <asp:ListItem>2010</asp:ListItem>
                    <asp:ListItem>2011</asp:ListItem>
                    <asp:ListItem>2012</asp:ListItem>
                    <asp:ListItem>2013</asp:ListItem>
                    <asp:ListItem>2014</asp:ListItem>
                    <asp:ListItem>2015</asp:ListItem>
                    </asp:DropDownList>
                </td>
                            <td>
&nbsp;&nbsp;
                                </td>
            </tr>
        </table>
        <br />
        <asp:Label ID="lbl_address" runat="server" Text="<%$ Resources:Resource, lbl_address %>"/>
    :<br />
        <asp:Repeater runat="server" ID="rhome_view">
        <ItemTemplate>
        <table bgcolor="#ffffcc" >
        
        <tr>
          <td>
                 District&nbsp;:&nbsp; <%#DataBinder.Eval(Container.DataItem, "home_district")%> 
                   </td>
            </tr>
           <tr>
              <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_addr_no")%> &nbsp;,&nbsp;
                   <%#DataBinder.Eval(Container.DataItem, "home_addr_street")%></td>
            </tr>
            <tr>
                 <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_city")%> &nbsp;,&nbsp;
                   <%#DataBinder.Eval(Container.DataItem, "home_prov")%></td>
               
            </tr>
            <tr>
                 <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_pc")%> 
                
                   </td>
               
            </tr>   
        </table>
        </ItemTemplate>
        </asp:Repeater> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br />
                <br />
                <asp:Button ID="btn_next" runat="server" onclick="btn_next_Click" 
                    Text="NEXT" />
    <br />
    </div>
    
    
       </asp:View>
      

      
      
      
       
       
      
       
       
      
       
      
      
      
      
      
      
      <asp:View ID="View2" runat="server">
      <b> &nbsp;&nbsp;
                <br /><h3><asp:Label ID="lbl_create_lease_2" runat="server" Text="CREATE RESIDENTIAL LEASE - STEP 2"/></h3>
                <br /></b><br />
                
                
                    <asp:Label ID="lbl_tenants" runat="server" ></asp:Label>  Person(s) responsable
                
                <br />
                <br />
          <asp:Repeater ID="rTenantTempoList" runat="server">
              <ItemTemplate>
                  &nbsp;&nbsp; <%#DataBinder.Eval(Container.DataItem, "name_fname")%>&nbsp;,&nbsp;
                  <%#DataBinder.Eval(Container.DataItem, "name_lname")%><br />
              </ItemTemplate>
          </asp:Repeater>
          <br />
                 
     <table><tr><td style="width: 460px">
     <table>
     <tr><td><asp:CheckBox ID="chb_1" Text="<%$ Resources:Resource, lbl_select_name %>" runat="server" OnCheckedChanged="chb_1_CheckedChanged" AutoPostBack="true" /></td></tr>
     <asp:Panel ID="panel_1" runat="server" Visible="false">
     <tr><td ><asp:Label ID="lbl_tenant" runat="server" Text="<%$ Resources:Resource, lbl_tenant %>"/> &nbsp;&nbsp;<asp:DropDownList ID="ddl_name_id_1"   DataValueField="name_id" DataTextField="name_name" runat="server" />
        </td></tr>
        </asp:Panel>
            </table>
     </td></tr>
     <tr><td style="width: 460px"><asp:CheckBox ID="chb_name_add_1"  Text="<%$ Resources:Resource, lbl_new_name %>" runat="server" OnCheckedChanged="chb_name_add_1_CheckedChanged"  AutoPostBack="true" /></td></tr>
     <asp:Panel ID="panel_name_add_1" Visible="false" runat="server">
     <tr><td> 
     <table border="0" cellpadding="1" cellspacing="3" bgcolor="#ffffcc">
            <tr><td ><asp:Label ID="lbl_fname" runat="server" Text="<%$ Resources:Resource, lbl_fname %>"/></td>
                <td><asp:TextBox ID="name_fname_1"  runat="server"/></td>
                <td ><asp:Label ID="lbl_lname" runat="server" Text="<%$ Resources:Resource, lbl_lname %>"/></td>
                <td><asp:TextBox ID="name_lname_1"  runat="server"/></td>
            </tr>
            <tr>
             <td >
                 <asp:Label ID="lbl_dob" runat="server" Text="<%$ Resources:Resource, lbl_dob %>"/></td>
             <td colspan="3">
                 <asp:DropDownList ID="ddl_name_1_dob_m" runat="server">
                    <asp:ListItem Text="<%$ Resources:Resource, txt_month %>" Value="0"></asp:ListItem>
                    <asp:ListItem Text="<%$ Resources:Resource, txt_january %>" Value="1"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_february %>" Value="2"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_march %>" Value="3"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_april %>" Value="4"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_may %>" Value="5"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_june %>" Value="6"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_july %>" Value="7"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_august %>" Value="8"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_september %>" Value="9"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_october %>" Value="10"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_november %>" Value="11"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_december %>" Value="12"></asp:ListItem>
                    
                 </asp:DropDownList>&nbsp; / &nbsp;
                 <asp:DropDownList ID="ddl_name_1_dob_d" runat="server">
                     <asp:ListItem Text="<%$ Resources:Resource, txt_day %>" Value="0"></asp:ListItem>
                     <asp:ListItem>1</asp:ListItem>
                     <asp:ListItem>2</asp:ListItem>
                     <asp:ListItem>3</asp:ListItem>
                     <asp:ListItem>4</asp:ListItem>
                     <asp:ListItem>5</asp:ListItem>
                     <asp:ListItem>6</asp:ListItem>
                     <asp:ListItem>7</asp:ListItem>
                     <asp:ListItem>8</asp:ListItem>
                     <asp:ListItem>9</asp:ListItem>
                     <asp:ListItem>10</asp:ListItem>
                     <asp:ListItem>11</asp:ListItem>
                     <asp:ListItem>12</asp:ListItem>
                     <asp:ListItem>13</asp:ListItem>
                     <asp:ListItem>14</asp:ListItem>
                     <asp:ListItem>15</asp:ListItem>
                     <asp:ListItem>16</asp:ListItem>
                     <asp:ListItem>17</asp:ListItem>
                     <asp:ListItem>18</asp:ListItem>
                     <asp:ListItem>19</asp:ListItem>
                     <asp:ListItem>20</asp:ListItem>
                     <asp:ListItem>21</asp:ListItem>
                     <asp:ListItem>22</asp:ListItem>
                     <asp:ListItem>23</asp:ListItem>
                     <asp:ListItem>24</asp:ListItem>
                     <asp:ListItem>25</asp:ListItem>
                     <asp:ListItem>26</asp:ListItem>
                     <asp:ListItem>27</asp:ListItem>
                     <asp:ListItem>28</asp:ListItem>
                     <asp:ListItem>29</asp:ListItem>
                     <asp:ListItem>30</asp:ListItem>
                     <asp:ListItem>31</asp:ListItem>
                 </asp:DropDownList>&nbsp; / &nbsp;
                 <asp:DropDownList ID="ddl_name_1_dob_y" runat="server" >
                     <asp:ListItem Text="<%$ Resources:Resource, txt_year %>"  Value="0"></asp:ListItem>
                     <asp:ListItem>1960</asp:ListItem>
                     <asp:ListItem>1961</asp:ListItem>
                     <asp:ListItem>1962</asp:ListItem>
                     <asp:ListItem>1963</asp:ListItem>
                     <asp:ListItem>1964</asp:ListItem>
                     <asp:ListItem>1965</asp:ListItem>
                     <asp:ListItem>1966</asp:ListItem>
                     <asp:ListItem>1967</asp:ListItem>
                     <asp:ListItem>1968</asp:ListItem>
                     <asp:ListItem>1969</asp:ListItem>
                     <asp:ListItem>1970</asp:ListItem>
                     <asp:ListItem>1972</asp:ListItem>
                     <asp:ListItem>1973</asp:ListItem>
                     <asp:ListItem>1974</asp:ListItem>
                     <asp:ListItem>1975</asp:ListItem>
                     <asp:ListItem>1976</asp:ListItem>
                     <asp:ListItem>1977</asp:ListItem>
                     <asp:ListItem>1978</asp:ListItem>
                     <asp:ListItem>1979</asp:ListItem>
                     <asp:ListItem>1980</asp:ListItem>
                     <asp:ListItem>1981</asp:ListItem>
                     <asp:ListItem>1982</asp:ListItem>
                     <asp:ListItem>1983</asp:ListItem>
                     <asp:ListItem>1984</asp:ListItem>
                     <asp:ListItem>1985</asp:ListItem>
                     <asp:ListItem>1986</asp:ListItem>
                     <asp:ListItem>1987</asp:ListItem>
                     <asp:ListItem>1988</asp:ListItem>
                     <asp:ListItem>1989</asp:ListItem>
                     <asp:ListItem>1990</asp:ListItem>
                     <asp:ListItem>1991</asp:ListItem>
                     <asp:ListItem>1992</asp:ListItem>
                     <asp:ListItem>1993</asp:ListItem>
                     <asp:ListItem>1994</asp:ListItem>
                     <asp:ListItem>1995</asp:ListItem>
                     <asp:ListItem>1996</asp:ListItem>
                     <asp:ListItem>1997</asp:ListItem>
                     <asp:ListItem>1998</asp:ListItem>
                     <asp:ListItem>1999</asp:ListItem>
                     <asp:ListItem>2000</asp:ListItem>
                     <asp:ListItem>2001</asp:ListItem>
                     <asp:ListItem>2002</asp:ListItem>
                     <asp:ListItem>2003</asp:ListItem>
                     <asp:ListItem>2004</asp:ListItem>
                     <asp:ListItem>2005</asp:ListItem>
                     <asp:ListItem>2006</asp:ListItem>
                     <asp:ListItem>2007</asp:ListItem>
                     <asp:ListItem>2008</asp:ListItem>
                 </asp:DropDownList></td>
         </tr>
            <tr><td ><asp:Label ID="Label1" runat="server" Text="<%$ Resources:Resource, lbl_address %>"/></td>
                <td><asp:TextBox ID="name_addr_1"  runat="server"></asp:TextBox></td>
                <td ><asp:Label ID="lbl_city" runat="server" Text="<%$ Resources:Resource, lbl_city %>"/></td>
                <td><asp:TextBox ID="name_addr_city_1"  runat="server"/></td>
            </tr>
            <tr><td ><asp:Label ID="lbl_pc" runat="server" Text="<%$ Resources:Resource, lbl_pc %>"/></td>
                <td><asp:TextBox ID="name_addr_pc_1"  runat="server"/></td>
                <td ><asp:Label ID="lbl_prov" runat="server" Text="<%$ Resources:Resource, lbl_prov %>"/></td>
                <td>
                    <asp:TextBox ID="name_addr_state_1"  runat="server"/></td>
            </tr>
            <tr><td  ><asp:Label ID="lbl_country" runat="server" Text="<%$ Resources:Resource, lbl_country %>"/></td>
                <td colspan="3"><asp:DropDownList ID="ddl_country_id_1"  runat="server" DataTextField="country_name"
                        DataValueField="country_id"/></td>
            </tr>
            <tr><td ><asp:Label ID="lbl_tel" runat="server" Text="<%$ Resources:Resource, lbl_tel %>"/></td>
                <td><asp:TextBox ID="name_tel_1"  runat="server"/></td>
            <td ><asp:Label ID="lbl_tel_work" runat="server" Text="<%$ Resources:Resource, lbl_tel_work %>"/></td>
                <td><asp:TextBox ID="name_tel_work_1"  runat="server"/></td>
            </tr>
            <tr><td ><asp:Label ID="lbl_tel_work_ext" runat="server" Text="<%$ Resources:Resource, lbl_tel_work_ext %>"/></td>
                <td><asp:TextBox ID="name_tel_work_ext_1"  runat="server"/></td>
		<td ><asp:Label ID="lbl_cell" runat="server" Text="<%$ Resources:Resource, lbl_cell %>"/></td>
                <td><asp:TextBox ID="name_cell_1"  runat="server"/></td>
            </tr>
            <tr><td ><asp:Label ID="lbl_fax" runat="server" Text="<%$ Resources:Resource, lbl_fax %>"/></td>
                <td><asp:TextBox ID="name_fax_1"  runat="server"/></td>
                <td ><asp:Label ID="lbl_email" runat="server" Text="<%$ Resources:Resource, lbl_email %>"/></td>
                <td><asp:TextBox ID="name_email_1"  runat="server"/></td>
            </tr>
            <tr><td ><asp:Label ID="lbl_com" Visible="false" runat="server" Text="<%$ Resources:Resource, lbl_com %>"/></td>
                <td colspan="3"><asp:TextBox ID="name_com_1" Visible="false" runat="server" TextMode="MultiLine" Width="389px"/></td>
            </tr>
        </table>
     </td></tr>
     </asp:Panel>
    <tr><td style="width: 460px"><br />
        <asp:Button ID="btn_previous_1" runat="server" Text="Previous" 
            onclick="btn_previous_1_Click" />
        &nbsp; <asp:Button ID="btn_other" runat="server"  OnClick="btn_other_Click" Text="Add a person" />
        &nbsp; <asp:Button ID="btn_next_2" runat="server" Text="NEXT" 
            onclick="btn_next_2_Click" />&nbsp;&nbsp;&nbsp;</td></tr>
    <tr><td style="width: 460px">
     
    </td></tr>
     </table>
     <asp:HiddenField Visible="false"  id="hd_tenant_id" runat="server" />
    
      </asp:View>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <asp:View ID="View3" runat="server">
      
      
      <br /><center><asp:Label ID="Label2"  runat="server" Text="CREATE RESIDENTIAL LEASE STEP 3"/>
             </center><br /><br />
             
         <asp:Label ID="Label3"  runat="server" Text="Person(s) responsable"/><br /><br />
                 
              <asp:Repeater runat="server" ID="rTenantTempoList_1">
        <ItemTemplate>
        
  <asp:Label ID="lbl_name" runat="server" Text="<%$ Resources:Resource, lbl_name %>"/>&nbsp;:&nbsp; <%#DataBinder.Eval(Container.DataItem, "name_fname")%>&nbsp;,&nbsp;
 <%#DataBinder.Eval(Container.DataItem, "name_lname")%><br />
  

                   
                   
      
        </ItemTemplate>
        </asp:Repeater>  <br /><br />
       
       <asp:Repeater runat="server" ID="rTenantUnitTempoDate">
        <ItemTemplate>
        
  <asp:Label ID="lbl_lease_date_begin" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_begin %>"/>&nbsp;:&nbsp;&nbsp;&nbsp; <asp:Label ID="tu_date_begin" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("tu_date_begin")))%>'/><br />
  <asp:Label ID="lbl_lease_date_end" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_end %>"/>&nbsp;:&nbsp;&nbsp;&nbsp;<asp:Label ID="tu_date_end" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("tu_date_end")))%>'/><br />

  <br /><br />

                   
          <asp:HiddenField Visible="false" id="hd_lease_date_begin" value='<%#DataBinder.Eval(Container.DataItem, "tu_date_begin")%>'  runat="server" />
          <asp:HiddenField Visible="false" id="hd_lease_date_end" value='<%#DataBinder.Eval(Container.DataItem, "tu_date_end")%>'  runat="server" />         
      
        </ItemTemplate>
        </asp:Repeater>      
             
<asp:Label ID="lbl_same_rent" runat="server" Text="<%$ Resources:Resource, lbl_same_rent %>"/><br /><br /><br />
    <asp:Button ID="btn_yes" runat="server" 
        Text="<%$ Resources:Resource, btn_yes %>" onclick="btn_yes_Click" />&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btn_no" runat="server" Text="<%$ Resources:Resource, btn_no %>" 
        onclick="btn_no_Click" /><br />
   
   
    <asp:Panel ID="panel_rent" runat="server">
     <table>
 
 <tr>
 <td>
  <asp:Label ID="lbl_rent_amount" runat="server" Text="<%$ Resources:Resource, gv_rent %>"/>   
 </td>
 <td><asp:TextBox Width="150px" ID="rl_rent_amount" runat="server" />&nbsp;<asp:RegularExpressionValidator 
         ID="reg_rl_rent_amount" runat="server" ControlToValidate="rl_rent_amount" 
         ErrorMessage="enter an amount" ValidationGroup="vg_acc"> </asp:RegularExpressionValidator>
     &nbsp;<asp:RequiredFieldValidator ID="req_rl_rent_amount" runat="server" 
         ControlToValidate="rl_rent_amount" ErrorMessage="required" 
         ValidationGroup="vg_acc"> </asp:RequiredFieldValidator>
     </td>
 </tr>

 
 
   <tr> 
   
   <td valign="top"><asp:Label ID="lbl_rent_paid_every" runat="server" Text="<%$ Resources:Resource, lbl_rent_paid_every %>"/>
       </td>
   <td >
         <asp:DropDownList ID="ddl_rl_rent_paid_every" runat="server">
             <asp:ListItem Value="1">1st of Month</asp:ListItem>
             <asp:ListItem Value="2">2nd of Month</asp:ListItem>
             <asp:ListItem Value="3">3rd  of Month</asp:ListItem>
             <asp:ListItem Value="4">4th of Month</asp:ListItem>
             <asp:ListItem Value="5">5  of  Month</asp:ListItem>
             <asp:ListItem Value="6">6  of  Month</asp:ListItem>
             <asp:ListItem Value="7">7  of  Month</asp:ListItem>
             <asp:ListItem Value="8">8  of  Month</asp:ListItem>
             <asp:ListItem Value="9">9  of  Month</asp:ListItem>
             <asp:ListItem Value="10">10 of Month</asp:ListItem>
             <asp:ListItem Value="11">11 of Month</asp:ListItem>
             <asp:ListItem Value="12">12 of Month</asp:ListItem>
             <asp:ListItem Value="13">13 of Month</asp:ListItem>
             <asp:ListItem Value="14">14 of Month</asp:ListItem>
             <asp:ListItem Value="15">15 of Month</asp:ListItem>
             <asp:ListItem Value="16">16 of Month</asp:ListItem>
             <asp:ListItem Value="17">17 of Month</asp:ListItem>
             <asp:ListItem Value="18">18 of Month</asp:ListItem>
             <asp:ListItem Value="19">19 of Month</asp:ListItem>
             <asp:ListItem Value="20">20 of Month</asp:ListItem>
             <asp:ListItem Value="21">21 of Month</asp:ListItem>
             <asp:ListItem Value="22">22 of Month</asp:ListItem>
             <asp:ListItem Value="23">23 of Month</asp:ListItem>
             <asp:ListItem Value="24">24 of Month</asp:ListItem>
             <asp:ListItem Value="25">25 of Month</asp:ListItem>
             <asp:ListItem Value="26">26 of Month</asp:ListItem>
             <asp:ListItem Value="27">27 of Month</asp:ListItem>
             <asp:ListItem Value="28">28 of Month</asp:ListItem>
             <asp:ListItem Value="29">29 of Month</asp:ListItem>
             <asp:ListItem Value="30">30 of Month</asp:ListItem>
             <asp:ListItem Value="31">31 of Month</asp:ListItem>
             <asp:ListItem Value="32">1st monday of Month</asp:ListItem>
             <asp:ListItem Value="33">2nd monday of Month</asp:ListItem>
             <asp:ListItem Value="34">3rd monday of Month</asp:ListItem>
             <asp:ListItem Value="35">4th monday of Month</asp:ListItem>
             <asp:ListItem Value="36">1st tuesday of Month</asp:ListItem>
             <asp:ListItem Value="37">2nd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="38">3rd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="39">4th tuesday of Month</asp:ListItem>
             <asp:ListItem Value="40">1st wednesday of Month</asp:ListItem>
             <asp:ListItem Value="41">2nd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="42">3rd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="43">4th wednesday of Month</asp:ListItem>
             <asp:ListItem Value="44">1st thursday of Month</asp:ListItem>
             <asp:ListItem Value="45">2nd thursday of Month</asp:ListItem>
             <asp:ListItem Value="46">3rd thursday of Month</asp:ListItem>
             <asp:ListItem Value="47">4th thursday of Month</asp:ListItem>
             <asp:ListItem Value="48">1st friday of Month</asp:ListItem>
             <asp:ListItem Value="49">2nd friday of Month</asp:ListItem>
             <asp:ListItem Value="50">3rd friday of Month</asp:ListItem>
             <asp:ListItem Value="51">4th friday of Month</asp:ListItem>
             <asp:ListItem Value="52">1st saturday of Month</asp:ListItem>
             <asp:ListItem Value="53">2nd saturday of Month</asp:ListItem>
             <asp:ListItem Value="54">3rd saturday of Month</asp:ListItem>
             <asp:ListItem Value="55">4th saturday of Month</asp:ListItem>
             <asp:ListItem Value="56">1st sunday of Month</asp:ListItem>
             <asp:ListItem Value="57">2nd sunday of Month</asp:ListItem>
             <asp:ListItem Value="58">3rd sunday of Month</asp:ListItem>
             <asp:ListItem Value="59">4th sunday of Month</asp:ListItem>
             <asp:ListItem Value="60">Every 3 Months</asp:ListItem>
             <asp:ListItem Value="61">Every 6 Months</asp:ListItem>
             <asp:ListItem Value="62">Year</asp:ListItem>
         </asp:DropDownList>
         <br />
         <br />
         <asp:Button ID="btn_previous_2" runat="server" onclick="btn_previous_2_Click" 
             Text="PREVIOUS" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <asp:Button ID="btn_next_3" runat="server" onclick="btn_next_3_Click" 
             Text="NEXT" ValidationGroup="vg_acc" />
      
   </td>
   </tr> </table>
         
    
    </asp:Panel>
    <asp:Panel ID="panel_rent_no" runat="server">
     <table>
 
 <tr>
 <td>
  <asp:Label ID="lbl_initial_rent" runat="server" Text="<%$ Resources:Resource, lbl_initial_rent %>"/> 
 </td>
 <td><asp:TextBox Width="150px" ID="rl_rent_amount_no" runat="server" />&nbsp;<asp:RegularExpressionValidator 
         ID="reg_rl_rent_amount_no" runat="server" ControlToValidate="rl_rent_amount_no" 
         ErrorMessage="enter an amount" ValidationGroup="vg_acc_2"> </asp:RegularExpressionValidator>
     &nbsp;<asp:RequiredFieldValidator ID="req_rl_rent_amount_no" runat="server" 
         ControlToValidate="rl_rent_amount_no" ErrorMessage="required" 
         ValidationGroup="vg_acc_2"> </asp:RequiredFieldValidator>
     </td>
 </tr>
 <tr> 
   <td valign="top"><asp:Label ID="Label4" runat="server" Text="<%$ Resources:Resource, lbl_rent_paid_every %>"/></td>
   <td >
      
         <asp:DropDownList ID="ddl_rl_rent_paid_every_no" runat="server">
             <asp:ListItem Value="1">1st of Month</asp:ListItem>
             <asp:ListItem Value="2">2nd of Month</asp:ListItem>
             <asp:ListItem Value="3">3rd  of Month</asp:ListItem>
             <asp:ListItem Value="4">4th of Month</asp:ListItem>
             <asp:ListItem Value="5">5  of  Month</asp:ListItem>
             <asp:ListItem Value="6">6  of  Month</asp:ListItem>
             <asp:ListItem Value="7">7  of  Month</asp:ListItem>
             <asp:ListItem Value="8">8  of  Month</asp:ListItem>
             <asp:ListItem Value="9">9  of  Month</asp:ListItem>
             <asp:ListItem Value="10">10 of Month</asp:ListItem>
             <asp:ListItem Value="11">11 of Month</asp:ListItem>
             <asp:ListItem Value="12">12 of Month</asp:ListItem>
             <asp:ListItem Value="13">13 of Month</asp:ListItem>
             <asp:ListItem Value="14">14 of Month</asp:ListItem>
             <asp:ListItem Value="15">15 of Month</asp:ListItem>
             <asp:ListItem Value="16">16 of Month</asp:ListItem>
             <asp:ListItem Value="17">17 of Month</asp:ListItem>
             <asp:ListItem Value="18">18 of Month</asp:ListItem>
             <asp:ListItem Value="19">19 of Month</asp:ListItem>
             <asp:ListItem Value="20">20 of Month</asp:ListItem>
             <asp:ListItem Value="21">21 of Month</asp:ListItem>
             <asp:ListItem Value="22">22 of Month</asp:ListItem>
             <asp:ListItem Value="23">23 of Month</asp:ListItem>
             <asp:ListItem Value="24">24 of Month</asp:ListItem>
             <asp:ListItem Value="25">25 of Month</asp:ListItem>
             <asp:ListItem Value="26">26 of Month</asp:ListItem>
             <asp:ListItem Value="27">27 of Month</asp:ListItem>
             <asp:ListItem Value="28">28 of Month</asp:ListItem>
             <asp:ListItem Value="29">29 of Month</asp:ListItem>
             <asp:ListItem Value="30">30 of Month</asp:ListItem>
             <asp:ListItem Value="31">31 of Month</asp:ListItem>
             <asp:ListItem Value="32">1st monday of Month</asp:ListItem>
             <asp:ListItem Value="33">2nd monday of Month</asp:ListItem>
             <asp:ListItem Value="34">3rd monday of Month</asp:ListItem>
             <asp:ListItem Value="35">4th monday of Month</asp:ListItem>
             <asp:ListItem Value="36">1st tuesday of Month</asp:ListItem>
             <asp:ListItem Value="37">2nd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="38">3rd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="39">4th tuesday of Month</asp:ListItem>
             <asp:ListItem Value="40">1st wednesday of Month</asp:ListItem>
             <asp:ListItem Value="41">2nd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="42">3rd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="43">4th wednesday of Month</asp:ListItem>
             <asp:ListItem Value="44">1st thursday of Month</asp:ListItem>
             <asp:ListItem Value="45">2nd thursday of Month</asp:ListItem>
             <asp:ListItem Value="46">3rd thursday of Month</asp:ListItem>
             <asp:ListItem Value="47">4th thursday of Month</asp:ListItem>
             <asp:ListItem Value="48">1st friday of Month</asp:ListItem>
             <asp:ListItem Value="49">2nd friday of Month</asp:ListItem>
             <asp:ListItem Value="50">3rd friday of Month</asp:ListItem>
             <asp:ListItem Value="51">4th friday of Month</asp:ListItem>
             <asp:ListItem Value="52">1st saturday of Month</asp:ListItem>
             <asp:ListItem Value="53">2nd saturday of Month</asp:ListItem>
             <asp:ListItem Value="54">3rd saturday of Month</asp:ListItem>
             <asp:ListItem Value="55">4th saturday of Month</asp:ListItem>
             <asp:ListItem Value="56">1st sunday of Month</asp:ListItem>
             <asp:ListItem Value="57">2nd sunday of Month</asp:ListItem>
             <asp:ListItem Value="58">3rd sunday of Month</asp:ListItem>
             <asp:ListItem Value="59">4th sunday of Month</asp:ListItem>
             <asp:ListItem Value="60">Every 3 Months</asp:ListItem>
             <asp:ListItem Value="61">Every 6 Months</asp:ListItem>
             <asp:ListItem Value="62">Year</asp:ListItem>
         </asp:DropDownList>
      
         <br />
      
       <br />
         <asp:Button ID="btn_previous_3" runat="server" onclick="btn_previous_3_Click" 
             Text="PREVIOUS" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <asp:Button ID="btn_next_4" runat="server" onclick="btn_next_4_Click" 
             Text="NEXT" ValidationGroup="vg_acc_2" />
     
   </td>
   </tr> </table>
         
    
    </asp:Panel>
   
    
     
      
      
      
      
      </asp:View>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <asp:View ID="View5" runat="server">
   
   
   
   
<asp:Repeater runat="server" ID="Repeater2">
        <ItemTemplate>
        <table bgcolor="#ffffcc" >
        
        <tr>
          <td>
                 District&nbsp;:&nbsp; <%#DataBinder.Eval(Container.DataItem, "home_district")%> 
                   </td>
            </tr>
           <tr>
              <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_addr_no")%> &nbsp;,&nbsp;
                   <%#DataBinder.Eval(Container.DataItem, "home_addr_street")%></td>
            </tr>
            <tr>
                 <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_city")%> &nbsp;,&nbsp;
                   <%#DataBinder.Eval(Container.DataItem, "home_prov")%></td>
               
            </tr>
            <tr>
                 <td >
                   <%#DataBinder.Eval(Container.DataItem, "home_pc")%> 
                
                   </td>
               
            </tr>  
            
            <tr>
                 <td >
                   <asp:Label ID="lbl_unit" runat="server" 
                Text="<%$ Resources:Resource, gv_unit %>" />&nbsp;&nbsp;<%#DataBinder.Eval(Container.DataItem, "unit_door_no")%> 
                
                   </td>
               
            </tr>  
        </table>
        </ItemTemplate>
        </asp:Repeater> <br />


 <asp:Repeater runat="server" ID="rRentlog" >
        <ItemTemplate>
        
 <asp:Label ID="lbl_rent_amount"  runat="server" Text="<%$ Resources:Resource, lbl_rent_amount %>"/>&nbsp;:&nbsp;&nbsp;&nbsp;  <%#DataBinder.Eval(Container.DataItem, "rl_rent_amount", "{0:0.00}")%>&nbsp;&nbsp;&nbsp;&nbsp;
 <asp:Label ID="lbl_from" runat="server" Text="<%$ Resources:Resource, lbl_from %>"/>&nbsp;:&nbsp;&nbsp;&nbsp; <asp:Label ID="rl_date_begin" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("rl_date_begin")))%>'/>&nbsp;&nbsp;&nbsp;&nbsp;
 <asp:Label ID="lbl_to" runat="server" Text="<%$ Resources:Resource, lbl_to %>"/>&nbsp;:&nbsp;&nbsp;&nbsp; <asp:Label ID="rl_date_end" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("rl_date_end")))%>'/><br />
 
  
        
        </ItemTemplate>
        </asp:Repeater> <br />

   <asp:Repeater runat="server" ID="Repeater3">
        <ItemTemplate>
        
 <asp:Label ID="lbl_lease_date_begin" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_begin %>"/>&nbsp;:&nbsp;&nbsp;&nbsp; <asp:Label ID="tu_date_begin" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("tu_date_begin")))%>'/><br />
  <asp:Label ID="lbl_lease_date_end" runat="server" Text="<%$ Resources:Resource, lbl_lease_date_end %>"/>&nbsp;:&nbsp;&nbsp;&nbsp;<asp:Label ID="tu_date_end" runat="server" Text='<%#GetDate(Convert.ToDateTime(Eval("tu_date_end")))%>'/><br />
              
          <asp:HiddenField Visible="false" id="hd_lease_date_begin" value='<%#DataBinder.Eval(Container.DataItem, "tu_date_begin")%>'  runat="server" />
          <asp:HiddenField Visible="false" id="hd_lease_date_end" value='<%#DataBinder.Eval(Container.DataItem, "tu_date_end")%>'  runat="server" />         
      
        </ItemTemplate>
        </asp:Repeater> 

<asp:Panel ID="panel_rent_update"  runat="server">


  

<hr />

 

<table>  
<tr>
<td style="width: 233px">
<asp:Label ID="lbl_las_rent_amount" runat="server" Text="<%$ Resources:Resource, lbl_last_rent_amount %>" /> 
    &nbsp;</td>
    <td>
        <asp:Label ID="Label5" runat="server"  /> </td>
</tr> 
   
    <tr>
        <td style="width: 233px">
            <asp:Label ID="lbl_since" runat="server" 
                Text="<%$ Resources:Resource, lbl_since %>" />
        </td>
        <td>
            <asp:Label ID="lbl_current_rl_date_begin" runat="server"></asp:Label>
        </td>
    </tr>
   
 </table>
   
 <hr />
 
 
 <table>
 
 <tr>
 <td>
     <asp:Label ID="lbl_next_rent_amount" runat="server" Text="<%$ Resources:Resource, lbl_next_rent_amount %>" /> 
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
 
     <td>
         <asp:TextBox ID="new_rl_rent_amount" runat="server" Width="150px" />
         &nbsp;<asp:RegularExpressionValidator ID="reg_new_rl_rent_amount" runat="server" 
             ControlToValidate="new_rl_rent_amount" ErrorMessage="enter an amount" 
             ValidationGroup="vg_acc_3"> </asp:RegularExpressionValidator>
         &nbsp;<asp:RequiredFieldValidator ID="req_new_rl_rent_amount" runat="server" 
             ControlToValidate="new_rl_rent_amount" ErrorMessage="required" 
             ValidationGroup="vg_acc_3"> </asp:RequiredFieldValidator>
     </td>
 
 </tr>

 
 
   <tr>
   <td > <asp:Label ID="Label6" runat="server" Text="<%$ Resources:Resource, lbl_rent_paid_every %>" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
       <td>
           <asp:DropDownList ID="DropDownList1" runat="server">
               <asp:ListItem Value="1">1st of Month</asp:ListItem>
               <asp:ListItem Value="2">2nd of Month</asp:ListItem>
               <asp:ListItem Value="3">3rd of Month</asp:ListItem>
               <asp:ListItem Value="4">4th of Month</asp:ListItem>
               <asp:ListItem Value="5">5 of Month</asp:ListItem>
               <asp:ListItem Value="6">6 of Month</asp:ListItem>
               <asp:ListItem Value="7">7 of Month</asp:ListItem>
               <asp:ListItem Value="8">8 of Month</asp:ListItem>
               <asp:ListItem Value="9">9 of Month</asp:ListItem>
               <asp:ListItem Value="10">10 of Month</asp:ListItem>
               <asp:ListItem Value="11">11 of Month</asp:ListItem>
               <asp:ListItem Value="12">12 of Month</asp:ListItem>
               <asp:ListItem Value="13">13 of Month</asp:ListItem>
               <asp:ListItem Value="14">14 of Month</asp:ListItem>
               <asp:ListItem Value="15">15 of Month</asp:ListItem>
               <asp:ListItem Value="16">16 of Month</asp:ListItem>
               <asp:ListItem Value="17">17 of Month</asp:ListItem>
               <asp:ListItem Value="18">18 of Month</asp:ListItem>
               <asp:ListItem Value="19">19 of Month</asp:ListItem>
               <asp:ListItem Value="20">20 of Month</asp:ListItem>
               <asp:ListItem Value="21">21 of Month</asp:ListItem>
               <asp:ListItem Value="22">22 of Month</asp:ListItem>
               <asp:ListItem Value="23">23 of Month</asp:ListItem>
               <asp:ListItem Value="24">24 of Month</asp:ListItem>
               <asp:ListItem Value="25">25 of Month</asp:ListItem>
               <asp:ListItem Value="26">26 of Month</asp:ListItem>
               <asp:ListItem Value="27">27 of Month</asp:ListItem>
               <asp:ListItem Value="28">28 of Month</asp:ListItem>
               <asp:ListItem Value="29">29 of Month</asp:ListItem>
               <asp:ListItem Value="30">30 of Month</asp:ListItem>
               <asp:ListItem Value="31">31 of Month</asp:ListItem>
               <asp:ListItem Value="32">1st monday of Month</asp:ListItem>
               <asp:ListItem Value="33">2nd monday of Month</asp:ListItem>
               <asp:ListItem Value="34">3rd monday of Month</asp:ListItem>
               <asp:ListItem Value="35">4th monday of Month</asp:ListItem>
               <asp:ListItem Value="36">1st tuesday of Month</asp:ListItem>
               <asp:ListItem Value="37">2nd tuesday of Month</asp:ListItem>
               <asp:ListItem Value="38">3rd tuesday of Month</asp:ListItem>
               <asp:ListItem Value="39">4th tuesday of Month</asp:ListItem>
               <asp:ListItem Value="40">1st wednesday of Month</asp:ListItem>
               <asp:ListItem Value="41">2nd wednesday of Month</asp:ListItem>
               <asp:ListItem Value="42">3rd wednesday of Month</asp:ListItem>
               <asp:ListItem Value="43">4th wednesday of Month</asp:ListItem>
               <asp:ListItem Value="44">1st thursday of Month</asp:ListItem>
               <asp:ListItem Value="45">2nd thursday of Month</asp:ListItem>
               <asp:ListItem Value="46">3rd thursday of Month</asp:ListItem>
               <asp:ListItem Value="47">4th thursday of Month</asp:ListItem>
               <asp:ListItem Value="48">1st friday of Month</asp:ListItem>
               <asp:ListItem Value="49">2nd friday of Month</asp:ListItem>
               <asp:ListItem Value="50">3rd friday of Month</asp:ListItem>
               <asp:ListItem Value="51">4th friday of Month</asp:ListItem>
               <asp:ListItem Value="52">1st saturday of Month</asp:ListItem>
               <asp:ListItem Value="53">2nd saturday of Month</asp:ListItem>
               <asp:ListItem Value="54">3rd saturday of Month</asp:ListItem>
               <asp:ListItem Value="55">4th saturday of Month</asp:ListItem>
               <asp:ListItem Value="56">1st sunday of Month</asp:ListItem>
               <asp:ListItem Value="57">2nd sunday of Month</asp:ListItem>
               <asp:ListItem Value="58">3rd sunday of Month</asp:ListItem>
               <asp:ListItem Value="59">4th sunday of Month</asp:ListItem>
               <asp:ListItem Value="60">Every 3 Months</asp:ListItem>
               <asp:ListItem Value="61">Every 6 Months</asp:ListItem>
               <asp:ListItem Value="62">Year</asp:ListItem>
           </asp:DropDownList>
       </td>
   </tr> 
          
 
 
 
 
          
          
 <tr>
 <td>
     <asp:Label ID="lbl_next_rent_begins" runat="server" Text="<%$ Resources:Resource, lbl_next_rent_begins %>" /> &nbsp;&nbsp; &nbsp; </td>
     <td>
         <asp:DropDownList ID="ddl_rl_date_begin_m" runat="server">
             <asp:ListItem Text="<%$ Resources:Resource, txt_month %>" Value="0"></asp:ListItem>
                    <asp:ListItem Text="<%$ Resources:Resource, txt_january %>" Value="1"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_february %>" Value="2"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_march %>" Value="3"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_april %>" Value="4"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_may %>" Value="5"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_june %>" Value="6"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_july %>" Value="7"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_august %>" Value="8"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_september %>" Value="9"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_october %>" Value="10"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_november %>" Value="11"></asp:ListItem>
                        <asp:ListItem Text="<%$ Resources:Resource, txt_december %>" Value="12"></asp:ListItem>
         </asp:DropDownList>
         &nbsp; / &nbsp;&nbsp;<asp:DropDownList ID="ddl_rl_date_begin_d" runat="server">
             <asp:ListItem  Text="<%$ Resources:Resource, txt_day %>" Value="0"></asp:ListItem>
             <asp:ListItem>1</asp:ListItem>
             <asp:ListItem>2</asp:ListItem>
             <asp:ListItem>3</asp:ListItem>
             <asp:ListItem>4</asp:ListItem>
             <asp:ListItem>5</asp:ListItem>
             <asp:ListItem>6</asp:ListItem>
             <asp:ListItem>7</asp:ListItem>
             <asp:ListItem>8</asp:ListItem>
             <asp:ListItem>9</asp:ListItem>
             <asp:ListItem>10</asp:ListItem>
             <asp:ListItem>11</asp:ListItem>
             <asp:ListItem>12</asp:ListItem>
             <asp:ListItem>13</asp:ListItem>
             <asp:ListItem>14</asp:ListItem>
             <asp:ListItem>15</asp:ListItem>
             <asp:ListItem>16</asp:ListItem>
             <asp:ListItem>17</asp:ListItem>
             <asp:ListItem>18</asp:ListItem>
             <asp:ListItem>19</asp:ListItem>
             <asp:ListItem>20</asp:ListItem>
             <asp:ListItem>21</asp:ListItem>
             <asp:ListItem>22</asp:ListItem>
             <asp:ListItem>23</asp:ListItem>
             <asp:ListItem>24</asp:ListItem>
             <asp:ListItem>25</asp:ListItem>
             <asp:ListItem>26</asp:ListItem>
             <asp:ListItem>27</asp:ListItem>
             <asp:ListItem>28</asp:ListItem>
             <asp:ListItem>29</asp:ListItem>
             <asp:ListItem>30</asp:ListItem>
             <asp:ListItem>31</asp:ListItem>
         </asp:DropDownList>
         &nbsp; / &nbsp;
         <asp:DropDownList ID="ddl_rl_date_begin_y" runat="server">
             <asp:ListItem  Text="<%$ Resources:Resource, txt_year %>" Value="0"></asp:ListItem>
             <asp:ListItem>1980</asp:ListItem>
                    <asp:ListItem>1981</asp:ListItem>
                    <asp:ListItem>1982</asp:ListItem>
                    <asp:ListItem>1983</asp:ListItem>
                    <asp:ListItem>1984</asp:ListItem>
                    <asp:ListItem>1985</asp:ListItem>
                    <asp:ListItem>1986</asp:ListItem>
                    <asp:ListItem>1987</asp:ListItem>
                    <asp:ListItem>1988</asp:ListItem>
                    <asp:ListItem>1989</asp:ListItem>
                    <asp:ListItem>1990</asp:ListItem>
                    <asp:ListItem>1991</asp:ListItem>
                    <asp:ListItem>1992</asp:ListItem>
                    <asp:ListItem>1993</asp:ListItem>
                    <asp:ListItem>1994</asp:ListItem>
                    <asp:ListItem>1995</asp:ListItem>
                    <asp:ListItem>1996</asp:ListItem>
                    <asp:ListItem>1997</asp:ListItem>
                    <asp:ListItem>1998</asp:ListItem>
                    <asp:ListItem>1999</asp:ListItem>                    
                    <asp:ListItem>2000</asp:ListItem>
                    <asp:ListItem>2001</asp:ListItem>
                    <asp:ListItem>2002</asp:ListItem>
                    <asp:ListItem>2003</asp:ListItem>
                    <asp:ListItem>2004</asp:ListItem>
                    <asp:ListItem>2005</asp:ListItem>
                    <asp:ListItem>2006</asp:ListItem>
                    <asp:ListItem>2007</asp:ListItem>
                    <asp:ListItem>2008</asp:ListItem>
                    <asp:ListItem>2009</asp:ListItem>
                    <asp:ListItem>2010</asp:ListItem>
                    <asp:ListItem>2011</asp:ListItem>
                    <asp:ListItem>2012</asp:ListItem>
                    <asp:ListItem>2013</asp:ListItem>
                    <asp:ListItem>2014</asp:ListItem>
                    <asp:ListItem>2015</asp:ListItem>
         </asp:DropDownList>
     </td>
 </tr> 
 
 
<tr>
<td>
    <br />
    <asp:Button ID="btn_add_other_rent" runat="server" 
        OnClick="btn_add_other_rent_Onclick" 
        Text="<%$ Resources:Resource, btn_add_other_rent %>" 
        ValidationGroup="vg_acc_3" />
    &nbsp;&nbsp;&nbsp;&nbsp;<asp:Button ID="btn_finish" runat="server" Height="20px" 
        OnClick="btn_finish_Onclick" Text="<%$ Resources:Resource, btn_finish %>" 
        ValidationGroup="vg_acc_3" />
    &nbsp;&nbsp;&nbsp;</td>
    <td>
        &nbsp;</td>
</tr>
 
 
 <tr><td><div ID="txt_link" runat="server" /></td>
     <td>
         &nbsp;</td>
     </tr> 
 
 </table>
  
</asp:Panel>      
    <asp:HiddenField Visible="false" ID="hd_tenant_unit" runat="server" />  
         <input type="hidden" id="hd_tenant_unit_id" runat="server" />

    
   
   </asp:View>
   
   
   
   
   
   <asp:View ID="View6" runat="server">
   
   
       <table style="width: 33%">
           <tr>
               <td>
                   <asp:Label ID="lbl_property0" runat="server" 
                       Text="<%$ Resources:Resource, lbl_property %>" />
               </td>
               <td>
                   <asp:Label ID="lbl_home" runat="server" Text="Label"></asp:Label>
               </td>
           </tr>
           <tr>
               <td>
                   <asp:Label ID="lbl_rent_paid_every0" runat="server" 
                       Text="<%$ Resources:Resource, lbl_rent_paid_every %>" />
               </td>
               <td>
                   <asp:DropDownList ID="ddl_rent_frequency" runat="server" AutoPostBack="true" 
                       DataTextField="frequency" DataValueField="re_id" >
                   </asp:DropDownList>
               </td>
           </tr>
       </table>
       <br />
       <br />
       <asp:GridView ID="gv_parent_nested_unpaid_rent_month" runat="server" 
           AutoGenerateColumns="false" 
           OnRowDataBound="gv_parent_nested_unpaid_rent_month_RowDataBound">
           <Columns>
               <asp:BoundField DataField="unit_door_no" 
                   HeaderText="<%$ Resources:Resource,gv_unit %>" />
               <asp:TemplateField HeaderText="<%$ Resources:Resource, lbl_untreated_rent %>">
                   <ItemTemplate>
                       <asp:HiddenField Visible="false" ID="HiddenField2" runat="server" 
                           Value='<%#DataBinder.Eval(Container.DataItem, "tu_id")%>' />
                       <asp:GridView ID="gv_child_nested_unpaid_rent_month" runat="server" 
                           AutoGenerateColumns="false" AutoGenerateSelectButton="false" 
                           DataSource='<%#GetTrasnl(Convert.ToInt32(Eval("tu_id")),Convert.ToInt32(Eval("rl_id")))%>' 
                           Width="100%">
                           <Columns>
                               <asp:TemplateField HeaderText="<%$ Resources:Resource, gv_to_process %>">
                                   <ItemTemplate>
                                       <asp:CheckBox ID="chk_process" runat="server" Checked="true" />
                                   </ItemTemplate>
                               </asp:TemplateField>
                               <asp:BoundField DataField="rl_rent_amount" DataFormatString="{0:0.00}" 
                                   HeaderText="<%$ Resources:Resource,gv_rent %>" />
                               <asp:TemplateField HeaderText="<%$ Resources:Resource,gv_amount_paid %>">
                                   <ItemTemplate>
                                       <asp:TextBox ID="gvparent_child_textbox" runat="server" MaxLength="10" 
                                           Text='<%# Bind("rl_rent_amount","{0:0.00}")%>' Width="100" />
                                   </ItemTemplate>
                               </asp:TemplateField>
                               <asp:TemplateField HeaderText="*">
                                   <ItemTemplate>
                                       <asp:CheckBox ID="chk_no_delequency" runat="server" />
                                   </ItemTemplate>
                               </asp:TemplateField>
                               <asp:TemplateField HeaderText="<%$ Resources:Resource,gv_notes%>">
                                   <ItemTemplate>
                                       <asp:TextBox ID="tbx_notes" runat="server" Text="" />
                                   </ItemTemplate>
                               </asp:TemplateField>
                               <asp:BoundField DataField="rp_due_date" DataFormatString="{0:MMM/dd/yyyy}" 
                                   HeaderText="<%$ Resources:Resource,gv_due_date %>" HtmlEncode="false" />
                               <asp:TemplateField HeaderText="<%$ Resources:Resource,lbl_date_received %>">
                                   <ItemTemplate>
                                       &nbsp;<asp:DropDownList ID="ddl_child_unpaid_rent_m" runat="server" 
                                           SelectedValue='<%#Get_UntreatedRent_Month(Convert.ToDateTime(Eval("rp_due_date")))%>'>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_january %>" Value="1"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_february %>" Value="2"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_march %>" Value="3"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_april %>" Value="4"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_may %>" Value="5"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_june %>" Value="6"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_july %>" Value="7"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_august %>" Value="8"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_september %>" Value="9"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_october %>" Value="10"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_november %>" Value="11"></asp:ListItem>
                                           <asp:ListItem Text="<%$ Resources:Resource, txt_december %>" Value="12"></asp:ListItem>
                                           </asp:DropDownList>
                                       / &nbsp;
                                       <asp:DropDownList ID="ddl_child_unpaid_rent_d" runat="server" 
                                           SelectedValue='<%#Get_UntreatedRent_Day(Convert.ToDateTime(Eval("rp_due_date")))%>'>
                                           <asp:ListItem>1</asp:ListItem>
                                           <asp:ListItem>2</asp:ListItem>
                                           <asp:ListItem>3</asp:ListItem>
                                           <asp:ListItem>4</asp:ListItem>
                                           <asp:ListItem>5</asp:ListItem>
                                           <asp:ListItem>6</asp:ListItem>
                                           <asp:ListItem>7</asp:ListItem>
                                           <asp:ListItem>8</asp:ListItem>
                                           <asp:ListItem>9</asp:ListItem>
                                           <asp:ListItem>10</asp:ListItem>
                                           <asp:ListItem>11</asp:ListItem>
                                           <asp:ListItem>12</asp:ListItem>
                                           <asp:ListItem>13</asp:ListItem>
                                           <asp:ListItem>14</asp:ListItem>
                                           <asp:ListItem>15</asp:ListItem>
                                           <asp:ListItem>16</asp:ListItem>
                                           <asp:ListItem>17</asp:ListItem>
                                           <asp:ListItem>18</asp:ListItem>
                                           <asp:ListItem>19</asp:ListItem>
                                           <asp:ListItem>20</asp:ListItem>
                                           <asp:ListItem>21</asp:ListItem>
                                           <asp:ListItem>22</asp:ListItem>
                                           <asp:ListItem>23</asp:ListItem>
                                           <asp:ListItem>24</asp:ListItem>
                                           <asp:ListItem>25</asp:ListItem>
                                           <asp:ListItem>26</asp:ListItem>
                                           <asp:ListItem>27</asp:ListItem>
                                           <asp:ListItem>28</asp:ListItem>
                                           <asp:ListItem>29</asp:ListItem>
                                           <asp:ListItem>30</asp:ListItem>
                                           <asp:ListItem>31</asp:ListItem>
                                       </asp:DropDownList>
                                       &nbsp; / &nbsp;
                                       <asp:DropDownList ID="ddl_child_unpaid_rent_y" runat="server" 
                                           SelectedValue='<%#Get_UntreatedRent_Year(Convert.ToDateTime(Eval("rp_due_date")))%>'>
                                           <asp:ListItem>1951</asp:ListItem>
                                            <asp:ListItem>1952</asp:ListItem>
                                            <asp:ListItem>1953</asp:ListItem>
                                            <asp:ListItem>1954</asp:ListItem>
                                            <asp:ListItem>1955</asp:ListItem>
                                            <asp:ListItem>1956</asp:ListItem>
                                            <asp:ListItem>1957</asp:ListItem>
                                            <asp:ListItem>1958</asp:ListItem>
                                            <asp:ListItem>1959</asp:ListItem>
                                            <asp:ListItem>1960</asp:ListItem>
                                            <asp:ListItem>1961</asp:ListItem>
                                            <asp:ListItem>1962</asp:ListItem>
                                            <asp:ListItem>1963</asp:ListItem>
                                            <asp:ListItem>1964</asp:ListItem>
                                            <asp:ListItem>1965</asp:ListItem>
                                            <asp:ListItem>1966</asp:ListItem>
                                            <asp:ListItem>1967</asp:ListItem>
                                            <asp:ListItem>1968</asp:ListItem>
                                            <asp:ListItem>1969</asp:ListItem>
                                            <asp:ListItem>1970</asp:ListItem>
                                            <asp:ListItem>1971</asp:ListItem>
                                            <asp:ListItem>1972</asp:ListItem>
                                            <asp:ListItem>1973</asp:ListItem>
                                            <asp:ListItem>1974</asp:ListItem>
                                            <asp:ListItem>1975</asp:ListItem>
                                            <asp:ListItem>1976</asp:ListItem>
                                            <asp:ListItem>1977</asp:ListItem>
                                            <asp:ListItem>1978</asp:ListItem>
                                            <asp:ListItem>1979</asp:ListItem>
                                            <asp:ListItem>1980</asp:ListItem>
                                            <asp:ListItem>1981</asp:ListItem>
                                            <asp:ListItem>1982</asp:ListItem>
                                            <asp:ListItem>1983</asp:ListItem>
                                            <asp:ListItem>1984</asp:ListItem>
                                            <asp:ListItem>1985</asp:ListItem>
                                            <asp:ListItem>1986</asp:ListItem>
                                            <asp:ListItem>1987</asp:ListItem>
                                            <asp:ListItem>1988</asp:ListItem>
                                            <asp:ListItem>1989</asp:ListItem>
                                            <asp:ListItem>1990</asp:ListItem>
                                            <asp:ListItem>1991</asp:ListItem>
                                            <asp:ListItem>1992</asp:ListItem>
                                            <asp:ListItem>1993</asp:ListItem>
                                            <asp:ListItem>1994</asp:ListItem>
                                            <asp:ListItem>1995</asp:ListItem>
                                            <asp:ListItem>1996</asp:ListItem>
                                            <asp:ListItem>1997</asp:ListItem>
                                            <asp:ListItem>1998</asp:ListItem>
                                            <asp:ListItem>1999</asp:ListItem>
                                            <asp:ListItem>2000</asp:ListItem>
                                            <asp:ListItem>2001</asp:ListItem>
                                            <asp:ListItem>2002</asp:ListItem>
                                            <asp:ListItem>2003</asp:ListItem>
                                            <asp:ListItem>2004</asp:ListItem>
                                            <asp:ListItem>2005</asp:ListItem>
                                            <asp:ListItem>2006</asp:ListItem>
                                            <asp:ListItem>2007</asp:ListItem>
                                            <asp:ListItem>2008</asp:ListItem>
                                            <asp:ListItem>2009</asp:ListItem>
                                            <asp:ListItem>2010</asp:ListItem>
                                            <asp:ListItem>2011</asp:ListItem>
                                            <asp:ListItem>2012</asp:ListItem>
                                            <asp:ListItem>2013</asp:ListItem>
                                            <asp:ListItem>2014</asp:ListItem>
                                            <asp:ListItem>2015</asp:ListItem>
                                       </asp:DropDownList>
                                       <asp:HiddenField Visible="false" ID="h_rl_id" runat="server" Value='<%# Bind("rl_id")%>' />
                                       <asp:HiddenField Visible="false" ID="h_re_id" runat="server" Value='<%# Bind("re_id")%>' />
                                       <asp:HiddenField Visible="false" ID="h_tu_id" runat="server" Value='<%# Bind("tu_id")%>' />
                                       <asp:HiddenField Visible="false" ID="h_rl_rent_amount" runat="server" 
                                           Value='<%# Bind("rl_rent_amount")%>' />
                                       <asp:HiddenField Visible="false" ID="h_rent_due_date" runat="server" 
                                           Value='<%#Get_UntreatedRent(Convert.ToDateTime(Eval("rp_due_date")))%>' />
                                   </ItemTemplate>
                               </asp:TemplateField>
                               <asp:HyperLinkField DataNavigateUrlFields="tu_id,rl_rent_amount,re_id" 
                                   DataNavigateUrlFormatString="~/tenant/tenant_rent.aspx?tu_id={0}&amp;ra_id={1}&amp;re_id={2}" 
                                   HeaderText="View details" Text="<%$ Resources:Resource, gv_view %>" />
                               <asp:BoundField DataField="tu_id" HeaderText="tu_id" />
                               <asp:BoundField DataField="rl_id" HeaderText="rl_id" />
                           </Columns>
                       </asp:GridView>
                   </ItemTemplate>
               </asp:TemplateField>
           </Columns>
       </asp:GridView>
       <br />
       <asp:Button ID="btn_submit" runat="server" onclick="btn_submit_Click" 
           Text="Submit" />
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
   
   </asp:View>
   
   
     
</asp:MultiView>
    <asp:HiddenField Visible="false" ID="universal_hidden" runat="server" />
</asp:Content>

