﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="lease.aspx.cs" Inherits="c_manager_lease_lease" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

       <br /><br />
    <asp:Panel  ID="panel_lease"  runat="server" />
</asp:Content>

