<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="main.aspx.cs" Inherits="manager_main" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div style="width:100%; ">
<div style="float:left;width:300px">
 <table>
 <tr><td colspan="2">Properties</td></tr>
 <tr><td>Properties</td><td>2</td></tr>
 <tr><td>Units</td><td>20</td></tr>
 </table>
 </div>
 
<div style="float:left;width:300px;">
 <table>
 <tr><td colspan="2">Tenants</td></tr>
 <tr><td>Total</td><td>2</td></tr>
 <tr><td>Units</td><td>20</td></tr>
 </table>
 </div>
 <br /> <br />
 <hr align="left" width="60%" /> 
 Profile
 <br />
     <asp:RadioButtonList ID="RadioButtonList1" runat="server">
     </asp:RadioButtonList> <table>
 <tr><td>aa</td><td>3</td></tr>
 <tr><td>aa</td><td>3</td></tr>
 <tr><td>aa</td><td>3</td></tr>
 </table>
 </div>
<hr width="75%" color="#f5f5f5" />
 
</asp:Content>

