﻿.tablestyle{
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 10pt;
	border-color: #CDCDCD;
	width:100%;
	color: #3D3D3D;
}
.tablestyle td, .tablestyle th{
	border-color: #CDCDCD;
}


.alternatingrowstyle{
    background-color:#F0F0F6;
    padding : 1px;

}
.headerstyle {
    background-color:#F0F0F6;
    
    background-repeat: no-repeat;
    background-position: center left;     
    padding-left: 10px;
}  

.headerstyle a{
	text-decoration:none;
    color:black;
	display:block;
}  

  
.rowstyle{
	background-color: #FFF;
}
.rowstyle td, .alternatingrowstyle td {
	
}

.sortascheaderstyle{
    background-image: url(img/sort_asc.gif);     
    background-color: #8dbdd8; 	
    background-repeat: no-repeat;
    background-position: center left;       
}
.sortdescheaderstyle{
    background-image: url(img/sort_desc.gif);     
    background-color: #8dbdd8; 	
    background-repeat: no-repeat;
    background-position: center left;       
}   