﻿<%@ Page Title="" Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="surprise.aspx.cs" Inherits="manager_surprise" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <center>
    <div style="background-color:#e9e9e9;  width: 425px;">
        <object id="A64060" 
            data="http://aka.zero.jibjab.com/client/zero/ClientZero_EmbedViewer.swf?external_make_id=mC48srkfLSHu2nZX&amp;service=sendables.jibjab.com&amp;partnerID=JibJab" 
            height="319" pluginspage="http://www.macromedia.com/go/getflashplayer" 
            quality="high" type="application/x-shockwave-flash" width="425" 
            wmode="transparent">
            <param name="wmode" value="transparent" />
            <param name="movie" 
                value="http://aka.zero.jibjab.com/client/zero/ClientZero_EmbedViewer.swf?external_make_id=mC48srkfLSHu2nZX&amp;service=sendables.jibjab.com&amp;partnerID=JibJab" />
            <param name="scaleMode" value="showAll" />
            <param name="quality" value="high" />
            <param name="allowNetworking" value="all" />
            <param name="allowFullScreen" value="true" />
            <param name="FlashVars" 
                value="external_make_id=mC48srkfLSHu2nZX&amp;service=sendables.jibjab.com&amp;partnerID=JibJab" />
            <param name="allowScriptAccess" value="always" />
        </object>
        <div style="text-align:center; width:435px; margin-top:6px;">
            Try JibJab Sendables® <a href="http://sendables.jibjab.com/ecards">eCards</a> 
            today!</div>
    </div></center>
</asp:Content>

