<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager2.master" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="manager_test" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

Allo
</asp:Content>

