﻿<%@ Page Title=""  EnableEventValidation="false" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="service.aspx.cs" Inherits="c_tax_tax" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
 
   </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div class="lead"><asp:Literal ID="lit_title" Text="<%$Resources:service,service_manage%>" runat="server"></asp:Literal></div>


<div style="float:left;width:100%; min-height:410px;">
 <asp:Panel ID="panel_service" runat="server" />
</div>


</asp:Content>

