/* 
/
/ Purity HTML/CSS Template
/ Skin stylesheet: Dark
/
*/


body, #wrapper, #main, input, .social img, .nav ul li ul, .big_form textarea, .item-image, .slider .nivo-caption, #recent-posts p, #recent-posts span.post-info, #footer .social img, .over,.search_box{
	background-color:#252525;
}

h1,h2,h3,h4,h5,h6, .title a, .nav ul li a, .slider .nivo-caption p, .over span,.pagination a, .date .bold,.comments-nr .bold { color:#bbb; }

.dropcap2, #recent-posts span.post-info, #tweet .quote a span {
	color:#454545;
}
.comment-entry span, .search_box, .top a, .post-info, .post-entry span, .comments-nr, #header .contact,.date,.comments-nr a {
	color:#555;
}
.big_form .text, .big_form textarea, input, .search_box, #toggle-view h6, blockquote, .pullleft, .pullright, .block-left, .block-right, .tabnav li, .nav ul li ul, .avatar-holder img, .comments-nr, .post, .item-image, .filter li, .tabdiv, #header, .post-info .date, .post-image .date {
	border-color:#2b2b2b;
}
.nav ul li ul li, #footer ul li, .search_box, .flickr_badge_image img {
	border-color:#282828;
}
.line, .top, .sidebar_item, .tagline, #footer .inner, #header .inner,.footer_small,.nav ul li ul li a {
	border-color:#333;
}
.tabdiv, .comments-nr, .post-info .date, .blog3 .post-image .date {
	background:#282828;
}
.big_form input:focus, .big_form textarea:focus, .tagline span {
	border-color:#333;	
}
.tabnav li.ui-tabs-selected { 
	border-bottom:1px solid #282828;
	background:#282828;
}
#tweet .twitter-content, .search_box, .search_submit {
	background-color:#222;
}
#tweet .quote {
	background-image:url(../../img/dark-skin/twitter_quote.png);
}
.slider .nivoSlider { background:#252525 url(../../img/dark-skin/loader.gif) no-repeat 50% 50%; }