﻿<%@ Page Title="" Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="manager_atest_test" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <script src="../../js/jquery-1.2.6.js" type="text/javascript"></script>
 
    <script type="text/javascript">
        $(document).ready(function() {
        $("#<%=Button1.ClientID %>").click(function() {
                alert("Hello world!");
            });
        });
       
    </script>
    
    <asp:Button ID="Button1" runat="server" Text="Button" />
</asp:Content>

