<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_adm_lmenu.ascx.cs" Inherits="manager_uc_uc_adm_lmenu" %>

<asp:Panel ID="panel_default" runat="server">
    <asp:DropDownList ID="ddlEmpZone" DataTextField="zone_name" 
        DataValueField="zone_id" runat="server"  AutoPostBack="true"
        onselectedindexchanged="ddlEmpZone_SelectedIndexChanged">
    </asp:DropDownList>
       <div id="home"  runat="server"></div>
</asp:Panel>
<br />
<asp:Literal ID="Literal1" runat="server"></asp:Literal>
 
