﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_adm_lmenu3.ascx.cs" Inherits="uc_uc_adm_lmenu3" %>



                                <asp:Panel ID="panel_default" runat="server">
                                    <li>
                                     <asp:DropDownList ID="ddlEmpZone" DataTextField="zone_name" 
                                        DataValueField="zone_id" runat="server"  AutoPostBack="true"
                                        onselectedindexchanged="ddlEmpZone_SelectedIndexChanged">
                                    </asp:DropDownList>
                                   </li>
                                </asp:Panel>
                           
                                 <asp:Repeater ID="r_categ" runat="server">
                                  <ItemTemplate>
                                  <li>
											<a href="#">
												&nbsp;<%# DataBinder.Eval(Container.DataItem, "sc_name")%>
											</a>
									
                                      
                                    <ul class="nav nav-second-level" aria-expanded="true">

                                      <asp:Repeater ID="r_list" DataSource='<%#ServiceCategList(Convert.ToString(Eval("sc_id")))%>' runat="server">
                                       <ItemTemplate>                                     
										<li><a href="<%# DataBinder.Eval(Container.DataItem, "service_url")%>"><%# DataBinder.Eval(Container.DataItem, "service_title")%></a></li>
										</ItemTemplate>
                                       </asp:Repeater>	
									</ul>
									</li>
                                  </ItemTemplate>
                                  </asp:Repeater>