<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_content_menu.ascx.cs" Inherits="manager_uc_uc_content_menu" %>
<!--
 <div  id="content_menu" style="padding-top:5px; padding-bottom:10px;"  runat="server" />
 -->



