﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_sign_up_free.ascx.cs" Inherits="uc_uc_sign_up_free" %>
<div class='wrap-970'>
			
			<div id='attention-buttons'>
				<!-- links contain background images an text is hidden with css but is there for screen readers -->
				<a href='/register.aspx' class='signup'><%= Resources.pub.home_signup_free %></a>
				<a href='/tour.aspx' class='tour'><%= Resources.pub.home_take_tour %></a>
			</div>
	
</div>