﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/mp_property_manager.master" AutoEventWireup="true" CodeFile="name_search.aspx.cs" Inherits="manager_name_name_search" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div id="search" runat="server" />

</asp:Content>

