﻿/*
      Created by CSS Portal Layout Generator
	  
	  http://www.cssportal.com
	  	  
*/

* { padding: 0; margin: 0; }

 html, body {
height: 100%;
}

 body {font:11px Verdana;color:#ddd;margin:0px;padding:0px;text-align:center;background:#fff;}
          

p {
 padding: 10px;
}

#wrapper { 
 margin: 0 auto;
 width: 1250px;
}




#content { 
 float:  left;
 background: #FFFFFF;
 width: 940px;
 display: inline;
}

#header {
 width: 1250px;
 float: left;
 height: 135px;
 background: #FFFF;
}

#footer { 
 width: 1250px;
 height: 30px;
 clear: both;
 color: #333;
 background: #0000CC;
}

#navigation {
 float: left;
 width: 1250px;
 height: 30px;
 color: #333;
 background: #FFFFF;
}

#leftcolumn { 
 color: #333;
 background: #FFFFF;
 height: 590px;
 width: 180px;
 float: left;
 
}

#rightcolumn { 
 color: #333;
 background: #ffffff;
 height: 350px;
 width: 130px;
 float: left;
}






#top {float:left;width: 100%;margin:0pt auto;background:#ffffff;font-size:smaller;}
#top a{color:#FFF;text-decoration:underline; }
#top a:hover{color:#FFF;text-decoration:none;border-bottom:1px solid #282828;}
#top_top{float:left;width:100%;height:20px;vertical-align:middle;}
#top_center{float:left;width:100%;height:70px;vertical-align:top;padding-bottom:15px;padding-top:5px;Background:#F5F5F5;}
/*
#top_menu{float:left;width:100%;height:25px; background-image:url('../../i/grd_head.png');background-repeat:repeat-x;}  
*/

      #top_menu{float:left;width:100%;height:25px; background-image:url('../../i/menu_adm.gif');background-repeat:repeat-x;}  
        


#top_menu a{font-size:large;color:#ffffff; text-decoration:none}
#top_menu a:hover{font-size:large;color:#fff; text-decoration:underline}
           




#zUL,#zUL ul {padding:0;margin:0}
#zUL li ul a {margin-left:1em}
#zUL li {
	float:left;
	width:8em;
	/*position:relative;*/
	list-style-type:none;
	font-weight:600;
	border-left:0px dotted #fff;
	vertical-align:middle;
	height:100%; 
	font-size:100%;   
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

ul.navigation {float:right; list-style-type:none}
ul.navigation li {display:inline}
ul.navigation li {border-left:solid 1px;}
ul.navigation li {margin:0; padding:0 6px 0 10px}
ul.navigation li.first {border:none; padding-left:0;}
ul.navigation li.last {padding:none}
ul.navigation li img {vertical-align:text-top}
ul.navigation li a.new_sticker {background:url('/images/new_sticker.gif') no-repeat right 0 !important;padding-right:35px;position:static !important}
.grey{color:#f3f3f3;}
   



 #main{float:left;width:95%;height:100%;background:#fff;text-align:left;vertical-align:top;margin-top:5px;margin-left:5px;/*padding-left:25px;*/}
 #main  h1{color:#005584;font-weight:bold;font-size:x-large;}
 #main  h2{color:#005584;font-weight:bold;font-size:large;}
         
 #main_top{float:left;width:100%;height:50px;background:#fff;color:#dbdbdb;text-align:left;vertical-align:bottom;padding-left:5px;}
 #main_top a{color:#404040;text-decoration:underline;}
 #main_top a:hover{color:#cc0000;text-decoration:underline;}
 #main_space{float:left;width:100%;height:30px;text-align:left;margin-left:5px;}



#container {width:100%;background:#fff; margin:0pt auto;} 
#container .column {
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}
* html #container {
height: 100%;
}
 