<%@ Page Language="C#" MasterPageFile="~/mp_private.master" AutoEventWireup="true" CodeFile="intro.aspx.cs" Inherits="manager_intro" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

