body  {
	font: 11pt Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

table
{ 
border-bottom: black
}




a {font:14px Arial, Helvetica, sans-serif; color: #000; }
a:hover {font:14px Arial, Helvetica, sans-serif; color:#000; }

input,select,textarea,textbox
{
border: 1px solid #ccc;
font: 11px Arial, Helvetica, sans-serif;
    height: 20px;
}

.rule {
width: 500px;
height: 5px;
background-color :Fuchsia
}

/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:10pt;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:10pt;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:10pt;
}

/*Popup Control*/
.popupControl{
	background-color:White;
	position:absolute;
	visibility:hidden;
}



#container
{   float:left;
    margin: 0px 0px 0px 0px;
    width:1030px;
    background:#ffffff;
    /*background-image:url('/i/bg_cont_banner.gif');
    background-repeat:repeat-x;*/
     
}

#lang
{float:left;
    margin: 0px 10px 0px 0px;
    width:100%;
    text-align:right;
    background:#ffffff;
   /*  background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
}

#banner
{
  float:left;
  height:100px;
  width:100%;
  text-align:left;
  background:#fff;
   background-image:url('/i/bg_banner.gif');
    background-repeat:no-repeat;
 
}
#menu
{
float:left;
width:100%;
height:25px;
text-align:left;
vertical-align:middle;
background:#EAEAEA;
padding-left:10px;
margin-bottom:10px;
    /* background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
}
#sidebar
{
float:left;
width:150px;
height:100%;
text-align:left;
padding-top:20px;
background:#FFF;
padding-left:9px;
}

#body
{
    float:left;
    width:800px;
    background:#fff;
    text-align:left;
    border-left: 1px dotted #000;
    padding:20px 0px 5px 40px;
   
}
#footer
{
float: left;
height:30px;
width:100%;
text-align:center;
background:#fff;
margin-top:40px;
/*     background-image:url('/i/top25.gif');
    background-repeat:repeat-x;*/
 }

 .top_link{font:14px Arial, Helvetica, sans-serif; color: #ffffff; }
 .footer_link{font:12px Arial, Helvetica, sans-serif; color: #cccccc; 
   text-decoration:none;
    }
 .footer_link:hover{font:12px Arial, Helvetica, sans-serif; color: #000; 
   text-decoration:none}
 
 .table_footer
   {
   width:50%;
   border-top:1px dotted #999999;
   text-align:center;
    }
    
   
.lang
{
    font:10px Arial, Helvetica, sans-serif; color: #999;
 background:#F7F7F7;
 border: 1px solid #ccc;
    }