
	/* MENUS.CSS */
	
	BODY { font-family:verdana; font-size:70%; }
	H1 { font-size:120%; font-style:italic; }
	
	DIV#divMenuBar { background-color:#6699CC; }
	TABLE#tblMenuBar TD { font-size:60%; color:white; padding:0px 5px 0px 5px; cursor:default; }
	TABLE#tblMenuBar TD.clsMenuBarItem { font-weight:bold; cursor:hand; }
	
	DIV.clsMenu { 
		font-size:90%; background-color:#6699CC; 
		position:absolute; visibility:hidden; width:130px; 
		padding:5px 5px 5px 8px; border-top:1 white solid; 
	}
	DIV.clsMenu A { text-decoration:none; color:white; font-weight:bold; }
	DIV.clsMenu A:hover { color:moccasin; }

	BUTTON { font-family:tahoma; font-size:100%; }