﻿* { padding: 0; margin: 0; }







body {
 font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
 font-size:xx-small;
  background-color:#ECF4FB;
}

.intro_table{width:290px;border-color:#777777;background:#f9f9f9;}
.intro_td{background:aqua /* url('../App_Themes/SinfoTiger/images/grid_bg.gif')  repeat-x */; 
          font-family:Georgia;font-weight:bolder;color:#000}
.intro_alt{background:#f7f7f7;}
  
  
  
table
{ 
  padding-left:10px;
border-bottom: black;

}


table  td {
         padding:3px;
}



#wrapper { 
 margin: 0 auto;
 width: 1000px;
 /*min-width:1170px;*/
}

#utility {
 float: left;
 width: 99%;
 color: #ffffff;
 padding: 6px 6px 10px 6px;
 border-top: 1px solid #ccc;
 margin: 5px 0px 0px 0px;
  background:#303030 url('../login2_files/utility_bg.jpg') repeat-x; 
 
}
ul.utility_navigation {float:right; list-style-type:none}
ul.utility_navigation li {display:inline}
ul.utility_navigation li {border-left:dotted 1px;}
ul.utility_navigation li {margin:0; padding:0 6px 0 10px}
ul.utility_navigation li.first {border:none; padding-left:0;}
ul.utility_navigation li.last {padding:none}
ul.utility_navigation li img {vertical-align:text-top}
ul.utility_navigation li a {color:#585880 ; font-weight:bold; font-size: 12px;text-decoration: none;}
ul.utility_navigation li a:hover {color:red ; font-weight:bold; font-size: 12px;text-decoration: underline;}




#header {
 color: #333;
 width: 99%;
 float: left;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 10px;
 border: 1px solid #ccc;
 height: 40px;
 margin: 0px 10px 0px 0px; 
 background:#303030 url('../login2_files/logo_bg.gif') repeat-x; /*THEME CHANG HERE*/height:45px;
}








div.navigation {
 float: left; 
 width: 99%;
 color: #333;
 padding: 5px;
 border-bottom: solid 1px #ccc;
/* border: 1px solid #ccc;*/
 margin: 0px 0px 5px 0px;
  background-color:#ffffff;
/* background-color:#18386B;*/
/* background:url(../login2_files/logo_bg.gif); */
                                         /*THEME CHANG HERE*/height:18px;
}

div.navigation a{font-size:13px; color:Black; color:#585880; text-decoration:none ; font-weight:bold;}
div.navigation a:hover{font-size:13px;color:red; text-decoration:underline}
           




div.local_navigation {
 float: left; 
 width: 99%;
 padding: 5px 0px 0px 3px;
 border-bottom: solid 1px #000;
/* border: 1px solid #ccc;*/
 margin: 0px 0px 5px 0px;
 height:23px;
}

 
#zUL,#zUL ul {padding:0;margin:0;
             height: 14px;
             width: 900px;
         }
#zUL li ul a {margin-left:1em; }
#zUL li {
	float:left;
	width: auto ;
	/*position:relative;*/
	list-style-type:none;
	font-weight:600;
	border-left:1px dotted #000;
	vertical-align:middle;
	height:100%; 
	padding-top:3px;
    padding-left:5px;
    padding-right:5px;
	font-size:100%;   
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #585880;
}






div.row span.left {
  float: left; 
  text-align: left;
  font-weight: bold;
  color: #fff;
  width: 12%;
  }

div.row span.middle {
  float: left;
  text-align: left;
  font-weight: bold;
  color: #000000;
  width: 77%;
  background-color:#CCFF99;
  border-top:2px solid #ffd324;
	border-bottom: 2px solid #ffd324; 
  
  }
div.row span.right {
  float: right;
  text-align: right;
  font-weight: bold;
  color: #fff;
  width: 10%;
  }


div.spacer { 
  clear:  both;
  }










#leftcolumn { 
 color: #333;
 border: 1px solid #ECF4FB;
 background:#ECF4FB;
 margin: 0px 0px 0px 0px;
 height: 100%;
 width: 0px;
 float: left;
}
#content { 
 float: left;
 color: #333;
 border: 1px solid #ccc;
 background:#ffffff;
 margin: 0px 5px 5px 5px; 
 padding: 6px;
 width: 780px;
 min-height:440px;
 display: inline;
}
#rightcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#fff;
 margin: 0px 0px 0px 0px; 
 padding: 3px;
 height: 100%;
 width: 170px;
 float: left;
}
#footer { 
 width: 98%;
 clear: both;
 color: #333;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 text-align:center;
    font-family: eurofurence;
}
          html {
height: 100%;
}

hr {
border: 0;
color: #6aa4d4;
background-color:#6aa4d4 ;
height: 1px;
width: 80%;
text-align: left;
} 
          .style1
         {
             float: right;
             list-style-type: none;
         }
         
         
         
/************* BEGIN FORMS **********************************************************/

p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
div.myform{
	padding:14px;
	float:left;
	width: 900px;
}
	/* ----------- basic ----------- */
	div.myform{
		border:solid 0px #DEDEDE;
	}
	div.myform h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}  
	div.myform p{
		font-size:12px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #dedede;
		padding-bottom:7px;
	}
	
	div.myform br{
		margin:10px;
		clear:both;
	}
	
	div.myform hr{ border: 0;
                    color: #6aa4d4;
                    background-color:#dedede ;
                    height: 1px;
                    width: 100%;
                    text-align: left;}
                    	
	div.myform label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:16.25em;
		float:left;
	}
	div.myform .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:16.25em;
	}
	div.myform input{
		float:left;
		width:150px;
		margin:2px 0 9px 10px;
	}
	
	div.myform checkbox{
		float:left;
		width:20px;
	}
	
	div.myform button{ 
		clear:both;
		margin-left:9.375em;
		background:#888888;
		color:#FFFFFF;
		border:solid 1px #666666;
		font-size:11px;
		font-weight:bold;
		padding:4px 6px;
	}

/* ----------- basic2 ----------- */
	div.myform2{
		border:solid 0px #DEDEDE;
	}
	div.myform2 h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	div.myform2 p{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #dedede;
		padding-bottom:10px;
	}
	div.myform2 label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
	}
	div.myform2 .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:180px;
	}
	div.myform2 input{
		float:left;
		width:150px;
		margin:2px 0 9px 10px;
	}
	div.myform2 button{ 
		clear:both;
		margin-left:180px;
		background:#888888;
		color:#FFFFFF;
		border:solid 1px #666666;
		font-size:11px;
		font-weight:bold;
		padding:4px 6px;
	}



	/* ----------- stylized ----------- */
	#stylized{
		border:solid 2px #b7ddf2;
		background:#ebf4fb;
	}
	#stylized h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#stylized p{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #b7ddf2;
		padding-bottom:10px;
	}
	#stylized label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
	}
	#stylized .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
	#stylized input{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:150px;
		margin:2px 0 20px 10px;
	}
	#stylized button{ 
		clear:both;
		margin-left:150px;
		width:125px;
		height:31px;
		background:#666666 url(img/button.png) no-repeat;
		text-align:center;
		line-height:31px;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
	}
/************* END FORMS **********************************************************/
