      body { 
          color:#000;
           font-size:75%;
           margin:0px;
           padding:0px; 
           text-align:center;
}
              a{
           font-size:100%;
           text-decoration:underline;
           color:#212121;
           }
           a:hover
           {
           font-size:100%;
           text-decoration:underline;
           color:#212121;
           }
           
           select
           {
           border:1px solid #ccc;
           font-size:80%;
           color:#0066A4;
           background:#f9f9f9;
           text-align:left;
           }
              #top
               {
               float:left;
               width: 100%;
               height:50px;  
                background-image:url(/i/top.gif);
               background-repeat:repeat-x;     
               }
       #top a
       {
       color:#000;
       }
       
    #container 
               {
               float:left;          
               width:100%;
               height:600px;
               margin: 0px auto;
              /* background-image:url(http://70.80.4.164:8081/i/bg.gif);
               background-repeat:repeat-x;*/
               text-align:center;
                              
               }
  
       
              #menu 
               { 
               float:left;
               width:100%;
               height:30px;
               background-image:url(/i/fade_top_up.gif);
               background-repeat:repeat-x; 
               background-position:left bottom; 
               margin:0px;padding:0px;
               text-align:left;
               color:#000;
              /* background:#FF8A16;*/
               }
            
             #left
               {
               float:left;
               width:150px; 
               height:100%;
               text-align:left;
               background-image:url(/i/dash_top.gif);
               background-repeat:repeat-y;  
             background-position:right top;
             padding-top:30px;
                padding-left:5px;  
                  
             /* border-right:1px solid #CCC;*/
               } 
               #left h2
               {
               width:100%;
               height:20px;
                font-family:Britannic Bold;
               font-color:#f5f5f5;
               font-weight:bolder;
               
               font-size:120%;
              /*   background-image:url(http://70.80.4.164:8081/i/left_fade.gif); 
               background-repeat:repeat-x;*/
            
               }
               
               #left a
               {
               color:#000;
               }
            
             #main 
               {
               float:left;
               width:84%;
               height:100%;
               background:#fff; 
               align-text:left;
               vertical-align:top;
               }
               #main_top
               {
               float:left;
               width:100%;
               height:50px;
               background:#fff;
               background-image:url(/i/fade_top_down.gif);
                background-repeat:repeat-x;
                background-position:left top;
               text-align:left;
               vertical-align:bottom;
               padding-left:5px;
               }
               #main_space
               {float:left;width:100%;height:30px;text-align:left;margin-left:5px;}
               
               #footer 
               {
               float:left;
               width:100%; 
               background:#fff;
               font-size:90%;
               text-align:center;
                } 
               .content_title{font-weight:bold}
            
            
                 .txt_color {color:#212121;}
  
               
               
                
.rounded_grey
{
margin: 0pt auto;
width: 100%; 
background-color: #fff; 
text-align: left; 
vertical-align:top;
}
.tmenu
{
  width:100%;
    height:20px;
/*background-image:url(../../i/fade.jpg) 
background-repeat:repeat-x;  */
font-size:16px;
font-weight:bold;   
border:0px;
vertical-align:top;  
    }
    #banner_logo
    {
    float:left;width:55px;border:0;margin:0;padding:2px;text-align:center;vertical-align:bottom;
    }
    #banner_search{
    float:left;width:180px;height:60px;vertical-align:baseline;text-align:left;  
    }
    .line
    {
    font-color:#212121;
    }
      ahoma; font-size:100%; }