﻿
			a {
				font:11px Verdana;
				color:#315686;
				text-decoration:underline;
			}
			a:hover {
				color:#315686;
			}
					
			
			
.LeftMNav {
z-index : 100000;
border: 1px solid #ccc; 
} 
.LeftMNav UL {
padding-right : 0; 
padding-left : 0; 
padding-bottom : 0; 
margin : 0; 
width : auto; 
color : #ffffff; 
padding-top : 0; 
background-color : #bacee0; 
} 
.LeftMNav LI {
padding-right : 0; 
padding-left : 0; 
padding-bottom : 0; 
margin : 0; 
padding-top : 0; 
list-style-type : none; 
} 
.LeftMNav a {
border-right : 1px solid #oooooo; 
padding-right : 0; 
background-position : 100% 50%;
border-top : 1px solid #fefefe; 
display : block; 
padding-left : 2px; 
font-weight : normal; 
padding-bottom : 1px; 
border-left : 1px solid #fefefe; 
padding-top : 1px; 
border-bottom : 1px solid #ffffff; 
background-color: #ffffff; 
font-size : 12px; 
color : #048; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
.LeftMNav a:hover {
border-left-color : #fefefe;
border-bottom-color : #c3c8cb; 
border-top-color : #fefefe; 
background-color: #f8fafc;
border-right : 3px solid #E65B00; 
font-size : 12px; 
color : #ff3e3e; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
.LeftMNav a:active {
border-left-color : #fefefe; 
border-bottom-color : #c3c8cb; 
border-top-color : #fefefe; 
background-color : #f8fafc; 
border-right-color : #c3c8cb; 
font-size : 12px; 
color : #048; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
.menuheader {
font-family : verdana,arial,helvetica,sans-serif; 
font-size : 11px; 
text-align : left; 
font-weight : bold; 
color : #000000; 
background: #ffffff; 
background:url(/App_Themes/SinfoTiger/images/grid_bg.png) repeat-x;
padding-top : 3px; 
padding-bottom : 3px; 
padding-left : 14px; 
border-bottom : 3px solid #000000; 
border-right : 1px solid #fff; 
border-top : 1px solid #ECF4FB; 
display : block; 
} 