<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_adm_menu.ascx.cs" Inherits="manager_uc_uc_adm_menu" %>
<table border="0"><tr><td style="width: 19px; vertical-align: text-top; list-style-type: none; height: 45px; background-color: #336633;">
 
</td></tr>
</table>
<asp:Menu ID="Menu1" runat="server">
</asp:Menu>
