﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/mp_property_manager.master" AutoEventWireup="true" CodeFile="appliance_image.aspx.cs" Inherits="manager_appliance_appliance_image" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<asp:HyperLink ID="link_appliance" runat="server"><< go back</asp:HyperLink>

    <br />
    <br />
  
                    <asp:Repeater runat="server" ID="rApplianceImage"><ItemTemplate>
                                       <asp:HyperLink ID="link_appliance_image"  runat="server"><asp:Image ID="appliance_invoice_photo" runat="server" 
                                            ImageUrl='<%# "~/mediahandler/ApplianceImage.ashx?app_id="+ Eval("appliance_id") %>' 
                                           /></asp:HyperLink>
                                    
</ItemTemplate>
</asp:Repeater>


</asp:Content>

