@media screen
{
	.ParentMenu
	{
		background-image: url(margin.gif);
		background-repeat: repeat-x; background-position: left bottom;
		height: 30px;
		padding-left: 1px;
		padding-right: 1px;
	}
	
	.ParentItemContainer
	{
		background-image: url(mid.gif);
		background-repeat: repeat-x;
	}
	
	.ParentItem
	{
		background-image: url(mid.gif); 
		cursor: pointer; cursor: auto;
		background-repeat: repeat-x;
		height: 30px;
	}
	
	.ParentItemContentCell
	{
		font: 11px Tahoma; 
		color: #666666;
		text-align: center;
		white-space: nowrap;
		width:100%;
		 font-weight:bold;
	}
	
	.ParentItemContentCell a
	{
		font: 11px Tahoma; 
		color: #666666;
		text-align: center;
		white-space: nowrap;
		width:100%;
		text-decoration:none;
		font-weight:bold;
	}

	.ParentItemOver
	{
		background-image: url(mid_over.gif); 
		cursor: pointer; cursor: auto;
		background-repeat: repeat-x; 
		height: 30px;
	}

	.ParentItemContentCellOver
	{
		font: 11px Tahoma; 
		color: #ffffff;
		text-align: center;
		white-space: nowrap;
		width:100%;
		font-weight:bold;
	}
	
	.ParentItemContentCellOver a
	{
		font: 11px Tahoma; 
		color: #ffffff;
		text-align: center;
		white-space: nowrap;
		width:100%;
		text-decoration:none;
	}

	.ParentItemSubMenuCell, .ParentItemSubMenuCellOver
	{
		width: 10px;
		background-image: url(submenu_parent.gif);
		background-repeat: no-repeat;
		background-position: 0px 13px;
		font-family: Verdana;
		font-size: 1px;
		height:30px;
	}
	
	.ParentSeparator, .ParentSeparatorOver
	{
		background-image: url(mid.gif); 
		width:1px;
		padding: 0px;
	}
	.ParentSeparatorContentCell,.ParentSeparatorContentCellOver
	{
		color: #D6D6D6;
	}
	
	.easyMenu
	{
		border-top: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
		background-color: #F9F9F9;
	}
	
	.easyMenuItemContainer
	{
	}

	.easyMenuItem
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		border-bottom: 1px solid #CCCCCC;
		padding: 0px;
	}
	
	.easyMenuItem a
	{
		height: 20px;
		cursor: auto; cursor: pointer;
	
	}

	.easyMenuItemIconCell, .easyMenuItemIconCell a
	{
	}

	.easyMenuItemContentCell
	{
		font-family: Tahoma;
		font-size: 11px;
		color: #666666;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuItemContentCell a
	{
		font-family: Tahoma;
		font-size: 11px;
		color: #666666;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
		text-decoration:none;
	}

	.easyMenuItemOver
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		border-bottom: 1px solid #CCCCCC;
		background-color: #B2D865;
		padding: 0px;
	}
	
	.easyMenuItemOver a
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		background-color: #B2D865;
	}

	.easyMenuItemIconCellOver, .easyMenuItemIconCellOver a
	{
	}

	.easyMenuItemContentCellOver
	{
		color: White;
		font-family: Tahoma;
		font-size: 11px;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuItemContentCellOver a
	{
		color: White;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuSeparatorIconCell, .easyMenuSeparatorContentCell, .easyMenuSeparatorIconCellOver, .easyMenuSeparatorContentCellOver
	{
		vertical-align:top;
	}
	
	.easyMenuSeparator, .easyMenuSeparatorOver
	{
		border-bottom: 1px solid #CCCCCC;
	}

	.easyMenuItemSubMenuCell, .easyMenuItemSubMenuCellOver
	{
		width: 10px;
		padding-top: 2px;
		background-image: url(submenu.gif);
		background-repeat: no-repeat;
		background-position: 2px 6px;
		font-family: Verdana;
		font-size: 1px;
		height:18px;
	}

	/* do not change these classes */
	.menuContainerIframeUnderlay
	{
		border: 0px;
		position : absolute; 
		visibility : hidden; 
		top : -2000px;
		left : 0px; 
		filter : "progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"; 
		filter : "Alpha(Opacity='0')";
		opacity : 0;
		--moz-opacity : 0;

		background-color: white;
	}
	#ob_em_mc
	{
		width: 100%;
		height: 100%;
		border-collapse: separate;
		border-spacing: expression(cellSpacing=0);
		border-spacing: 0px;
	}
	#ob_em_mc td
	{
		padding: 0px;
	}
	/* do not change these classes */
}

@media print
{
	.menuContainerIframeUnderlay
	{
		display: none;
	}	
}