<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_adm_left_side.ascx.cs" Inherits="manager_uc_uc_adm_left_side" %>

<div class="rounded_grey"><div class="tmenu">

allo
</div></div>

<asp:Panel ID="home" runat="server">
<ul>
<li>home left side</li>
</ul>
</asp:Panel>
<asp:Panel ID="Group" runat"server">
<ul>
<li>Group left side</li>
</ul>
</asp:Panel>


