<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_adm_footer.ascx.cs" Inherits="manager_uc_uc_adm_footer" %>

    <table class="table_footer" align="center"><tr><td>   
    <a href="#" class="footer_link">Contact</a>&nbsp;&nbsp;&nbsp;<span class="footer_link">|</span>&nbsp;&nbsp;&nbsp;<a href="#" class="footer_link">Privacy policy</a>
  </td></tr></table>