﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="wo.aspx.cs" Inherits="c_manager_workorder_wo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

           <br /><br />
    <asp:Panel  ID="panel_wo"  runat="server" />
</asp:Content>

