<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="man_default.aspx.cs" Inherits="manager_man_Default" Title="Untitled Page" %>
<%@ Register Src="~/manager/uc/uc_content_menu.ascx" TagName="uc_content_menu" TagPrefix="uc_content_menu" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      
    
    </asp:Content>

