﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="property.aspx.cs" Inherits="c_manager_property_property" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br /><br />
    <asp:Panel  ID="panel_property"  runat="server" />
</asp:Content>

