<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_menu.ascx.cs" Inherits="uc_uc_menu" %>
 <a href="/login.aspx" class="top_menu_link">Login</a>&nbsp;&nbsp;

<asp:HyperLink ID="sd" runat="server" Text="<%$ Resources:Resource, lbl_create_account %>" NavigateUrl="~/create_account_30.aspx" />
      

