<%@ Page Language="VB" Description="dotnetCHARTING Component" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head> <title>.netCHARTING Sample</title>
<script runat="server">
Sub Page_Load(sender As [Object], e As EventArgs)
   Dim seriesName As String = Request.QueryString("series")
   Dim elementName As String = Request.QueryString("element")
        Response.Write("You clicked on " & elementName & "  from " & seriesName)
End Sub 'Page_Load 
</script>
</head>
<body></body>
</html>