<%@ Page language="VB" debug="true" trace="false" CodeBehind="codebehind.aspx.vb" Src="codebehind.aspx.vb" AutoEventWireup="true" Inherits="WebFormChart" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>

 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >


<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Orders Report</title></head>

<body>

 <div style="text-align:center">
 
 <dotnet:Chart id="ChartObj" runat="server"/>

 </div>
</body>
 </html>
