<%@ Page Language="vb" Description="dotnetCHARTING Component" %>

<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>

<script runat="server">

	Sub Page_Load(ByVal sender As Object, ByVal e As EventArgs)
		' This sample demonstrates using different dynamic image color tolerance settings and their effects.

		Chart.TempDirectory = "temp"
		Chart.Debug = True
		Chart.Palette = New Color() { Color.FromArgb(255, 255, 0), Color.FromArgb(255, 99, 49), Color.FromArgb(0, 156, 255) }

		Chart.Type = ChartType.Combo
		Chart.Size = "600x350"
		Chart.Title = ".netCHARTING Dynamic Color Tolerance"


		' *DYNAMIC DATA NOTE* 
		' This sample uses random data to populate the chart. To populate 
		' a chart with database data see the following resources:
		' - Help File > Getting Started > Data Tutorials
		' - DataEngine Class in the help file	
		' - Sample: features/DataEngine.aspx

		Dim mySC As SeriesCollection = getRandomData()
		Chart.DefaultSeries.Type = SeriesType.Marker

		' Add the random data.
		Chart.SeriesCollection.Add(mySC)
		Chart.DefaultElement.Marker = New ElementMarker("../../images/shieldBlurred.png")
		Chart.DefaultElement.Marker.DynamicImageColor = Color.FromArgb(6, 0, 127)

		mySC(0)(0).Marker.DynamicImageColorTolerance = 0
		mySC(0)(1).Marker.DynamicImageColorTolerance = 10
		mySC(0)(2).Marker.DynamicImageColorTolerance = 20
		mySC(0)(3).Marker.DynamicImageColorTolerance = 30
		mySC(0)(4).Marker.DynamicImageColorTolerance = 40
		mySC(0)(5).Marker.DynamicImageColor = Color.Empty
		mySC(0)(5).Name = "Original"

	End Sub

	Function getRandomData() As SeriesCollection
		Dim myR As Random = New Random(1)
		Dim SC As SeriesCollection = New SeriesCollection()
		        Dim a As Integer
        Dim b As Integer
		For a = 1 To 1
			Dim s As Series = New Series("Series " & a.ToString())
			For b = 1 To 6
				Dim e As Element = New Element("Tolerance " & ((b-1)*10).ToString())
				e.YValue = myR.Next(50)
				s.Elements.Add(e)
			Next b
			SC.Add(s)
		Next a
		Return SC
	End Function

	Function getLiveData() As SeriesCollection
		Dim de As DataEngine = New DataEngine("ConnectionString goes here")
		de.SqlStatement = "SELECT XAxisColumn, YAxisColumn FROM ...."
		Return de.GetSeries()
	End Function

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.netCHARTING Sample</title>
</head>
<body>
	<div align="center">
		<dotnet:Chart ID="Chart" runat="server" />
	</div>
</body>
</html>
