<%@ Page Language="VB" debug="true" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tick Label Mode Sample</title>
		<script runat="server">
Sub Page_Load(sender As [Object], e As EventArgs)
   
   Chart.Type = ChartType.Combo 'Horizontal;
   Chart.Width = Unit.Parse(600)
   Chart.Height = Unit.Parse(350)
   Chart.TempDirectory = "temp"
   Chart.Debug = True
   
   Chart1.Type = ChartType.ComboHorizontal
   Chart1.Width = Unit.Parse(600)
   Chart1.Height = Unit.Parse(350)
   Chart1.TempDirectory = "temp"
   Chart1.Debug = True
   
   Chart2.Type = ChartType.Combo
   Chart2.Width = Unit.Parse(600)
   Chart2.Height = Unit.Parse(350)
   Chart2.TempDirectory = "temp"
   Chart2.Debug = True
   
   ' This sample will demonstrate how ....
   ' First we get our data, if you would like to get the data from a database you need to use
   ' the data engine. See sample: features/dataEngine.aspx. Or the dataEngine tutorial in the help file.
   Dim mySC As SeriesCollection = getRandomData()
   
   
   Chart.YAxis.Label.Text = "TickLabelMode.Normal"
   Chart.YAxis.TickLabelMode = TickLabelMode.Normal
   Chart.XAxis.Label.Text = "TickLabelMode.Normal"
   Chart.XAxis.TickLabelMode = TickLabelMode.Normal
   
   
   Chart1.YAxis.Label.Text = "TickLabelMode.Wrapped"
   Chart1.YAxis.TickLabelMode = TickLabelMode.Wrapped
   Chart1.XAxis.Label.Text = "TickLabelMode.Angled"
   Chart1.XAxis.TickLabelMode = TickLabelMode.Angled
   
   Chart2.YAxis.Label.Text = "TickLabelMode.Normal"
   Chart2.YAxis.TickLabelMode = TickLabelMode.Normal
   Chart2.XAxis.Label.Text = "TickLabelMode.Wrapped"
   Chart2.XAxis.TickLabelMode = TickLabelMode.Wrapped
   
   
   ' Add the random data.
   Chart.SeriesCollection.Add(mySC)
   Chart1.SeriesCollection.Add(getRandomData2())
   Chart2.SeriesCollection.Add(getRandomData2())
End Sub 'Page_Load
 


Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random()
   Dim a As Integer
   For a = 0 To 3
      Dim s As New Series()
      s.Name = "Series " + a.ToString()
      Dim b As Integer
      For b = 0 To 2
         Dim e As New Element()
         e.Name = "Long Name Element " + b.ToString()
         'e.YValue = -25 + myR.Next(50);
         e.YValue = myR.Next(50)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   SC(1).DefaultElement.Color = Color.FromArgb(255, 255, 0)
   SC(2).DefaultElement.Color = Color.FromArgb(255, 99, 49)
   SC(3).DefaultElement.Color = Color.FromArgb(0, 156, 255)
   
   Return SC
End Function 'getRandomData


Function getRandomData2() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random()
   Dim a As Integer
   For a = 1 To 4
      Dim s As New Series()
      s.Name = "Series " + a.ToString()
      Dim b As Integer
      For b = 0 To 4
         Dim e As New Element()
         e.Name = "Long Name Element " + b.ToString()
         'e.YValue = -25 + myR.Next(50);
         e.YValue = myR.Next(50)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   SC(1).DefaultElement.Color = Color.FromArgb(255, 255, 0)
   SC(2).DefaultElement.Color = Color.FromArgb(255, 99, 49)
   SC(3).DefaultElement.Color = Color.FromArgb(0, 156, 255)
   
   Return SC
End Function 'getRandomData2

		</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
			<dotnet:Chart id="Chart1" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
			<dotnet:Chart id="Chart2" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
