.pagination2 {
            font-size: 80%;
          
        }
        
.pagination2 a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination2 a, .pagination2 span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination2 .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination2 .current.prev, .pagination2 .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
