.chromestyle{
font-weight: normal;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
padding: 10px 0 12px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
	float:right;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #fff;
font:normal bold 11px Arial, Helvetica, sans-serif;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
padding:5px 20px;
margin-right:5px;
text-decoration: none;


}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
background:#66abd6;
color:#fff;
height:29px; /*THEME CHANGE HERE*/
width:auto;
padding:5px 20px;
margin-right:5px;
text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 10px;
margin-top:5px;
border-left: 0px solid #2a2827; /*THEME CHANGE HERE*/
border-top-width: 0;
z-index:100;
padding:5px;
background:#498eb9;
visibility: hidden;
width:160px;
margin-left:-5px;
}

.dropmenudiv a{
width: auto;
display: block;
text-indent: 4px;
border-bottom: 0px solid #009fc7; /*THEME CHANGE HERE*/
padding: 6px 8px 6px 12px;
text-decoration: none;
color: #fff;
text-align:left
}

* html .dropmenudiv a{ /*IE only hack*/
width: auto;text-decoration: none;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background:#66abd6;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
color:#fff;
font-weight:normal;
padding: 6px 12px 6px 12px;text-decoration: none;
}