
/*--------------------------------------------
  				General Settings
  		------------------------------------*/
html, body, div, span, small, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, blockquote, acronym, address, code, del, dfn, dl, dt, dd, em, img, q, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
border : 0;
font-size : 100%;
outline:none;
font-family : inherit;
}

body	{
	background:#fbfbfb;
	font:normal 12px/20px "Lucida Sans unicode", Verdana, Helvetica, sans-serif; 
	color:#333;
	margin:0;

}
h1, h2, h3, h4, h5, h6
{
font-size: 100%;
margin: 0 15px;
}

.v-sep
{
background:url(../login3_files/sidebar.jpg) top right no-repeat;
min-height:570px;
}


.leftalign
{
float:left;
}

.rightalign
{
float:right;
}

.textright
{
text-align:right;
}

.textleft
{
text-align:right;
}

p
{
margin:5px 0;
}

.tb10
{
margin:10px 0;
}

.l10
{
margin-left:10px;
}

/*------------------------------------------------------
  				General Links Href Colors
  ------------------------------------------------------*/
a{
color:#498eb9;
text-decoration:none;
}
a:hover {
color:#007cc3;
text-decoration:underline;
}

/*--------------------------------------------
  				page structure
  		------------------------------------*/
.total	{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}

.header
{
background:#303030 url(../login3_files/logo_bg.gif) repeat-x; /*THEME CHANGE HERE*/
height:97px;
}

.headerbar	
{
background:#498eb9; /*MENU COLOR CHANGE HERE*/
height:42px;
}

.logo	{
	padding:20px 0 20px 20px;
}
.sloganpart
{
font:bold 13px Georgia, "Times New Roman", Times, serif;
padding:10px 0 5px 0;
text-align:right;
}

			
.middlepart	{
background:#FCFCFC;
overflow:auto;
height:100%;
padding-bottom:20px;
padding-top:20px;
}

.content
{
padding:10px;
}


/*--------------------------------------------
  				Sub header
  		------------------------------------*/

.subheader{
background:#004065 url(../login3_files/subheader.gif) top center no-repeat;
height:71px;
}

.subheader h2, .subheader p	{
	padding:20px;
	border:none;
color:#fff;	
}

.subheader h2{
font: normal 35px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#fff;
}

/*--------------------------------------------
  				Slider Header Right part
  		------------------------------------*/

.homeinfo{
 margin-top:20px;
}


.homeinfo h1
{
line-height:30px;
}

/*--------------------------------------------
  				Headings
  		------------------------------------*/
h1{
font: normal 32px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding:0px;
letter-spacing:-1px;
margin:15px 0 15px 0;
color:#4d4c4c;
}
h2{
font: normal 24px/30px Georgia, Arial, Helvetica, sans-serif;
padding:0px 0 0 0;
margin:0 0 5px 0;
color:#4d4c4c;
}

h3 		{ 
font: normal 22px/22px Georgia, Arial, Helvetica, sans-serif; 
color:#4D4C4C;
padding-bottom: 10px;
margin:0;
text-decoration:none;
}

h4 		{ 
font: normal 20px Georgia, Arial, Helvetica, sans-serif; 
color:#4D4C4C; 
letter-spacing:-1px;
padding-bottom: 10px;
text-align:left;
margin:0;
}

h5 		{ 
font: normal 16px Georgia, Arial, Helvetica, sans-serif; 
color:#4D4C4C; 
padding-bottom: 10px;
text-align:left;
margin:0;
}

h6 		{ 
font: italic normal 12px Georgia, Arial, Helvetica, sans-serif; 
color:#4D4C4C; 
padding-bottom: 10px;
text-align:left;
margin:0;
}


/*--------------------------------------------
  				Sidebar box
  		------------------------------------*/
		
.sidebarbox h3 		{ 
font: normal 22px/28px Georgia, Arial, Helvetica, sans-serif; 
color:#4D4C4C;
text-align:center;
padding-bottom: 10px;
margin:0;
text-decoration:none;
}

.sidebarbox
{
background:#FFFFFF url(../login3_files/h3_bg.gif) repeat-x;
}


.sidebarbox {
border:1px solid #cbcbcb;
padding:5px 15px 15px 15px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
}

.tour	{
	padding:10px 0 0 0px;
}


/*--------------------------------------------
  				portfolio box
  		------------------------------------*/

.portfolioitem
{
position: relative;
padding:15px;
padding-bottom:35px;
margin-bottom:15px;
background:#f7f7f7;
border:1px solid #dddddd;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
overflow:hidden;
height:100%;
min-height:160px;
}

.portfolioitem .works
{
position:absolute;
display:block;
background:#fff;
border:1px solid #dddddd;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
padding:5px 20px;
bottom:5px;
right:20px;
}

.portfolioitem .details
{
float:right;
width:400px;
padding-bottom:20px;
}

.portfolioitem .corner {
	position:absolute;
	top:0px;
	left:0px;
	width:107px;
	height:107px;
}
.port_img
{
width:200px;
height:120px;
}

/*--------------------------------------------
			Latest Portfolio box Css and Icon
  		------------------------------------*/
.latest {
	background:url(../login3_files/latest_work.png) 0 0 no-repeat;
}
.latestproject {
	background:#daf0fe;
	border:1px solid #b4d2e4;
}

/*--------------------------------------------
  				Twitter box
  		------------------------------------*/
.twitterbox
{
	background:#daf0fe;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	padding:15px;
	border:1px solid #b4d2e4;
}

/*--------------------------------------------
  				Img border class
  		------------------------------------*/
.bordersub
{
border:1px solid #dddddd;
background:#FFFFFF;
padding:8px;
}

.borderimg
 {
 border:1px solid #727272;
 }



/*--------------------------------------------
  				Homepage Slider
  		------------------------------------*/

.gallerybg	{
	background:#2f4e63 url(../login3_files/gallery_bg.gif) top center no-repeat;
	height:278px;
	border-bottom:0px solid #e2e2e2;
	padding:0px 0 0 0;
}

.sliderbg
{
background:url(../login3_files/sliderbg.png) no-repeat;
margin-top:20px;
width:418px;
height:248px;
}
h1.slider-h1
{
font:italic normal 30px/30px Georgia, "Times New Roman", Times, serif;
color:#FFFFFF;
letter-spacing:-1px;
margin-top:10px;
padding:0 15px;
}
.stepcarousel p
{
font:italic normal 12px/18px Georgia, "Times New Roman", Times, serif;
color:#FFFFFF;
margin-top:5px;
padding:0 15px;
}

.stepcarousel{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 370px; /*Width of Carousel Viewer itself*/
height: 170px; /*Height should enough to fit largest content's height*/
margin:15px 0 0 23px;
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px 0px 0px 0px; /*margin around each panel*/
width: 370px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

/*--------------------------------------------
  				Homepage Slider Right Content
  		------------------------------------*/
		
   h1.bigger {
	 font: normal 50px/50px Georgia, "Trebuchet MS", Arial, serif; letter-spacing: -0.5px; 
	 color:#fff;
	 text-align:left;
	 letter-spacing:-2px;
	 }
	h1.bigger span
	{
	 color:#000;
	 }
	p.header-text {
	 font:italic normal 18px/20px Georgia, Arial,serif; 
	color:#bacfdd;
	 padding:0px 0px 10px 0 ;
	}


/*--------------------------------------------
  				Sidebar Menu
  		------------------------------------*/
		
.submenu {
margin:0 0 20px 0;
text-align:right;
}

.submenu ul {
margin:0;
list-style:none;
padding:0 0px;
}

.submenu li a {
voice-family:inherit;
margin:0;
height:20px;
border-bottom:1px solid #e0e0e0;
text-decoration:none;
}

.submenu li li a {
margin:0;
border-bottom:1px solid #ededed;
text-decoration:none;

}

.submenu li li a:link, .submenu li li a:visited {
color:#bebebe;
display:block;
padding:6px 10px;
}

.submenu li a:link, .submenu li a:visited {
color:#5F5E5E;
display:block;
padding:6px 10px;
}

.submenu li.current a {
text-decoration:none;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
background:#d5e1e8;
color:#0065a0;
}

.submenu li a:hover {
color:#0065a0;
background:#e5ebef;
padding:6px 10px;
text-decoration:none;
}

/*--------------------------------------------
  				Contact Page List
  		------------------------------------*/
		
		
.contacts img {
vertical-align:middle;
padding:2px 0;
}


/* ================================================= */
/* 	 INPUT FIELD CSS                                 */
/* ================================================= */

form input {
	background-color: #FAFAFA; background-image: url("../login3_files/bg_box.gif");color: #484848;padding: 2px; 
	border-radius:5px;
	
	}
form textarea
{
vertical-align:top;
}

form input[type=radio],
form input[type=checkbox]
					{border: none;}

input[type=text],
input[type=password],
textarea 
					{	border-radius:5px;
	
	
background: #fff url('../login3_files/bg_box.gif') repeat-x top left;border: 1px solid #b8b8b8;padding: 5px 8px;margin: 2px 0px;}

input[type=text]:focus,
input[type=password]:focus
{
	background: #fff url('../login3_files/bg_box.gif') repeat-x top left;
}
input[type=submit],
input[type=button],
input[type=image],
input[type=reset],
textarea:focus 
					{
					background:none;
					}

form div input.inputCheckbox, form div input.inputRadio, input.inputCheckbox, input.inputRadio 
					{ width: auto;margin: 2px 10px;}

* input[type=image]
{
	background:none;
}


/*------------------------------------------------------
  				Testimonial Block
  ------------------------------------------------------*/	
  
blockquote, q  {
quotes : none;
}

blockquote {
margin : 15px 0 15px 5px;
padding-right : 5px;
background : url(../login3_files/quoteclose.gif) no-repeat bottom right;
}

blockquote p {
font : italic normal 12px/20px Georgia, "Times New Roman", Times, serif;
background : url(../login3_files/quoteopen.gif) no-repeat top left;
padding-left : 30px;
font-weight : normal;
} 


.testimonial
{
overflow:hidden;
height:100%;
padding-bottom:20px;
}



/*------------------------------------------------------
  				Readmore Links
  ------------------------------------------------------*/
a.readmore:link, a.readmore:visited, a.readmore:active
{
color:#197bc4;
float:right;
font:normal 11px/18px Tahoma, "Times New Roman", Times, serif;
text-decoration:none;
}
a.readmore:hover
{
color:#0096a3;
float:right;
font:normal 11px/18px Tahoma, "Times New Roman", Times, serif;
text-decoration:none;
}
a.readmore2:link, a.readmore2:visited, a.readmore2:active
{
color:#197bc4;
font:normal 11px/18px Tahoma, "Times New Roman", Times, serif;
text-decoration:none;
}
a.readmore2:hover
{
color:#0096a3;
font:normal 11px/18px Tahoma, "Times New Roman", Times, serif;
text-decoration:none;
}




/*------------------------------------------------------
  				News Unordered Lists
  ------------------------------------------------------*/	
ul.newslist
{
margin:20px 0;
padding:0;;
}

ul.newslist li
{
padding:3px 0px;
padding-bottom:10px;
margin-bottom:15px;
color:#666666;
}
ul.newslist li a:link, ul.newslist li a:visited, ul.newslist li a:active
{
padding:3px 0px;color:#959595;
text-decoration:none;
}

ul.newslist li a:hover
{
color:#000;
padding:3px 0px;
text-decoration:none;
}

ul.newslist li span
{
font-weight:bold;
display:block;
}


/*------------------------------------------------------
  				Homepage Services Block
  ------------------------------------------------------*/
.servicebox
{
width:auto;
overflow:auto;
height:100%;
background:#f7f7f7;
border:1px solid #ddd;
padding:25px;
margin:0 0 10px 0;
}
.servicebox p
{
padding-left:15px;
border-left:1px solid #eeeeee;
}

.servicebox p, .servicebox ul.listitems
{
margin-left:70px;
}


/*------------------------------------------------------
  				Services Page Services Block
  ------------------------------------------------------*/
.servicebox2
{
width:260px;
overflow:auto;
height:100%;
float:left;
background:#fff;
border:1px solid #ddd;
padding:25px;
margin:0 10px 10px 0;
}
.servicebox2 h3, .servicebox2 h6
{
padding-left:15px;
margin-left:70px;
border-left:1px solid #ddd;
}

.servicebox2 p
{
padding-top:20px;
}

.servicebox2 a.readmore
{
position:relative;
bottom:-25px;
right:-20px;
}


/*******************************************************
  				Unordered List
*******************************************************/

ul.listitems {
margin:10px 0;
padding:0;
}

ul.listitems li {
background:url(../login3_files/tick.png) 0 50% no-repeat;
font:normal 12px Arial, Helvetica, sans-serif;
height:18px;
list-style:none;
text-decoration:none;
voice-family:inherit;
margin:0;
padding:3px 10px 3px 20px;
}

/*******************************************************
  				Price Table CSS
*******************************************************/

table {
border:none;
border-collapse:collapse;
margin:10px 0;
}

td,th {
border-collapse:collapse;
border-bottom:1px solid #cacaca;
color:#4c4c4c;
padding:10px 15px;

}

th {
background:url(../login3_files/table-head-mid.gif) repeat-x 0 0;
padding-left:20px;
text-align:left;
}

th.lefthead {
background:url(../login3_files/table-head-left.gif) no-repeat 0 0;
padding-left:20px;
text-align:left;
}

th.righthead {
background:url(../login3_files/table-head-right.gif) no-repeat right top;
text-align:left;
}

table a {
text-decoration:none;
}

tbody tr:hover {
background:#eaf2f7;
}



/*******************************************************
  				Error / Success / Notice	
*******************************************************/

.notes 	{background: #f0f0f0;border: 1px solid #b8b8b8;}
.success 	{background: #ccfcd1;border: 1px solid #60a400;}
.error	{background: #f9e3e3;	border: 1px solid #e79e9e;}
.notice 	{background: #fcf0cc;border: 1px solid #ecc735;}
	.notes, .notice, .success, .error 
		{font-size: 100%;color:#484848;padding:10px;width:auto;margin: 0 0 20px 0px; text-align:left}
	.notes span, .notice span, .success span, .error span 
		{font-weight: bold;font-size: 1.2em;padding: 2px 40px;}
	.notes p, .success p, .error p, .notice p 
		{margin: 0px;padding: 0px 40px;}
		
		
		
/*******************************************************
  				Footer
*******************************************************/
.footerbg
{
background:#61a4cd url(../login3_files/footer.gif) top left repeat-x;
}

.footertext {
color:#fff;
padding:30px 0;
}

.footertext a {
color:#fff;
text-decoration:none;
margin:0;
padding:0;
}

.footertext a:hover {
color:#fff;
text-decoration:none;
margin:0;
padding:0;
}



/*******************************************************
  				STAFF LIST CSS
*******************************************************/
ul.staff {
display:inline;
clear:both;
margin:0;
padding:0;
}

ul.staff li {
font:normal bold 11px/12px Verdana, Arial, Helvetica, sans-serif;
color:#000;
display:block;
overflow:auto;
height:100%;
background:#FFFFFF;
vertical-align:bottom;
border:1px solid #ddd;
margin:0 5px 10px 0;
padding:10px 15px;
}

ul.staff li	img {
padding-bottom:5px;
float:left;
margin-right:20px;
}

ul.staff li small {
color:#a1a1a1;
font:normal 11px georgia, Arial, Helvetica, sans-serif;
margin:0;
}


/*********************************************
  				BLOG PAGE
**********************************************/

.blogbox {
position: relative;
padding:15px;
margin-bottom:15px;
background:#f7f7f7;
border:1px solid #dddddd;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
overflow:hidden;
height:100%;
}
.blogbox .blogbottom
{
position:absolute;
display:block;
background:#fff;
border:1px solid #dddddd;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
padding:5px 20px;
bottom:5px;
right:20px;
}

.blogbox .blog-content{
padding-bottom:20px;
float:right;
line-height:16px;
padding-left:20px;
width:400px;
}

.blogbox h3 {
color:#498eb9;
}
