﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/mp_owner.master" AutoEventWireup="true" CodeFile="property_default.aspx.cs" Inherits="manager_property_property_default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<table>
<tr><td colspan="2"><h1>PROPERTY</h1></td></tr>
<tr><td><h2>View Property</h2></td><td>Enable you to view all properties from your account.</td></tr>
<tr><td><h2>Profile</h2></td><td>Enable you to view general information of one or more properties all in 1 page.</td></tr>

</table>
</asp:Content>

