﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="tenant.master.cs" Inherits="tenant_tenant" %>
<%@ Register Src="~/manager/uc/uc_adm_lmenu.ascx" TagName="uc_adm_lmenu" TagPrefix="uc_adm_lmenu" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

       <link rel="stylesheet" type="text/css" href="~/manager/styles.css" />     
       <link  rel="stylesheet" type="text/css" href="/manager/manager.css"  />

 <link href="~/manager/filemanager/styles/style_custom/style.css" rel="stylesheet" type="text/css" />
    <title>Untitled Page</title>
  
           <style type="text/css">
               .style1
               {
                   width: 153px;
               }
               .style2
               {
                   font-size: medium;
                   width: 630px;
               }
           </style>
  
           </head>
<body  >
 
 
<div id="wrapper"  >
    <!-- Begin Header -->
       <div id="header">
           <div id="site-name" align="left">
               <br />
              Sinfocatiger&nbsp; <span class="style2">( DEV. )</span></div>
      </div>
    <!-- End Header -->
   
    <table  style="width: 100%;">
        <tr >
            <td  width="150px" align="left" colspan="2" bgcolor="aliceblue">
              <!--// The head of the menus //-->
	        </td>
            
        </tr>
        
        <tr >
            <td  width="150px"  colspan="2" >
               <br />
                
            </td>
            
        </tr>
        <tr >
            <td valign="top" align="left"  class="style1">
               <hr />
                <h3>left side</h3>
                <br />
                  &nbsp;
                  
     
            </td>
            
             <td valign="top" align="left"  >
                 <hr />
               <form id="form1" runat="server"> 
                   <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
                    </asp:ContentPlaceHolder>
                 </form>
            </td>
            
        </tr>
    </table>
    
    
   
   
  
   


    
   <!-- Begin Footer -->
   <div id="footer"> This is the Footer</div>
   <!-- End Footer -->
    
    
 </div>

 
 </body>
</html>
