<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="aspnet_scheduler.master" %>
<%@ Register TagPrefix="osd" Namespace="OboutInc.Scheduler" Assembly="obout_Scheduler_NET"%>

    <script runat="server">
        void Page_Load(Object o, EventArgs e)
        {
            Page.Title = "Scheduler Basic Example";
            schedule.Login(1);
                      
        }
    </script>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
            <osd:Scheduler runat="server" ID="schedule" StyleFolder="styles/default" 
            Width="990" Height="500" 
            ProviderName = "System.Data.SqlClient"
             ConnectionString="server=mssql300.ixwebhosting.com;database=sinfoca_tiger;uid=sinfoca_tiger;password=tiger1234"
              
             EventsTableName="SchedulerEvents"
                UserSettingsTableName="SchedulerUserSettings"
                CategoriesTableName="SchedulerCategories"
                 
                 >
            
            </osd:Scheduler>
</asp:Content>            