﻿<%@ Page Language="C#" MasterPageFile="~/user/mp_property_manager.master" AutoEventWireup="true" CodeFile="default2.aspx.cs" Inherits="manager_scheduler_default2" Title="Untitled Page" %>
<%@ Register Assembly="obout_Scheduler_NET" Namespace="OboutInc.Scheduler" TagPrefix="osd" %>


  
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
   
<h3><asp:Label ID="Label1" runat="server" 
            Text="<%$ Resources:Resource, lbl_u_events_calendar%>" 
            style="font-size: medium; font-weight: 700"></asp:Label></h3>
            <osd:Scheduler runat="server"  ID="schedule" StyleFolder="styles/default/"  
            Width="80%" Height="400" 
            ProviderName = "System.Data.SqlClient"
             ConnectionString="server=mssql303.ixwebhosting.com;database=sinfoca_tiger;uid=sinfoca_tiger;password=4321tigre"
                
             EventsTableName="SchedulerEvents"
                UserSettingsTableName="SchedulerUserSettings"
                CategoriesTableName="SchedulerCategories"
                 
                 
                 >
            
            </osd:Scheduler>

</asp:Content>            

