﻿<%@ Page Title="" Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="upload_img.aspx.cs" Inherits="manager_group_upload_img" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <H1>UPLOAD PROPERTY PICTURE</H1>
    <br />
    <span style="font-size: small">Property </span>:<asp:DropDownList ID="ddl_home_id" DataValueField="home_id" DataTextField="home_name"   runat="server"  />
   
    <br />
    <br />
    <asp:FileUpload ID="FileUpload1" runat="server" />
    &nbsp;&nbsp;
    <asp:Button ID="btn_upload" runat="server" Text="Upload" 
    onclick="btn_upload_Click" />
    <br />
    <br />
    <br />
    <br />
    <asp:Label ID="lbl_success" runat="server" ></asp:Label>
</asp:Content>

