<%@ Page Language="C#" Description="dotnetCHARTING Component" %>

<script runat="server">
void Page_Load(Object sender,EventArgs e)
{
	string seriesName = Request.QueryString["series"];
	string elementName = Request.QueryString["element"];
	Response.Write("You clicked on \"" + elementName + "\"  from \"" + seriesName + "\"");


}
</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
</body>
</html>