<%@ Page Language="C#" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>

<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        // This sample demonstrates generating a sum pie chart image and inserting it into the legend.

        Chart.ReloadPeriod = new TimeSpan(0, 0, 3);
        Chart.TempDirectory = "temp";
        Chart.Debug = true;
        Chart.Palette = new Color[] { Color.FromArgb(49, 255, 49), Color.FromArgb(255, 255, 0), Color.FromArgb(255, 99, 49), Color.FromArgb(0, 156, 255) };

        Chart.Type = ChartType.Combo;
        Chart.Size = "600x350";
        Chart.Title = ".netCHARTING Sample";
        Chart.ShadingEffectMode = ShadingEffectMode.Four;
        Chart.DefaultAxis.GridLine.Color = Color.DarkGray;
        Chart.YAxis.AlternateGridBackground.Color = Color.FromArgb(100, 220, 220, 220);
        Chart.ChartArea.Background.Color = Color.FromArgb(255, 200, 200, 200);


        Chart.TitleBox.Background = new Background(Color.LightGray, Color.DarkGray, 90);
        Chart.TitleBox.Label.OutlineColor = Color.LightGray;
        Chart.TitleBox.CornerTopLeft = BoxCorner.Round;
        Chart.TitleBox.CornerTopRight = BoxCorner.Round;
        Chart.LegendBox.Background = new Background(Color.White, Color.DarkGray, 45);

        // *DYNAMIC DATA NOTE* 
        // This sample uses random data to populate the chart. To populate 
        // a chart with database data see the following resources:
        // - Help File > Getting Started > Data Tutorials
        // - DataEngine Class in the help file	
        // - Sample: features/DataEngine.aspx

        SeriesCollection mySC = getRandomData();
        LegendEntry le = new LegendEntry(" ", " ");
        le.PaddingTop = 58;
        Chart.LegendBox.ExtraEntries.Add(le);

        Annotation an = new Annotation();
        an.ClearColors();
        System.Drawing.Image pie = getPieImage(mySC, Chart.Palette);
        TextureBrush tb = new TextureBrush(pie);
        tb.TranslateTransform(510, 95);
        an.Background = new Background(tb);
        an.Position = new Point(510, 95);
        an.Padding = 10;
        an.Size = new Size(65, 65);
        an.Padding = 0;
        an.DefaultCorner = BoxCorner.Round;

        Chart.Annotations.Add(an);

        // Add the random data.
        Chart.SeriesCollection.Add(mySC);


        pie.Dispose();
        //tb.Dispose();

    }

    SeriesCollection getRandomData()
    {
        Random myR = new Random();
        SeriesCollection SC = new SeriesCollection();
        for (int a = 1; a < 5; a++)
        {
            Series s = new Series("Series " + a.ToString());
            for (int b = 1; b < 5; b++)
            {
                Element e = new Element("Element " + b.ToString());
                e.YValue = myR.Next(50);
                s.Elements.Add(e);
            }
            SC.Add(s);
        }
        return SC;
    }

    System.Drawing.Image getPieImage(SeriesCollection sc, Color[] palette)
    {
        Chart c = new Chart();
        c.Type = ChartType.Pie;
        c.Palette = palette;
        c.Size = "77x75";
        c.Use3D = true;
        c.ShadingEffectMode = ShadingEffectMode.One;
        c.Margin = "-11";
	c.MarginLeft = -15;

        c.Use3D = false;
        c.LegendBox.Visible = false;
        c.Background = new Background(Color.Transparent);

        c.ChartArea.ClearColors();
        c.SeriesCollection.Add(sc);
        return c.GetChartBitmap();
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.netCHARTING Sample</title>
</head>
<body>
    <div align="center">
        <dotnet:Chart ID="Chart" runat="server" />
    </div>
</body>
</html>
