<%@ Page Language="C#" Description="dotnetCHARTING Component" %>

<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>

<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        // This sample demonstrates generating a sum pie chart image and inserting it into the legend.

        Chart.TempDirectory = "temp";
        Chart.Debug = true;
        Chart.Palette = new Color[] { Color.FromArgb(49, 255, 49), Color.FromArgb(255, 255, 0), Color.FromArgb(255, 99, 49), Color.FromArgb(0, 156, 255) };

        Chart.Type = ChartType.Combo;
        Chart.Size = "600x350";
        Chart.Title = ".netCHARTING Sample";
        Chart.Use3D = true;

        // *DYNAMIC DATA NOTE* 
        // This sample uses random data to populate the chart. To populate 
        // a chart with database data see the following resources:
        // - Help File > Getting Started > Data Tutorials
        // - DataEngine Class in the help file	
        // - Sample: features/DataEngine.aspx

        SeriesCollection mySC = getRandomData();
        LegendEntry le = new LegendEntry(" ", " ");
        le.PaddingTop = 52;
        Chart.LegendBox.ExtraEntries.Add(le);

        Annotation an = new Annotation();
        an.ClearColors();
        System.Drawing.Image pie = getPieImage(mySC, Chart.Palette);
        TextureBrush tb = new TextureBrush(pie);
        tb.TranslateTransform(500, 96);
        an.Background = new Background(tb);
        an.Position = new Point(500, 96);
        an.Size = new Size(80, 60);
        Chart.Annotations.Add(an);

        // Add the random data.
        Chart.SeriesCollection.Add(mySC);


        pie.Dispose();
        //tb.Dispose();

    }

    SeriesCollection getRandomData()
    {
        Random myR = new Random(1);
        SeriesCollection SC = new SeriesCollection();
        for (int a = 1; a < 5; a++)
        {
            Series s = new Series("Series " + a.ToString());
            for (int b = 1; b < 5; b++)
            {
                Element e = new Element("Element " + b.ToString());
                e.YValue = myR.Next(50);
                s.Elements.Add(e);
            }
            SC.Add(s);
        }
        return SC;
    }

    System.Drawing.Image getPieImage(SeriesCollection sc, Color[] palette)
    {
        Chart c = new Chart();
        c.Type = ChartType.Pie;
        c.Palette = palette;
        c.Size = "80x70";
        c.Use3D = true;
        c.Margin = "-19";
        c.LegendBox.Visible = false;
        c.Background.Color = c.LegendBox.Background.Color;

        c.ChartArea.ClearColors();
        c.SeriesCollection.Add(sc);
        return c.GetChartBitmap();
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.netCHARTING Sample</title>
</head>
<body>
    <div align="center">
        <dotnet:Chart ID="Chart" runat="server" />
    </div>
</body>
</html>
