<%@ Page Language="C#" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>

<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        // This sample demonstrates the behavior variable transparency of the dynamic color on custom images.

        Chart.TempDirectory = "temp";
        Chart.Debug = true;
        Chart.Palette = new Color[] { Color.FromArgb(49, 255, 49), Color.FromArgb(255, 255, 0), Color.FromArgb(255, 99, 49), Color.FromArgb(0, 156, 255) };

        Chart.Type = ChartType.Combo;
        Chart.Size = "600x350";
        Chart.Title = ".netCHARTING Dynamic Color with variable transparency";


        // *DYNAMIC DATA NOTE* 
        // This sample uses random data to populate the chart. To populate 
        // a chart with database data see the following resources:
        // - Help File > Getting Started > Data Tutorials
        // - DataEngine Class in the help file	
        // - Sample: features/DataEngine.aspx

        SeriesCollection mySC = getRandomData();
        Chart.DefaultSeries.Type = SeriesType.Marker;

        // Add the random data.
        Chart.SeriesCollection.Add(mySC);
        Chart.DefaultElement.Marker = new ElementMarker("../../images/fade.png");
        Chart.DefaultElement.Marker.DynamicImageColor = Color.FromArgb(6, 0, 127);
Chart.DefaultSeries.LegendEntry.Marker = new ElementMarker("../../images/fade.png");
Chart.DefaultSeries.LegendEntry.Marker.DynamicImageColor = Color.FromArgb(6, 0, 127);

foreach(Series s in mySC)
{
s.LegendEntry.Marker = new ElementMarker("../../images/fade.png");
s.LegendEntry.Marker.DynamicImageColor = Color.FromArgb(6, 0, 127);
}

    }

    SeriesCollection getRandomData()
    {
        Random myR = new Random(1);
        SeriesCollection SC = new SeriesCollection();
        for (int a = 1; a < 5; a++)
        {
            Series s = new Series("Series " + a.ToString());
            for (int b = 1; b < 5; b++)
            {
                Element e = new Element("Element " + (b).ToString());
                e.YValue = myR.Next(50);
                s.Elements.Add(e);
            }
            SC.Add(s);
        }
        return SC;
    }

    SeriesCollection getLiveData()
    {
        DataEngine de = new DataEngine("ConnectionString goes here");
        de.SqlStatement = "SELECT XAxisColumn, YAxisColumn FROM ....";
        return de.GetSeries();
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.netCHARTING Sample</title>
</head>
<body>
    <div align="center">
        <dotnet:Chart ID="Chart" runat="server" />
    </div>
</body>
</html>
