<%@ Page Language="C#" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING" %>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>

<script runat="server">

    void Page_Load(Object sender, EventArgs e)
    {
        // This sample demonstrates the five color palettes.

        Chart.TempDirectory = "temp";
        Chart.Debug = true;
        Chart.Palette = new Color[] { Color.FromArgb(49, 255, 49), Color.FromArgb(255, 255, 0), Color.FromArgb(255, 99, 49), Color.FromArgb(0, 156, 255) };
        Chart.Mentor = false;
        Chart.Type = ChartType.Pies;
        Chart.Size = "1450x2050";
        Chart.LegendBox.Visible = false;
        Chart.ChartArea.ClearColors();
        Chart.ChartArea.Line.Color = Color.Black;

        Chart.XAxis.Scale = Scale.FullStacked;
        Chart.YAxis.SpacingPercentage = 60;

        // *DYNAMIC DATA NOTE* 
        // This sample uses random data to populate the chart. To populate 
        // a chart with database data see the following resources:
        // - Help File > Getting Started > Data Tutorials
        // - DataEngine Class in the help file	
        // - Sample: features/DataEngine.aspx

        SeriesCollection mySC = getRandomData();

        // Add the random data.
        Chart.SeriesCollection.Add(mySC);

        for (int i = 0; i < 46; i++)
        {
            Chart.PaletteName = (Palette)i + 20;
            mySC[i][0].Color = Chart.Palette[0];
            mySC[i].Name = Chart.PaletteName.ToString();
            mySC[i][1].Color = Chart.Palette[1];
            mySC[i][2].Color = Chart.Palette[2];
            mySC[i][3].Color = Chart.Palette[3];
            mySC[i][4].Color = Chart.Palette[4];
        }
    }

    SeriesCollection getRandomData()
    {
        Random myR = new Random(1);
        SeriesCollection SC = new SeriesCollection();
        int a = 0;
        int b = 0;
        for (a = 1; a < 47; a++)
        {
            Series s = new Series("Series " + a.ToString());
            for (b = 1; b < 6; b++)
            {
                Element e = new Element("Element " + b.ToString());
                e.YValue = 5;
                s.Elements.Add(e);
            }
            SC.Add(s);
        }
        return SC;
    }

    SeriesCollection getLiveData()
    {
        DataEngine de = new DataEngine("ConnectionString goes here");
        de.SqlStatement = "SELECT XAxisColumn, YAxisColumn FROM ....";
        return de.GetSeries();
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.netCHARTING Sample</title>
</head>
<body>
    <div align="center">
        <dotnet:Chart ID="Chart" runat="server" />
    </div>
</body>
</html>
