<%@ Page Language="C#" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>
<script runat="server">

void Page_Load(Object sender,EventArgs e)
{
	// This sample demonstrates limiting the number of breaks the smart scale break feature creates.
	// Fullscreen

	SetChart(Chart);
	SetChart(Chart1);
	Chart1.YAxis.SmartScaleBreakLimit = 1;
	Chart1.Title = "Smart scale breaks limited to only one.";
        
}

void SetChart(Chart c)
{
	c.TempDirectory = "temp";
	c.Debug = true;
	c.Palette = new Color[]{Color.FromArgb(49,255,49),Color.FromArgb(255,255,0),Color.FromArgb(255,99,49),Color.FromArgb(0,156,255)};
	
	c.Type = ChartType.Combo;
	c.Size = "600x350";
	c.Title = ".netCHARTING Sample";
	
	
	// *DYNAMIC DATA NOTE* 
	// This sample uses random data to populate the chart. To populate 
	// a chart with database data see the following resources:
	// - Help File > Getting Started > Data Tutorials
	// - DataEngine Class in the help file	
	// - Sample: features/DataEngine.aspx
	
	SeriesCollection mySC = getRandomData();
	c.YAxis.SmartScaleBreak = true;

	// Add the random data.
	c.SeriesCollection.Add(mySC);
	mySC[0][0].YValue = 200;
	mySC[0][1].YValue = 400;
	mySC[0][2].YValue = 600;
}

SeriesCollection getRandomData()
{
	Random myR = new Random(1);
	SeriesCollection SC = new SeriesCollection();
	for(int a = 1; a < 5; a++)
	{
		Series s = new Series("Series " + a.ToString());
		for(int b = 1; b < 5; b++)
		{
			Element e = new Element("Element " + b.ToString());
			e.YValue = myR.Next(50);
			s.Elements.Add(e);
		}
		SC.Add(s);
	}
	return SC;
}

</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>.netCHARTING Sample</title></head>
	<body>
		<div align="center">
			<dotnet:Chart id="Chart" runat="server"/>
			<dotnet:Chart id="Chart1" runat="server"/>
		</div>
	</body>
</html>
