<%@ Page Language="C#" %>
<%@ Register tagprefix="dotnet" Tagname="Chart" Src="UserControl.ascx" %>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.dotnetCHARTING User Control -</title>
</head>
<body>
<form action="usercontrol.aspx" runat="server">
<dotnet:Chart runat="server"/>
</form>
</body>
</html>