﻿<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="calendar.aspx.cs" Inherits="manager_scheduler_default2" Title="Untitled Page" %>
<%@ Register TagPrefix="osd" Namespace="OboutInc.Scheduler" Assembly="obout_Scheduler_NET"%>


  
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
<h3><asp:Label ID="Label1" runat="server" 
            Text="<%$ Resources:Resource, lbl_u_events_calendar%>" 
            style="font-size: medium; font-weight: 700"></asp:Label></h3>
            <osd:Scheduler runat="server" ID="schedule" StyleFolder="styles/default" 
            Width="80%" Height="400" 
            ProviderName = "System.Data.SqlClient"
             ConnectionString="server=mssql303.ixwebhosting.com;database=sinfoca_tiger;uid=sinfoca_tiger;password=4321tigre"
               
             EventsTableName="SchedulerEvents"
                UserSettingsTableName="SchedulerUserSettings"
                CategoriesTableName="SchedulerCategories"
                 
                 >
            
            </osd:Scheduler>

</asp:Content>            
