﻿<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="default2.aspx.cs" Inherits="manager_scheduler_default2" Title="Untitled Page" %>
<%@ Register Assembly="obout_Scheduler_NET" Namespace="OboutInc.Scheduler" TagPrefix="osd" %>


  
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
   

            <br /><br />
            <osd:Scheduler runat="server"  ID="schedule" StyleFolder="styles/default/"  
            Width="80%" Height="400" 
            ProviderName = "System.Data.SqlClient"
             ConnectionString="server=mssql303.ixwebhosting.com;database=sinfoca_tiger;uid=sinfoca_tiger;password=Tigre1234"
                
             EventsTableName="SchedulerEvents"
                UserSettingsTableName="SchedulerUserSettings"
                CategoriesTableName="SchedulerCategories">
            
            </osd:Scheduler>
            
            
           

</asp:Content>            

