﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="manager_Scheduler_Default3" %>
<%@ Register Assembly="obout_Scheduler_NET" Namespace="OboutInc.Scheduler" TagPrefix="osd" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
    
      function pageLoad() {
      }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        
          <osd:Scheduler runat="server"  ID="schedule" StyleFolder="styles/default/"  
            Width="80%" Height="400" 
            ProviderName = "System.Data.SqlClient"
             ConnectionString="server=mssql303.ixwebhosting.com;database=sinfoca_tiger;uid=sinfoca_tiger;password=4321tigre"
                
             EventsTableName="SchedulerEvents"
                UserSettingsTableName="SchedulerUserSettings"
                CategoriesTableName="SchedulerCategories"
                 
                 
                 >
            
            </osd:Scheduler>
    </div>
    </form>
</body>
</html>
