﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_wpm_view.ascx.cs" Inherits="uc_dash_wpm_uc_wpm_view" %>

  <asp:Label CssClass="lead" ID="lit_cities_in" Text="<%$ Resources:Resource,lbl_manager%>" runat="server" />
                
   <br />
<table class="auto-style2 wpm_update">
    <tr>
        <td valign="top">
       
            
  <dl class="dl-horizontal" runat="server" id="dl1" >

      <dt>  <%= Resources.Resource.lbl_societe %></dt>
      <dd>  <asp:Label ID="lbl_societe" runat="server" CssClass="input-medium" /></dd>

      <dt>  <%= Resources.Resource.global_lb_fname%></dt>
      <dd> <asp:Label ID="user_fname" runat="server" CssClass="input-medium" />
     
      </dd>


      <dt>  <%= Resources.Resource.global_lb_lname%></dt>
      <dd>  <asp:Label ID="user_lname" runat="server" CssClass="input-medium" />
      </dd>
      <dt><%= Resources.Resource.lbl_gl_language%></dt>
      <dd> <asp:DropDownList ID="ddl_lang" Visible="false"  runat="server"></asp:DropDownList>
           <asp:Label ID="lbl_lang" runat="server" Text="Label"></asp:Label>
      </dd>

      <dt><%= Resources.Resource.cl_mobile%></dt>
      <dd> <asp:Label ID="user_phone" CssClass="input-large" runat="server" /></dd>
   
      <dt><%= Resources.Resource.global_lb_email%></dt>
      <dd>  <asp:Label ID="user_email" CssClass="input-large" runat="server" /></dd>

      <dt></dt>
      <dd>      
      </dd>
 </dl>
   
       
        </td>
        <td valign="top">
               <br />
         <div ID="div_site3" runat="server"  style="padding:5px 5px 10px 5px;margin-left:10px;">
             <asp:Panel ID="panel_photo"  runat="server">
            <asp:Image ID="img_logo" Width="60px" Height="60px" runat="server" />
            <br /><br />
               
          <br /></asp:Panel><br />

      </div>
            
            </td>
    </tr>
</table>
   
 <asp:HyperLink ID="link_add_location" Font-Bold="true"  runat="server"></asp:HyperLink><i class="icon-plus"></i>
       


    <asp:Label ID="Label1" runat="server" Text=""></asp:Label>

