



td.a01
{
	font:13;
	 font-family:Arial;
	 text-align:right;
	 nowrape:true;
}


td.a01_text
{
	font:13;
	font-family:Arial;
	text-align: left;
	border-right-width: 1;
	border-bottom: 1px dotted #C0C0C0;
	height:17; 
	width:92%;
	
	
}
.hintable {
	background-color: #FFFF52;
	border-bottom-color : #FFCF00;
	border-bottom-style : groove;
	border-bottom-width : 1px;
	padding-bottom: -1px;
	color: green;
	cursor: help;
	padding-left: 2px;
	padding-right: 2px;
}
.helper {
	font-size: 11px;
	background-color: #FEFDEE;
}

span.title {
	color: whitesmoke;
	font-weight: bold;
	font-size: 11px;
	font-family: verdana;
	cursor: pointer;
}
H1 {
	color: #BFD9F2;
	font-family: tahoma, arial, helvetica;
	font-weight: bold;	
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}
H2 {
	color: #3171D6;
	font-family: tahoma, arial, helvetica;
	font-weight: bold;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

body {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 11px;
	margin : 1px 1px 1px 1px;
}
select, table {
	font-size: 11px;
	font-weight: normal;
}
select {
	font-family: verdana;
}

button, .button {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #636163;
	border: 1px solid;
	border-color : #FFFFFF #C6C7C6 #C6C7C6 #FFFFFF;
	background-color : #E7E7E7;
	padding: 2 2 2 2;
	margin: 0 0 0 0;
	cursor: hand;
	width: 100%;
	vertical-align: middle;
}
input.text, input.text#grayed, textarea {
	font-family: verdana;
	font-size: 11px;
	padding-left: 4px;
	background-color : white;
	border: 1px solid #C6C7C6;
}

input.text.control {
	font-family: verdana;
	font-size: 11px;
	padding-left: 4px;
	background-color : #FFFBF7;
	border: 1px solid #ADAA9C;
	width: 100%;
}

td.cellCaption {
	color: MenuText;
	background-color: #EFEBDE;
	padding : 1px 3px 1px 2px;
	border-top : 1px solid #F8F5EF;
	border-left : 1px solid #F8F5EF;
	border-bottom : 1px solid #ADAA9C;
	border-right : 1px solid #ADAA9C;
}

