﻿body {
}



.sortalternatingrowstyle{
    background-color:#e5e5e5
}
.sortrowstyle{
    background-color:#f0f0f0
}
.sortascheaderstyle{
    background:#c5c5c5 url(Img/sort_asc.gif) no-repeat scroll right center;
    padding-left:5px;
}
.sortdescheaderstyle{
    background:#c5c5c5 url(Img/sort_desc.gif) no-repeat scroll right center;
    padding-left:5px;
}   
.pagerstyle{
    color:#444444;
    background-color:#e5e5e5;
    font-size:x-small;
    text-align:right;
} 
.pagerstyle select{
    font-size:x-small;
}  
.previous{
    background:transparent url(Img/previous.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}
.next{
    background:transparent url(Img/next.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}  
.gotopage{
    font-size:x-small;
    width:20px;
}