<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_forget_pwd.ascx.cs" Inherits="uc_uc_forget_pwd" %>
<asp:TextBox id="email" cssClass="letter" runat="server" />
    <asp:Button ID="submit" Text="Submit" cssClass="letter" runat="server" OnClick="Button1_Click"></asp:Button>
