<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_login.ascx.cs" Inherits="uc_uc_login" %>
 <div style="text-align:right;margin:20px;background:#f1f1f1;border:1px solid #f7f7f7;padding:5px;">
  
    <asp:Label ID="lbl_user" runat="server" 
    
        Text="<%$ Resources:Resource, lbl_user %>"/>&nbsp;&nbsp;
        <asp:TextBox  MaxLength="50" Width="100" text="steve@tiger.com" ID="txt_user_name" runat="server" />
         
 <br /><asp:RequiredFieldValidator runat="server" Display="dynamic" ID="sa" ControlToValidate="txt_user_name" Text="<%$ Resources:resource, iv_required %>" />
        <br />  <asp:Label ID="lbl_password" runat="server" 
        Text="<%$ Resources:Resource, lbl_password %>" />&nbsp;&nbsp;<asp:TextBox TextMode="Password"  MaxLength="25" Width="100" ID="txt_user_pwd" runat="server" />
        <br />
        <asp:RequiredFieldValidator runat="server" Display="dynamic" ID="RequiredFieldValidator1" ControlToValidate="txt_user_pwd" Text="<%$ Resources:resource, iv_required %>" />
         <br />
        <asp:button  ID="btnSend" Text="Send" runat="server" OnClick="btnSend_Click" />
        <br /> <asp:Label ID="lbl_success" runat="server" /> 

<br /><br />
<asp:HyperLink ID="dsa" runat="server" NavigateUrl="/forgot_password.aspx" Text="<%$ Resources:Resource,lbl_forget_password %>"/>
<br /><asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="/create_account_30.aspx" Text="<%$ Resources:Resource, lbl_create_account %>"/>

 <br /> <asp:Label ID="status" runat="server"  /> 
</div>