<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_menu.ascx.cs" Inherits="uc_uc_menu" %>
<img src="../logo.gif" />&nbsp;&nbsp;
<a href="/login.aspx" class="top_menu_link">Login</a>&nbsp;&nbsp;

<asp:HyperLink ID="sd" runat="server" Text="<%$ Resources:Resource, lbl_create_account %>" NavigateUrl="~/create_account.aspx" />
&nbsp;&nbsp;                 <asp:HyperLink ID="HyperLink1" runat="server" 
                     NavigateUrl="http://forums.sinfocatiger.com/default2.aspx">Francais</asp:HyperLink>
&nbsp;&nbsp;
                 <asp:HyperLink ID="English" runat="server" 
                     NavigateUrl="http://forums.sinfocatiger.com/default.aspx">English</asp:HyperLink>
               
         <hr align="left" width="100%" color="#0000FF" noshade /> 
            

