﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mp_main.master" AutoEventWireup="true" CodeFile="portfolio.aspx.cs" Inherits="c_manager_portfolio_portfolio" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <br /><br />
    <asp:Panel  ID="panel_portfolio"  runat="server" />
</asp:Content>

