<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="home_view_photo.aspx.cs" Inherits="home_home_view_photo" Title="home view" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <table><tr><td></td></tr>
        <tr><td><br /><br />
<table> 
<tr><td><asp:Label ID="var" runat="server" /><asp:DropDownList ID="ddl_home" DataValueField="home_id" DataTextField="home_name" autopostback="true" runat="server" OnSelectedIndexChanged="ddl_home_SelectedIndexChanged" /></td></tr>
<tr><td><!--<asp:datagrid id="dg_home_view" runat="server" />--></td></tr>
 
<tr><td>
<div id="txt" runat="server" />
</td></tr>
    <tr><td></td></tr></table>  
</td>
   </tr></table>
</asp:Content>