<%@ Page Language="C#" MasterPageFile="~/manager/mp_manager.master" AutoEventWireup="true" CodeFile="home_profiless.aspx.cs" Inherits="manager_home_home_profile" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

property info
<br />
owner information
<br />
property manager
<br />
Comments
<br />
documents

</asp:Content>

