<%@ Page Language="C#" AutoEventWireup="true" CodeFile="name_view.aspx.cs" Inherits="home_name_view" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>Tiger</title> 
<link href="../css/swse.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../i/tiger.ico"/>
<script type="text/javascript" src="../js/coolmenu.js"></script>
<script type="text/javascript" src="../js/menu_items.js"></script>  
 
</head>
<body>
<script type="text/javascript">
    var lmenu = new COOLjsMenu("leftMenu", MENU_ITEMS, null);
    </script>
    <form id="form1" runat="server">
    <table><tr><td>
    <table>
    <tr>
    <!--Left side-->
    <td>
    <div id="txt_lside" runat="server" />
    </td>
      <!--Left side-->  
     

    <!--right side-->
    <td valign="top">
        <!--Manager-->
         <div id="txt_manager" runat="server" />
        <!--Manager-->
        <!--Owner-->
<div id="txt_owner" runat="server" />
         <!--Owner-->
        <!--Janitor-->
<div id="txt_janitor" runat="server" />
        <!--Janitor-->
        <!--Tenant-->
       <div id="txt_tenant" runat="server" />
 <br />
        <!--Tenant-->
   
    
    </td>
    <!--right side-->
    </tr></table>
    
    
    </td></tr></table></form>
</body>
</html>
