BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: .9 em;
	LINE-HEIGHT: 110%;
	color : #35354D;
}

A:link {
	COLOR: #232377;
}

A:unknown {
	COLOR: #232377;
}

A:hover {
	COLOR: #6464FE;
	text-decoration:none;
}

A:visited{
	COLOR: #232377;
}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
	font-size:14px;
	font-weight:bold;
    margin-bottom:8px;
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H6 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

.gridHeader th {
         overflow: hidden;
         background-image: url(images/grid_bg.png); 
        /* background-color :white; */
         font-family: Tahoma;
         font-size: 12px;
         font-weight: bold;	
         color :#585880 ;
         vertical-align : middle ;	
         text-align :   left;			
         border: 0px solid #6aa4d4;
         cursor: pointer;	
         height: 30px;
         /*border-bottom-width : 1px;*/
         padding-left:5px;
           
         

}


.gridRow ,.gridAlternateRow {
         font-family: Tahoma;
         font-size: 10pt;  
}

.gridRow {

       /*  background-image: url(images/row1.gif); */
         background-color: white;
               
 }
 

   
.gridAlternateRow {
   background-color: #f9f9f9;         /*url(images/row2.gif); */
 }


table.gridRow td  {        
    color:#222;
	text-align:left;
	padding:2px 0px;
	 
	/*border-right:solid 1px #d9d9d9;*/
                 
 }




table.gridAlternateRow td {
         padding:2px 0px;
}

.gridFooter {
 
         background-image: url(images/footer.gif); 
         color : White;
         text-align:left;
        
}


.theme_header {
  /*	background-image :url( images/title-bg.gif );  */
}

.theme_footer {
	 /* background-image :url( images/smokeandglass_fadeblue.gif ); */
}


.theme_textbox  {
border:2px solid #ccc;
padding-top:2px;

}

.theme_textbox :focus {
outline:solid 3px #9DE2F6;
}


.theme_highlighted {
	/*background-image :url( images/smokeandglass_blueandwhitef.gif );*/
}

.theme_fadeblue {
	/*background-image :url( images/smokeandglass_fadeblue.gif );*/
}








 p, h1, form, button{border:0; margin:0; padding:0;}
        .spacer{clear:both; height:1px;}
        /* ----------- My Form ----------- */
        .myform{
        margin:0 auto;
        width:370px;
        padding:14px;
        }
        
        .myform400{
        margin:0 auto;
        width:400px;
        padding:14px;
        }
        
        .myform700{
        margin:0 auto;
        width:700px;
        padding:14px;
        }


       .myform600{
        margin:0 auto;
        width:600px;
        padding:14px;
        }
        /* ----------- stylized ----------- */
        #stylized{
        border:solid 2px #b7ddf2;
        background:#fff;
        }
        #stylized h1 {
        font-size:14px;
        font-weight:bold;
        margin-bottom:8px;
        }
        #stylized p{
        font-size:11px;
        color:#666666;
        margin-bottom:20px;
        border-bottom:solid 1px #b7ddf2;
        padding-bottom:10px;
        }
        #stylized label{
        display:block;
        font-weight:bold;
        text-align:right;
        width:140px;
        float:left;
        }
        #stylized .small{
        color:#666666;
        display:block;
        font-size:11px;
        font-weight:normal;
        text-align:right;
        width:140px;
        }
        #stylized input{
        float:left;
        font-size:12px;
        padding:4px 2px;
        border:solid 1px #aacfe4;
        width:200px;
        margin:2px 0 20px 10px;
        }
        #stylized button{
        clear:both;
        margin-left:150px;
        width:125px;
        height:31px;
        background:#666666 url(img/button.png) no-repeat;
        text-align:center;
        line-height:31px;
        color:#FFFFFF;
        font-size:11px;
        font-weight:bold;
        }
    
    .bold
    {
    color:black;
    font-weight:bolder;    
    }