	.ob_gMCont /*.ob_gridMainContainer*/
	{
		border: 3px solid #6aa4d4;
		border-top: 1px solid #6aa4d4;
		overflow: hidden;
	}
	.ob_gDGMCont /*.ob_gridDetailGridMainContainer*/
	{
		border: 3px solid #6aa4d4;
		border-top: 1px solid #6aa4d4;
		overflow: hidden;
	}
	.ob_gMContC	
	{		
	}
	
	
					
	/* Styles for the Header */
	.ob_gHCont /*.ob_gridHeaderContainer*/
	{
		overflow: hidden;
        background-image: url(header.gif); 	
       
	}


    .gv_gHCont 
	{
		overflow: hidden;
                background-image: url(header.gif); 
		font-family: Arial;
                font-size: 12;
                font-weight: bold;
                color: #306f90;
                text-align: left;
                height: 30px;
	}
	
	.ob_gH /*.ob_gridHeader*/
	{							
		padding: 0px;
		empty-cells:show;		
	}	
	.ob_gH td /*.ob_gridHeader td*/
	{
		border-left: 1px solid #91a9c3;
		padding-right: 0px;
		border-bottom: 1px solid #91a9c3;
	}	
	.ob_gH td table td /*.ob_gridHeader td table td*/
	{											
		border-right: 0px;
		border-bottom: 0px;
		border-left: 0px;
		border-top: 0px;
	}				
	.ob_gCH /*.ob_gridColumnHeader*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #306f90;
		text-align: left;				
		border:0px solid #FFFFFF;		
		cursor: pointer;
		padding-left: 0px;		
		height: 30px;
	}
	.ob_gHA /*.ob_gridHeaderArrow*/
	{		
		border:0px;
		cursor: pointer;
		text-align: right;
		width: 100%;
		vertical-align: middle;		
	}	
	.ob_gHA img /*.ob_gridHeaderArrow img*/
	{
		margin-right: 8px;
		width: 26px;
		height: 18px;		
	}	
	.ob_gRB /*.ob_gridResizeButton*/
	{
		font-size: 3px;		
		width: 3px;			
		padding:0px;
		border: 0px;
		margin-left: 0px;
		margin-right: 0px;		
	}
	.ob_gRT /*.ob_gridResizeTooltip*/
	{
		cursor: default;		
		margin: 0px;
		padding: 1px;
		border: 1px solid #000000;
		font-family: Verdana;
		font-size: 10px;
		color: #000000;	
		height: 12px;
		margin-top: 30px;		
		vertical-align: middle;
		background-color: #F5F5DC;
	}
	.ob_gRT span /*.ob_gridResizeTooltip span*/
	{
		padding-left: 3px;
	}
	.ob_gBH /*.ob_gridBodyHeader*/
	{	
		height: 8px;		
		background-color: #5299C0;
		background-image: none;		
		display: none;
	}
	.ob_gBH td /*.ob_gridBodyHeader td*/
	{		
		padding: 0px;
		margin: 0px;
		width: 100%;
		font-size: 1px;
		border-top: 3px solid #195A7E;
		border-bottom: 3px solid #195A7E;
		background-image: none;		
		height: 2px;	
	}
	.ob_gBH div /*.ob_gridBodyHeader div*/
	{
		height: 2px;		
	}
	.ob_gDSC /*.ob_gridDummyScrollingColumn*/
	{
		background-image: url(header_placeholder.gif);
	}
	.ob_gDSC div
	{
		font-size: 1px;
		width: 0px;
	}
	.ob_gGA /*.ob_gridGroupingArea*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: left;				
		border:0px solid #FFFFFF;
		padding-left: 20px;
		background-image: url(record_group_header.gif);		
		height: 30px;		
	}
	.ob_gGADC /*.ob_gridGroupingAreaDefaultColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: left;
		border:0px solid #FFFFFF;		
	}
	.ob_gGDC /*.ob_gridGroupDraggingColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #5C6455;
		text-align: left;				
		border: 1px solid #5C6455;
		padding-left: 20px;
		background-image: url(header.gif);		
		vertical-align: middle;
		height: 24px;		
	}
	.ob_gGAC /*.ob_gridGroupingAreaColumn*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: center;				
		border: 1px solid #23477b;		
		background-image: none;
		vertical-align: middle;
		background-image: url(grouping_area_column.gif);
		height: 16px;
		padding-top: 4px;
		padding-bottom: 0px;
		padding-left: 10px;
		padding-right: 10px;
		float:left;
		cursor: move;
	}
	.ob_gGACS /*.ob_gridGroupingAreaColumnSpacer*/
	{
		width: 15px;
		height: 1px;
		border-top: 1px solid #FFFFFF;
		font-size: 1px;		
	}
	.ob_gGATA /*.ob_gridGroupingAreaTopArrow*/
	{
		background-image: url(group_arrow_top.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gGABA /*.ob_gridGroupingAreaBottomArrow*/
	{
		background-image: url(group_arrow_bottom.gif);
		width: 9px;
		height: 9px;
		font-size: 1px;
		padding: 0px;
	}
	.ob_gHCHWG /*ob_gridHeaderColumnHighlightedWhenGrouping*/
	{
		background-image: none;
		background-color: #333333;		
	}
	.ob_gGACHWD /*ob_gridGroupingAreaColumnHighlightedWhenDragging*/
	{
		font-family: Tahoma;
		font-size: 10px;
		font-weight: bold;		
		color: #FFFFFF;
		text-align: center;				
		border: 1px solid #FFFFFF;		
		background-image: none;
		vertical-align: middle;
		background-color: #333333;
		height: 12px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		float:left;
		cursor: move;
	}	
	
			
	
	
		
	/* Styles for the Body */
	.ob_gBCont
	{
		overflow: auto;
		overflow-x: hidden;
	}
	.ob_gBody
	{
		empty-cells: show;
		overflow: hidden;
	}
	.ob_gRGH /*.ob_gridRecordGroupHeader*/
	{
		background-image: url(record_group_header.gif);
		height: 26px;
	}
	.ob_gRGHC /*.ob_gridRecordGroupHeaderCell*/
	{					
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 0px solid #7BB8D9;
		border-top: 0px solid #7BB8D9;
		border-bottom: 0px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Verdana;
		font-size: 10px;
		color: #FFFFFF;	
		height: 24px;	
		vertical-align: middle;
		font-weight: bold;
		cursor: pointer;
	}
	.ob_gRGHB /*.ob_gridRecordGroupButton*/
	{	
		padding-left: 3px;
		padding-right: 3px;	
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}	
	.ob_gRGHB img /*.ob_gridRecordGroupButton img*/
	{
		cursor: pointer;
		vertical-align: middle;
	}
	.ob_gRGBS /*.ob_gridRecordGroupButtonSpacer*/
	{
		width: 17px;
		font-size: 1px;
		float: left;
	}
	.ob_gRGF /*.ob_gridRecordGroupFooter*/
	{
		background-color: #d4dbed;
	}
	.ob_gR /*.ob_gridRecord*/
	{
		background-image: url(row1.gif);				
	}	
	.ob_gRA /*.ob_gridRecordAlternate*/
	{
	/*	background-image: url(row2.gif);  */
                background-color: white;
	}
	.ob_gRS /*.ob_gridRecordSelected*/
	{
		background-color: #d4dbed;		
	}
	.ob_gRH /*.ob_gridRecordHover*/
	{
		background-color: #64a5db;		
	}	
	.ob_gCP /*.ob_gridCellPadding*/
	{
		width: 10px;
		float:left;		
		font-family: Verdana;
		font-size: 10px;
	}
	.ob_gC /*.ob_gridCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #d3dce5;
		border-top: 1px solid #d3dce5;
		border-bottom: 0px solid #d3dce5;
		border-right: 1px solid #d3dce5;
		font-family: Verdana;
		font-size: 12px;
		color: #445c76;	
	 	height: 21px;	
		vertical-align: middle;		
	}
	.ob_gC2 /*.ob_gridCell2*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 0px solid #d3dce5;
		border-top: 1px solid #d3dce5;
		border-bottom: 0px solid #d3dce5;
		border-right: 0px solid #d3dce5;
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;	
		height: 21px;	
		vertical-align: middle;		
	}
	.ob_gIE /*.ob_gridInvisibleElement*/
	{
		display: none;
	}
	.ob_gRC /*.ob_gridResizableContent*/
	{
		overflow: hidden;		
		white-space: nowrap;		
		padding-left: 5px;
	}
	.ob_gRCW /*.ob_gridResizableContentWithWrap*/
	{
		overflow: hidden;		
		white-space: normal;			
		padding-left: 5px;		
	}
	.ob_gRCFFC /*.ob_gridResizableContentForFirstColumn*/
	{
		overflow: hidden;
		white-space: nowrap;
		padding-left: 0px;
	}
	.ob_gRCP /*.ob_gridResizableContentPadding*/
	{
		overflow: hidden;		
		white-space: nowrap;
		padding-left: 20px;
	}
	.ob_gSA /*.ob_gridSelectionArea*/
	{
		background-color: #d4dbed;
		border: 1px solid #445c76;
		font-size: 1px;
		z-index: 0;
		/*filter : "progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)";
		filter : "Alpha(Opacity='0')";*/
	}
	a.ob_gAL /*a.ob_gridActionLink*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;
		font-weight: bold;
		text-decoration:none;
	}
	a.ob_gAL:hover /*a.ob_gridActionLink:hover*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;
		font-weight: bold;				
		text-decoration:underline;		
	}		
	.ob_gL /*.ob_gridLoading*/
	{		
		padding: 3px; 		
		font-family: Verdana;
		font-size: 10px;
		color:#445c76;
		border: 0px;
		background-color: #d4dbed;
	}	
	.ob_gNRM /*.ob_gridNoRecordsMessage*/
	{
		padding: 3px; 		
		font-family: Verdana;
		font-size: 10px;
		color:#445c76;
		border: 0px;
		background-color: #d4dbed;
	}	
	.ob_gEC /*.ob_gridEditControl*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;			
		background-color: #e4ebf1;
		width: 96%;		
		border: 1px solid #445c76;
	}	
	.ob_gRL /*.ob_gridResizeLines*/
	{
		background-color: #7BB8D9;
		width: 1px;
	}	
	.ob_gD /*.ob_gridData*/
	{
		display: none;
	}
	.ob_gRETpl /*.ob_gridRowEditTemplate*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;
		padding: 15px;
		border-top: 1px solid #d3dce5;
	}
	.ob_gCTA /*.ob_gridCellTemporaryAdded*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #7BB8D9;
		border-top: 1px solid #7BB8D9;
		border-bottom: 1px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Verdana;
		font-size: 10px;
		color: #00FF00;	
		height: 24px;	
		vertical-align: middle;
	}
	.ob_gCTE /*.ob_gridCellTemporaryEdited*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #7BB8D9;
		border-top: 1px solid #7BB8D9;
		border-bottom: 1px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Verdana;
		font-size: 10px;
		color: #00FF00;	
		height: 24px;	
		vertical-align: middle;
		
	}
	.ob_gCTD /*.ob_gridCellTemporaryDeleted*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 1px solid #7BB8D9;
		border-top: 1px solid #7BB8D9;
		border-bottom: 1px solid #4783A7;
		border-right: 0px solid #7BB8D9;
		font-family: Verdana;
		font-size: 10px;
		color: #FF0000;	
		height: 24px;	
		vertical-align: middle;
		
		text-decoration: line-through;
	}
	.ob_gDGC /*.ob_gridDetailsGridContainer*/
	{
		background-color: #acc6e7;
	}	
	.ob_gDGLS /*.ob_gridDetailsGridLeftSpacer*/
	{		
		width: 0px;
	}	
	.ob_gDGLS div /*.ob_gridDetailsGridLeftSpacer div*/
	{		
	}
	.ob_gDGECC /*.ob_gridDetailsGridExpanderContainingCell*/
	{
		cursor: default;
		margin: 0px;
		padding-right: 0px;		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-left: 0px solid #d3dce5;
		border-top: 1px solid #d3dce5;
		border-bottom: 0px solid #d3dce5;
		border-right: 0px solid #d3dce5;
		font-family: Verdana;
		font-size: 10px;
		color: #FFFFFF;	
		height: 24px;	
		vertical-align: middle;
	}
	.ob_gDGEC /*.ob_gridDetailsGridExpanderContainer*/
	{
		width: 15px;
		cursor: pointer;
	}
	.ob_gDGCCT
	{
		border: 0px solid #FFFFFF;
		margin-left: 20px;
	}
		
	
	
	
		
	/* Styles for the Footer */
	.ob_gF /*.ob_gridFooter*/
	{
		
	}	
	.ob_gFContent /*.ob_gridFooterContent*/
	{
		background-image: url(footer.gif);
		padding: 1px;
		padding-left: 20px;
	}
	.ob_gF td /*.ob_gridFooter td*/
	{
		cursor: default;
		padding-bottom: 0px;	
		font-family: Verdana;
		font-size: 10px;
		color: #FEFFFD;		
		height: 26px;
		border-top: 0px solid #B4C2AB;	
		padding-top: 0px;
		margin: 0px;
	}
	.ob_gFSR /*.ob_gridFooterScrollerRow*/
	{
		height: 20px;
	}
	.ob_gFSR td
	{
		height: 20px;
		padding: 0px;
	}
	.ob_gFSR td div
	{
		height: 20px;
	}
	.ob_gCFR /*.ob_gridColumnsFooterRow*/
	{
		background-color: #d4dbed;
	}
	.ob_gCFR td
	{
		color: #445c76;
	}
	.ob_gBF /*.ob_gridBodyFooter*/
	{	
		display: none;
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBF td /*.ob_gridBodyFooter td*/
	{		
		height: 0px;		
		font-size: 1px;
	}
	.ob_gBF div /*.ob_gridBodyFooter div*/
	{
		height: 0px;		
		font-size: 1px;
	}
	.ob_gF td table td /*.ob_gridFooter td table td*/
	{				
		vertical-align: middle;
		border-top: 0px;
		margin: 0px;
	}
	.ob_gPST /*.ob_gridPageSizeText*/
	{			
		/*width: 185px;
		text-align: right;*/
	}	
	.ob_gPSS /*.ob_gridPageSizeSelector*/
	{
		cursor: default;			
		font-family: Verdana;
		font-size: 10px;
		color:#FEFFFD;
		background-color: #539FDD;
		margin-left: 7px;
	}			
	a.ob_gALF /*a.ob_gridActionLinkFooter*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #FEFFFD;
		font-weight: bold;
		text-decoration:none;
	}
	a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
	{
		font-family: Verdana;
		font-size: 10px;
		color: #FEFFFD;
		font-weight: bold;				
		text-decoration: underline;		
	}
	.ob_gA_FS /*.ob_gridAdd_FilterSpacer*/
	{
		width: 30px;
		text-align: center;
	}
	.ob_gFRP /*ob_gridFooterRecordsPages*/
	{		
	}
	.ob_gNL /*.ob_gridNavigationLink*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#FEFFFD;
		font-weight: bold;
		text-decoration:underline;
		cursor: pointer;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNS /*.ob_gridNavigationSeparator*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#FEFFFD;
		font-weight: normal;
		text-decoration:none;
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNT /*.ob_gridNavigationText*/
	{
		font-family: Verdana;
		font-size: 10px;
		color:#FEFFFD;
		font-weight: normal;		
		cursor: default;
		padding-left: 2px;
		padding-right: 2px;
	}
	.ob_gNI /*.ob_gridNavigationImage*/
	{
		vertical-align: middle;
		padding: 2px;
		cursor: pointer;
	}
	.ob_gHFC /*.ob_gridHeaderFilterCell*/
	{
		background-color: #acc6e7;
		font-family: Verdana;
		font-size: 10px;
		margin: 0px;				
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: 0px solid #7BB8D9;
		border-left: 0px solid #7BB8D9;	
		color: #FFFFFF;	
		background-image: none;	
	}
	.ob_gHFC div
	{
		padding-right: 2px;
		padding-left: 1px;		
	}	
	.ob_gHFC div table td
	{		
	}
	.ob_gFCB /*.ob_gridFilterCriteriasButton*/
	{
		cursor: pointer;
		vertical-align: middle;
		width: 15px;		
	}
	.ob_gFCB img
	{
		cursor: pointer;
		margin-right: 0px;
	}
	.ob_gFCC /*.ob_gridFilterCriteriasContainer*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;
		background-color: #E5EDE0;
		width: 150px;
		border: 1px solid #5C6455;
		position: absolute;
		cursor: pointer;
		vertical-align: middle;
	}
	.ob_gFCC div
	{
		width: 150px;
	}
	.ob_gFC_N /*.ob_gridFilterCriteria_Normal*/
	{
		background-color: #f8f9fd;
	}
	.ob_gFC_H /*.ob_gridFilterCriteria_Highlighted*/
	{
		background-color: #d4dbed;
	}
	.ob_gFCT /*ob_gridFilterControlTextbox*/
	{
		padding: 0px;
		font-family: Verdana;
		font-size: 10px;
		color: #445c76;			
		background-color: #e4ebf1;
		width: 100%;
		border: 1px solid #445c76;
		height: 14px;
		margin: 0px;
		cursor: pointer;		
	}
	.ob_gFDiv
	{
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}
	.ob_gEwO /*.ob_gridElementWithOverflow*/
	{
		overflow: hidden;
	}
	.ob_gDFSC /*.ob_gridDummyFilterScrollingColumn*/
	{
		background-color: #acc6e7;
	}
	.ob_gDFSC div
	{
		font-size: 1px;
		width: 0px;
	}
	.ob_gTNOP /*.ob_gridTotalNumberOfPages*/
	{
		padding-left: 3px;
		padding-right: 3px;
	}
	.ob_gMPS /*.ob_gridManualPagingSection*/
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.ob_gMPS table td /*.ob_gridManualPagingSection table td*/
	{
		padding-left: 5px;
	}
	
	.ob_gMPS table td input /*.ob_gridManualPagingSection table td input*/
	{
		width: 20px;
	}
	
	.ob_gInvisibleElement
	{
		display: none;
	}