<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_system.ascx.cs" Inherits="uc_uc_dash_system" %>
  
<asp:Panel ID="panel_default" runat="server">
 <h1>System Customed Dashboard</h1>
</asp:Panel>
 
