<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_cs.ascx.cs" Inherits="uc_uc_dash_cs" %>
  
<asp:Panel ID="panel_default" runat="server">
 <h1>Customer Service Customed Dashboard</h1>
</asp:Panel>
 
