<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_exec.ascx.cs" Inherits="uc_uc_dash_default" %>
 
                   
<asp:Panel ID="panel_default" runat="server">
<!--<div class="form"><a href="#" class="tab">Shortcuts</a> <a href="#" class="tab">Summary</a>
<a href="#" class="tab">Report</a> <a href="#" class="tab">Booking</a>
<a href="#" class="tab">Billing</a>
<style>.y{float:left;width:500px;} 
    .yellow{background:yellow;}</style> 
 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

 
 <div style="float:left;width:100%;heigth:200px;"><h3 style="color:green;">Overall</h3> 
 
  <div style="float:left;width:50%;">
    <div id="chart_div9"></div> 
     </div>
     <div style="float:left;width:50%"> 
    <div id="chart_div2"></div> 
      </div>
     </div>
     
     <div style="float:left;width:100%;heigth:200px;"><h3 style="color:green;">Registration</h3>
 <div style="float:left;width:60%;">
    <div id="chart_div"></div>
     </div><div style="float:left;width:40%">lorem ipsum</div>
     </div>
     
     
     <div style="float:left;width:33%;">
    <div id="chart_div3"></div> 
     </div>
     <div style="float:left;width:33%;">
    <div id="chart_div5"></div> 
     </div>
     <div style="float:left;width:33%;">
    <div id="chart_div4"></div> 
     </div>
     
     <div style="float:left;width:33%;">
    <div id="chart_div6"></div> 
     </div>
     <div style="float:left;width:100%;">
    <div id="chart_div7"></div> 
     </div>
     <div style="float:left;width:100%;">
    <div id="chart_div8"></div> 
     </div>
      -->
      <asp:Label ID="main" runat="server" /> 

</asp:Panel>
 
