<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_activation.ascx.cs" Inherits="uc_uc_dash_activation" %>
  
<asp:Panel ID="panel_default" runat="server">
 <h1>Activation Customed Dashboard</h1>
 
 - nom prenom 
 - Disponibilite
 - Dossier crim.
 - exp. de travail (nom, responsable, email, tel)
 - Upload photo
 
    
  
 - Security check
 - 
 -  M21H code -
 -  3 first last 2prenom 1973
 
</asp:Panel>
 
