<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_booking.ascx.cs" Inherits="uc_uc_dash_booking" %>
  
<asp:Panel ID="panel_default" runat="server">
 <h1>Booking Customed Dashboard</h1>
</asp:Panel>
 
