﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_ro.ascx.cs" Inherits="uc_dash_uc_dash_ro" %>
<style type="text/css">
    .auto-style1 {
        font-family: Tahoma;
        font-size: x-large;
    }
</style>

<p class="auto-style1">
    &nbsp;</p>
<p class="auto-style1">
    ROOT ACCOUNT</p>

