<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_accounting.ascx.cs" Inherits="uc_uc_dash_accounting" %>
  
<asp:Panel ID="panel_default" runat="server">
 <h1>Accounting Customed Dashboard</h1>
</asp:Panel>
 
