<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_dash_wpm.ascx.cs" Inherits="uc_uc_dash_wpm" %>
<%@ Register Src="~/uc/dash/wpm/uc_wpm_view.ascx" TagPrefix="uc1" TagName="uc_wpm_view" %>
<%@ Register Src="~/uc/dash/wpm/uc_wpm_shifttocome.ascx" TagPrefix="uc1" TagName="uc_wpm_shifttocome" %>


<asp:Literal ID="message_wpm"  runat="server" />

                   
<asp:Panel ID="panel_default" runat="server">
<!--<div class="form"><a href="#" class="tab">Shortcuts</a> <a href="#" class="tab">Summary</a>
<a href="#" class="tab">Report</a> <a href="#" class="tab">Booking</a>
<a href="#" class="tab">Billing</a>
<style>.y{float:left;width:500px;} 
    .yellow{background:yellow;}</style> 
 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%=str %>
<%=str2 %>
<%=str3 %>
<%=str4 %>
<%=str5 %>
<%=str6 %>
<%=str7 %>
<%=str8 %>
<%=str9 %>


 <div style="float:left;width:100%;heigth:200px;"><h3 style="color:green;">Overall</h3> 
 
  <div style="float:left;width:50%;">
    <div id="chart_div9"></div> 
     </div>
     <div style="float:left;width:50%"> 
    <div id="chart_div2"></div> 
      </div>
     </div>
     
     <div style="float:left;width:100%;heigth:200px;"><h3 style="color:green;">Registration</h3>
 <div style="float:left;width:60%;">
    <div id="chart_div"></div>
     </div><div style="float:left;width:40%">lorem ipsum</div>
     </div>
     
     
     <div style="float:left;width:33%;">
    <div id="chart_div3"></div> 
     </div>
     <div style="float:left;width:33%;">
    <div id="chart_div5"></div> 
     </div>
     <div style="float:left;width:33%;">
    <div id="chart_div4"></div> 
     </div>
     
     <div style="float:left;width:33%;">
    <div id="chart_div6"></div> 
     </div>
     <div style="float:left;width:100%;">
    <div id="chart_div7"></div> 
     </div>
     <div style="float:left;width:100%;">
    <div id="chart_div8"></div> 
     </div>
      -->

 <uc1:uc_wpm_view runat="server" id="uc_wpm_view" />
  <asp:Label ID="main" Visible="false" runat="server" /> 
    <hr />
    <uc1:uc_wpm_shifttocome runat="server" ID="uc_wpm_shifttocome" />
</asp:Panel>
