<%@ Page Language="C#" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>

<script runat="server">

void Page_Load(Object sender,EventArgs e)
{

      // This sample demonstrates bubbles with ShadingEffectMode.Five

      Chart.Type = ChartType.Combo;//Horizontal;
      Chart.Size = "600x350";
      Chart.TempDirectory = "temp";
      Chart.Debug = true;
      Chart.Title = ".netCHARTING Gallery Sample";
      Chart.DefaultSeries.Type = SeriesType.Bubble;
      
      // Bubble using ShadingEffectMode.Four
      Chart.ShadingEffectMode = ShadingEffectMode.Five;
      

      // *DYNAMIC DATA NOTE* 
      // This sample uses random data to populate the chart. To populate 
      // a chart with database data see the following resources:
      // - Classic samples folder
      // - Help File > Data Tutorials
      // - Sample: features/DataEngine.aspx
      SeriesCollection mySC = getRandomData();

      // Add the random data.
      Chart.SeriesCollection.Add(mySC);
       
}

SeriesCollection getRandomData()
{
      SeriesCollection SC = new SeriesCollection();
      Random myR = new Random(1);
      for(int a = 1; a < 5; a++)
      {
            Series s = new Series();
            s.Name = "Series " + a.ToString();
            for(int b = 1; b < 5; b++)
            {
                  Element e = new Element();
                  
                  e.YValue = myR.Next(50);
                  e.BubbleSize = myR.Next(50);
                  e.XValue = myR.Next(50);
                  s.Elements.Add(e);
            }
            SC.Add(s);
      }

      // Set Different Colors for our Series
      SC[0].DefaultElement.Color = Color.FromArgb(49,255,49);
      SC[1].DefaultElement.Color = Color.FromArgb(255,255,0);
      SC[2].DefaultElement.Color = Color.FromArgb(255,99,49);
      SC[3].DefaultElement.Color = Color.FromArgb(0,156,255);

      return SC;
}
</script>



<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Gallery Sample</title></head>
<body>
<div style="text-align:center">
<dotnet:Chart id="Chart" runat="server"/>
</div>
</body>
</html>
