<%@ Page Language="vb" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<%@ Import Namespace="dotnetCHARTING.Mapping" %>
<script runat="server">

Sub Page_Load(ByVal sender As Object, ByVal e As EventArgs)
	' This sample demonstrates multiple bars gauges.
	Chart.TempDirectory = "temp"
	Chart.Debug = True
	Chart.Palette = New Color(){Color.FromArgb(49,255,49),Color.FromArgb(255,255,0),Color.FromArgb(255,99,49),Color.FromArgb(0,156,255)}

	Chart.LegendBox.Template = "%Icon%Value"


	' TitleBox Customization
	Chart.TitleBox.Position = TitleBoxPosition.FullWithLegend
	Chart.TitleBox.Background = New Background(Color.White,Color.LightGray,90)
	Chart.TitleBox.Label.OutlineColor = Color.LightGray
	Chart.TitleBox.CornerTopLeft = BoxCorner.Round


	Chart.Type = ChartType.Gauges
	Chart.Size = "600x350"
	Chart.Title = ".netCHARTING Sample"
	Chart.Use3D = True
	Chart.DefaultSeries.GaugeType = GaugeType.Bars
	Chart.ShadingEffectMode = ShadingEffectMode.Two

	Chart.DefaultSeries.Background.Color = Color.White
	Chart.DefaultElement.SmartLabel.Alignment = LabelAlignment.Center

	Chart.DefaultSeries.GaugeBorderBox.Padding = 5

	' *DYNAMIC DATA NOTE* 
	' This sample uses random data to populate the chart. To populate 
	' a chart with database data see the following resources:
	' - Help File > Getting Started > Data Tutorials
	' - DataEngine Class in the help file	
	' - Sample: features/DataEngine.aspx

	Dim mySC As SeriesCollection = getRandomData()

	' Add the random data.
	Chart.SeriesCollection.Add(mySC)


End Sub

Function getRandomData() As SeriesCollection
	Dim myR As Random = New Random()
	Dim SC As SeriesCollection = New SeriesCollection()
	Dim a As Integer
        Dim b As Integer
	For a = 1 To 4
		Dim s As Series = New Series("Series " & a.ToString())
		For b = 1 To 4
			Dim e As Element = New Element("Element " & b.ToString())
			e.YValue = myR.Next(50)
			s.Elements.Add(e)
		Next b
		SC.Add(s)
	Next a
	Return SC
End Function

</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>.netCHARTING Sample</title></head>
	<body>
		<div align="center">
			<dotnet:Chart id="Chart" runat="server"/>
		</div>
	</body>
</html>
