<%@ Page Language="C#" MasterPageFile="../mp_manager.master" MaintainScrollPositionOnPostback="true"  AutoEventWireup="true" CodeFile="lease_rent_update.aspx.cs" Inherits="home_lease_rent_update" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:HyperLink ID="main" runat="server" NavigateUrl="~/home/home_main.aspx">main</asp:HyperLink>
    <br /><br />
    <table>
    <asp:Panel ID="panel_add_home" runat="server" >
   <tr>
   <td>
   <strong><span style="font-size: 12pt">Property</span></strong> :
   <asp:DropDownList ID="ddl_home_id" DataValueField="home_id" DataTextField="home_name"   runat="server" autopostback="true" OnSelectedIndexChanged="ddl_home_id_SelectedIndexChanged" />
   </td>
   </tr>
   </asp:Panel>
   
    <tr><td><div id="txt_pending" runat=server></div></td></tr>
   
   
   
   <tr>
    <td>
          <asp:Repeater ID=r_pendingrentlist   runat=server>
        <ItemTemplate>
        <table bgcolor="#ffffcc" >
            <tr>
                <td>
                   <b>Pending rent date begin</b> </td>
                <td >
                    : 
                    <%#DataBinder.Eval(Container.DataItem, "rl_date_begin")%>
                    <input type="hidden" id="hd_pending_rl_date_begin" value =<%#DataBinder.Eval(Container.DataItem, "rl_date_begin")%> runat="server" />
                    
               </td>
            </tr>
         </table>
        </ItemTemplate>
        
    </asp:Repeater>
    </td>
   </tr>
   
   <asp:Panel ID="panel_add_unit"  runat="server" >
   <tr>
   <td>
   <strong><span style="font-size: 12pt">Unit</span></strong> &nbsp;&nbsp;&nbsp;&nbsp;:
   <asp:DropDownList ID="ddl_unit_id" DataValueField="unit_id" DataTextField="unit_door_no"   runat="server" OnSelectedIndexChanged="ddl_unit_id_SelectedIndexChanged" AutoPostBack="true" />
   <br /><br /><br />
   </td>
   </tr>
   </asp:Panel>
  </table>   


<asp:Panel ID=panel_rent_update  runat=server>


  
<asp:Panel ID="panel_current_tenant"  Visible="false" runat="server">   

<table>
<tr>
<td><div id="txt_current_tenant_name" runat="server" />
</td>
</tr>

</table>
<hr />
<table>
<tr>
<td>Current rent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label Width="40" ID="lbl_rent_amount" runat="server" />
</td>
</tr>
</table>

</asp:Panel>
 

<table>  
<tr>
<td>
Since &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
<asp:Label ID="lbl_current_rl_date_begin" runat=server></asp:Label>
</td>
</tr> 
   
 </table>
   
 <hr />
 
 
 <table>
 
 <tr>
 <td>
 New rent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
 
 <asp:TextBox Width="150px" ID="new_rl_rent_amount" runat="server" />
 </td>
 
 </tr>

 
 
   <tr>
   <td >Rent will be paid every&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
         <asp:DropDownList ID="ddl_rl_rent_paid_every" runat="server">
             <asp:ListItem Value="1">1st of Month</asp:ListItem>
             <asp:ListItem Value="2">2nd of Month</asp:ListItem>
             <asp:ListItem Value="3">3rd  of Month</asp:ListItem>
             <asp:ListItem Value="4">4th of Month</asp:ListItem>
             <asp:ListItem Value="5">5  of  Month</asp:ListItem>
             <asp:ListItem Value="6">6  of  Month</asp:ListItem>
             <asp:ListItem Value="7">7  of  Month</asp:ListItem>
             <asp:ListItem Value="8">8  of  Month</asp:ListItem>
             <asp:ListItem Value="9">9  of  Month</asp:ListItem>
             <asp:ListItem Value="10">10 of Month</asp:ListItem>
             <asp:ListItem Value="11">11 of Month</asp:ListItem>
             <asp:ListItem Value="12">12 of Month</asp:ListItem>
             <asp:ListItem Value="13">13 of Month</asp:ListItem>
             <asp:ListItem Value="14">14 of Month</asp:ListItem>
             <asp:ListItem Value="15">15 of Month</asp:ListItem>
             <asp:ListItem Value="16">16 of Month</asp:ListItem>
             <asp:ListItem Value="17">17 of Month</asp:ListItem>
             <asp:ListItem Value="18">18 of Month</asp:ListItem>
             <asp:ListItem Value="19">19 of Month</asp:ListItem>
             <asp:ListItem Value="20">20 of Month</asp:ListItem>
             <asp:ListItem Value="21">21 of Month</asp:ListItem>
             <asp:ListItem Value="22">22 of Month</asp:ListItem>
             <asp:ListItem Value="23">23 of Month</asp:ListItem>
             <asp:ListItem Value="24">24 of Month</asp:ListItem>
             <asp:ListItem Value="25">25 of Month</asp:ListItem>
             <asp:ListItem Value="26">26 of Month</asp:ListItem>
             <asp:ListItem Value="27">27 of Month</asp:ListItem>
             <asp:ListItem Value="28">28 of Month</asp:ListItem>
             <asp:ListItem Value="29">29 of Month</asp:ListItem>
             <asp:ListItem Value="30">30 of Month</asp:ListItem>
             <asp:ListItem Value="31">31 of Month</asp:ListItem>
             <asp:ListItem Value="32">1st monday of Month</asp:ListItem>
             <asp:ListItem Value="33">2nd monday of Month</asp:ListItem>
             <asp:ListItem Value="34">3rd monday of Month</asp:ListItem>
             <asp:ListItem Value="35">4th monday of Month</asp:ListItem>
             <asp:ListItem Value="36">1st tuesday of Month</asp:ListItem>
             <asp:ListItem Value="37">2nd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="38">3rd tuesday of Month</asp:ListItem>
             <asp:ListItem Value="39">4th tuesday of Month</asp:ListItem>
             <asp:ListItem Value="40">1st wednesday of Month</asp:ListItem>
             <asp:ListItem Value="41">2nd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="42">3rd wednesday of Month</asp:ListItem>
             <asp:ListItem Value="43">4th wednesday of Month</asp:ListItem>
             <asp:ListItem Value="44">1st thursday of Month</asp:ListItem>
             <asp:ListItem Value="45">2nd thursday of Month</asp:ListItem>
             <asp:ListItem Value="46">3rd thursday of Month</asp:ListItem>
             <asp:ListItem Value="47">4th thursday of Month</asp:ListItem>
             <asp:ListItem Value="48">1st friday of Month</asp:ListItem>
             <asp:ListItem Value="49">2nd friday of Month</asp:ListItem>
             <asp:ListItem Value="50">3rd friday of Month</asp:ListItem>
             <asp:ListItem Value="51">4th friday of Month</asp:ListItem>
             <asp:ListItem Value="52">1st saturday of Month</asp:ListItem>
             <asp:ListItem Value="53">2nd saturday of Month</asp:ListItem>
             <asp:ListItem Value="54">3rd saturday of Month</asp:ListItem>
             <asp:ListItem Value="55">4th saturday of Month</asp:ListItem>
             <asp:ListItem Value="56">1st sunday of Month</asp:ListItem>
             <asp:ListItem Value="57">2nd sunday of Month</asp:ListItem>
             <asp:ListItem Value="58">3rd sunday of Month</asp:ListItem>
             <asp:ListItem Value="59">4th sunday of Month</asp:ListItem>
             <asp:ListItem Value="60">Every 3 Months</asp:ListItem>
             <asp:ListItem Value="61">Every 6 Months</asp:ListItem>
             <asp:ListItem Value="62">Year</asp:ListItem>
         </asp:DropDownList>
   </td>
   </tr> 
          
 
 
 
 
          
          
 <tr>
 <td>
 new rent begins &nbsp;(mm / dd / yyyy) &nbsp;&nbsp;: &nbsp;
<asp:DropDownList ID="ddl_rl_date_begin_m" runat="server">
<asp:ListItem Value="0">Month</asp:ListItem>
<asp:ListItem Value="1">January</asp:ListItem>
<asp:ListItem Value="2">February</asp:ListItem>
<asp:ListItem Value="3">March</asp:ListItem>
<asp:ListItem Value="4">April</asp:ListItem>
<asp:ListItem Value="4">May</asp:ListItem>
<asp:ListItem Value="6">June</asp:ListItem>
<asp:ListItem Value="7">July</asp:ListItem>
<asp:ListItem Value="8">August</asp:ListItem>
<asp:ListItem Value="9">September</asp:ListItem>
<asp:ListItem Value="10">October</asp:ListItem>
<asp:ListItem Value="11">November</asp:ListItem>
<asp:ListItem Value="12">December</asp:ListItem>
</asp:DropDownList>&nbsp; / &nbsp;
<asp:DropDownList ID="ddl_rl_date_begin_d" runat="server">
    <asp:ListItem Value="0">Day</asp:ListItem>
    <asp:ListItem>1</asp:ListItem>
    <asp:ListItem>2</asp:ListItem>
    <asp:ListItem>3</asp:ListItem>
    <asp:ListItem>4</asp:ListItem>
    <asp:ListItem>5</asp:ListItem>
    <asp:ListItem>6</asp:ListItem>
    <asp:ListItem>7</asp:ListItem>
    <asp:ListItem>8</asp:ListItem>
    <asp:ListItem>9</asp:ListItem>
    <asp:ListItem>10</asp:ListItem>
    <asp:ListItem>11</asp:ListItem>
    <asp:ListItem>12</asp:ListItem>
    <asp:ListItem>13</asp:ListItem>
    <asp:ListItem>14</asp:ListItem>
    <asp:ListItem>15</asp:ListItem>
    <asp:ListItem>16</asp:ListItem>
    <asp:ListItem>17</asp:ListItem>
    <asp:ListItem>18</asp:ListItem>
    <asp:ListItem>19</asp:ListItem>
    <asp:ListItem>20</asp:ListItem>
    <asp:ListItem>21</asp:ListItem>
    <asp:ListItem>22</asp:ListItem>
    <asp:ListItem>23</asp:ListItem>
    <asp:ListItem>24</asp:ListItem>
    <asp:ListItem>25</asp:ListItem>
    <asp:ListItem>26</asp:ListItem>
    <asp:ListItem>27</asp:ListItem>
    <asp:ListItem>28</asp:ListItem>
    <asp:ListItem>29</asp:ListItem>
    <asp:ListItem>30</asp:ListItem>
    <asp:ListItem>31</asp:ListItem>

</asp:DropDownList>&nbsp; / &nbsp;
 
 <asp:DropDownList ID="ddl_rl_date_begin_y" runat="server">
<asp:ListItem Value="0">Year</asp:ListItem>
<asp:ListItem>2007</asp:ListItem>
<asp:ListItem>2008</asp:ListItem>
<asp:ListItem>2009</asp:ListItem>
<asp:ListItem>2010</asp:ListItem>
<asp:ListItem>2011</asp:ListItem>
<asp:ListItem>2012</asp:ListItem>
<asp:ListItem>2013</asp:ListItem>
<asp:ListItem>2014</asp:ListItem>
<asp:ListItem>2015</asp:ListItem>
</asp:DropDownList> </td>
 </tr> 
 
 
     <tr>
         <td bgcolor="#FFFFCC" style="color: #000000">
             <b>new rent amount begin date must be greater than&nbsp;&nbsp;&nbsp;&nbsp; :
             <asp:Label ID="lbl_current_rl_date_begin2" runat="server"></asp:Label>
             </b>
         </td>
     </tr>
 
 
<tr>
<td>
    &nbsp;</td>
</tr>
 
 
     <tr>
         <td>
             <asp:Button ID="btn_continue" runat="server" OnClick="btn_continue_Onclick" 
                 Text="Continue" />
             <br />
             <asp:HiddenField ID="hd_min_rent_begin_date_m" runat="server" />
             <asp:HiddenField ID="hd_min_rent_begin_date_d" runat="server" />
             <asp:HiddenField ID="hd_min_rent_begin_date_y" runat="server" />
             <br />
         </td>
     </tr>
 
 
 <tr><td><div ID="txt_link" runat="server" /></td></tr> 
 
 </table>
  
</asp:Panel>      
  <div id="txt_message" runat="server" />
    <!--Hidden fields BEGIN SECTION 1-->
         <input type="hidden" id="hd_home_id" runat="server" />
         <input type="hidden" id="hd_unit_id" runat="server" />
         <input type="hidden" id="hd_current_tu_id" runat="server" />
         <!--Hidden fields END SECTION 1-->
           <!--Hidden fields temporaire-->
          <input type="hidden" id="didden" runat="server" />
           
</asp:Content>