﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="mp_janitor.master.cs" Inherits="user_uc_mp_janitor" %>
<%@ Register Src="~/user/uc/janitor/uc_adm_lmenu.ascx" TagName="uc_adm_lmenu" TagPrefix="uc_adm_lmenu" %>
<%@ Register Src="~/user/uc/janitor/uc_content_menu.ascx" TagName="uc_content_menu" TagPrefix="uc_content_menu" %>
<% // Register TagPrefix="oem" Namespace="OboutInc.EasyMenu_Pro" Assembly="obout_EasyMenu_Pro" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

 <link href="../manager/uc/leftmenu.css" rel="Stylesheet" />
 <link href="user_mp.css" rel="Stylesheet" />
 
     <title>Real Estate Management system</title>
       

    <asp:ContentPlaceHolder id="head" runat="server">
     
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
   <!-- Begin Wrapper -->
 <div id="wrapper">
  
 
 
  <!-- Begin Header -->
  <div id="header">
  
 
           
           <div style="background:#303030 url('/login2_files/logo_bg.gif'); 
               /*THEME CHANG HERE*/height:40px; width:98%;">
             
                 <div style="float:left;width:30px; height:40px;color:#fff;vertical-align:middle;text-align:left;font-size:20px;
                     font-family:georgia;font-weight:bold">
                      &nbsp;</div>
                <div style="float:left;">
                      <img src="/login2_files/logo.png" alt="logo" style="width: 166px"/></div>
                      
                      
               <div style=" padding-top:10px;float:left;color:#636363;font-weight:lighter;font-size:12pt;vertical-align:middle; font-family:Vrinda;">
                      <b>Hello <%=Session["fname"] %></b>&nbsp;! </div>
 
 
              <div style="margin:0pt auto ; ">
             <ul class="utility_navigation">
             <li class="first"> <a href="/manager/man/man_default.aspx" class="grey">Setup</a></li>
             <li> <a href="/support.aspx" class="grey">Support</a></li>
             <li id="li_contact" runat="server"> <a href="/user/default/contact/contact_list.aspx?categ=0&l=" id="link_contact" runat="server" class="grey">BusinessContact</a></li> 
             <li> <a href="/user/logout.aspx"  class="grey">Logout</a> </li><!--<asp:Label ID="lbl_project_name" runat="server"  Text="<%$ Resources:Resource, lbl_project_name %>"  CssClass="title2"/>-->
             </ul>
             </div>
             
             </div>

            
  
  
   </div>
  <!-- End Header -->
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- Begin Navigation -->
  <div class="navigation" > 
             <div style="width:87%; margin:0pt auto; padding-left:0px; height: 15px;">
                  <ul id="zUL">
                  <li><asp:HyperLink ID="ds" NavigateUrl="name_profile.aspx" Text="<%$ Resources:Resource, lbl_gl_home %>" runat="server" /></li>
                  <li><asp:HyperLink ID="HyperLink4" NavigateUrl="janitor/incident/incident_list.aspx" Text="Incidents" runat="server" /></li>
                  <li><asp:HyperLink ID="HyperLink5" NavigateUrl="janitor/workorder/wo_list.aspx" Text="Work Order" runat="server" /></li>
                  <li><asp:HyperLink ID="HyperLink1" NavigateUrl="janitor/appliance/appliance_list.aspx" Text="Inventory" runat="server" /></li>
                  <li><asp:HyperLink ID="HyperLink9" NavigateUrl="/sinfo/user/default/files/files_default.aspx" Text="Documents" runat="server" /></li>
                  </ul> 
             </div>
    </div>
  <!-- End Navigation -->
  
  
  
  
  
  
  
  


<div class="local_navigation" > 
             <div style="width:87%; margin:0pt auto; padding-left:0px; height: 50px;">
                   <uc_content_menu:uc_content_menu id="uc_content_menu" runat="server" />
             </div>
 </div> 
  
  
  
  
  
  
  
  
  <!-- Begin Left Column -->
  <div id="leftcolumn"> 
    </div>
  <!-- End Left Column -->
  
  
  
  
  
  
  
  
  
  
  
 
  <!-- Begin Content Column -->
  <div id="content"> 
  
  
  <br /><br />
    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
    
    </asp:ContentPlaceHolder>
  </div>
  <!-- End Content Column -->
  
  
  
  
  

  <!-- End right Column -->
  <div id="rightcolumn"> 
      <uc_adm_lmenu:uc_adm_lmenu id="uc_adm_lmenu" runat="server" />
    </div>
  <!-- End right Column -->  




  <!-- Begin Footer -->
  <div id="footer"> This is the Footer </div>
  <!-- End Footer -->
 </div>
<!-- End Wrapper -->
    
    
    </form>
</body>
</html>